<%= render :partial => "dashboard_datatables" %>
<h2>Words added Daily</h2>
<table class="table table-striped " id="words_added_daily">
  <tfoot style="display: table-header-group;">
    <tr>
      <th>Language Name</th>
      <th>Date</th>
      <th>Words Added</th>
    </tr>
  </tfoot>
  <thead>
    <tr class="table-heading-row">
      <th>Language Name</th>
      <th>Date</th>
      <th>Words Added</th>
    </tr>
  </thead>
  <tbody class="table-row-details">
    <% @words_added_daily.each do |key, value| %>
      <% value.each do |date, count| %>
        <tr>
          <td><%= key %></td>
          <td><%= date %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  var table = $('#words_added_daily').DataTable( {
    searching: true,
    lengthChange: false,
    showNEntries: false,
    pageLength: 10,
    order: [],
    responsive: {
        details: false
    },
    dom: '<"col-md-6 col-sm-6"B><"col-md-6 col-sm-6"f><"col-md-12 col-sm-12"p>rti',
    buttons: [
              {
                  extend: 'copyHtml5',
                  title: formatDatatableTitle('words-added-daily'),
                  exportOptions: {
                      columns: [ 0, 1, 2 ]
                  }
              },
              {
                  extend: 'csvHtml5',
                  title: formatDatatableTitle('words-added-daily'),
                  exportOptions: {
                      columns: [ 0, 1, 2 ]
                  }
              },
              {
                  extend: 'excelHtml5',
                  title: formatDatatableTitle('words-added-daily'),
                  exportOptions: {
                      columns: [ 0, 1, 2 ]
                  }
              },
              {
                  extend: 'pdfHtml5',
                  title: formatDatatableTitle('words-added-daily'),
                  exportOptions: {
                      columns: [ 0, 1, 2 ]
                  }
              }
          ]
      
  });

  var new_table = $('#words_added_daily').dataTable();

  $('#words_added_daily tfoot th').each( function () {
      var title = $(this).text();
      $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
  });

  table.columns().every( function () {
      var that = this;

      $( 'input', this.footer() ).on( 'keyup change', function () {
          if ( that.search() !== this.value ) {
              that
                  .search( this.value )
                  .draw();
          }
      });
  });

  });
</script>
