<%= render :partial => "errors" %>

<%= render :partial => "tabs" %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active common-class" id="LegacyUpload">
      <%= render :partial => "flagged_illustrations" ,:locals => {:flagged_illustrations => @flagged_illustrations}%>
  </div>
</div>

