<%= render :partial => "errors" %>

<%= render :partial => "analytics_tabs" %>


<div id="languages-added">
  <%= render :partial => "languages_added", :locals => {:languages_added => @languages_added}%>
</div>