<%= render :partial => "errors" %>

<%= render :partial => "analytics_tabs" %>


<div id="used-illustrations">
  <%= render :partial => "most_viewed_illustrations", :locals => {:illustrations => @most_viewed_illustrations}%>
</div>