<%= render :partial => "errors" %>
<%= render :partial => "reviewer_tabs" %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick"%>

<div id="reviewer_graphs">
<%= render :partial => "reviewer_graphs"%>
</div>
