
<%= render :partial => "errors" %>

<%= render :partial => "tabs" %>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active common-class" id="Categories">
    <%= render :partial => "story_categories" %>
  </div>

</div>

