
<%= render :partial => "dashboard_datatables" %>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active common-class" id="LegacyUpload">
      <%= render :partial => "translate_stories" ,:locals => {:stories => @stories}%>
  </div>
</div>
