<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      <div class="arch_year">
        <div class="btn-group"><label>Select Year</label></div>
        <div class="btn-group sel_year">
          <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">2017<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="in_the_news">2018</a></li>
            <li><a href="archive">2017</a></li>
            <li><a href="news_arch_2016">2016</a></li>
            <li><a href="news_arch_2015">2015</a></li>
          </ul>
        </div>
      </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">Kerosene Digital</h3>
              <strong>December 08, 2017</strong>
              <p><a href="http://www.kerosene.digital/get-digital-kids-love-nature-prathams-phone-stories/" target="_blank">How to get your digital kids to love nature?</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">The Economic Times</h3>
              <strong>December 02, 2017</strong>
              <p><a href="https://economictimes.indiatimes.com/opinion/interviews/storyweaver-pushes-our-idea-of-book-in-every-childs-hand-suzanne-singh-chairperson-pratham-books/articleshow/61892230.cms" target="_blank">StoryWeaver pushes our idea of book in every child's hand: Suzanne Singh, Chairperson, Pratham Books</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">The Hindu</h3>
              <strong>November 30, 2017</strong>
              <p><a href="http://www.thehindu.com/children/cat-in-the-wild/article20893020.ece" target="_blank">Cat in the wild</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">The Hindu</h3>
              <strong>November 25, 2017</strong>
              <p><a href="http://www.thehindu.com/children/hush-listen/article20891006.ece" target="_blank">Hush! Listen</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">The Hindu</h3>
              <strong>November 16, 2017</strong>
              <p><a href="http://www.thehindu.com/children/take-a-walk-in-the-jungle/article20193577.ece" target="_blank">Take a walk in the jungle</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">Scroll.in</h3>
              <strong>November 14, 2017</strong>
              <p><a href="https://video.scroll.in/857784/childrens-day-a-publisher-is-designing-stories-for-mobile-phones-to-get-more-children-to-read" target="_blank">Children's Day: A publisher is designing stories for mobile phones to get more children to read</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">The Times of India</h3>
              <strong>November 14, 2017</strong>
              <p><a href="http://epaper.timesgroup.com/Olive/ODN/TimesOfIndia/shared/ShowArticle.aspx?doc=TOIBG%2F2017%2F11%2F14&entity=Ar00805&sk=923F4933&mode=text" target="_blank">PhoneStories to tell children tales of the wild</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">Google.org</h3>
              <strong>September 08, 2017</strong>
              <p><a href="https://www.blog.google/topics/google-org/celebrating-international-literacy-day/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2FMKuf+%28The+Keyword+%7C+Official+Google+Blog%29" target="_blank">Celebrating International Literacy Day</a></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont">
              <h3 class="pressLink_color">The Hindu</h3>
              <strong>September 01, 2017</strong>
              <p><a href="http://www.thehindu.com/news/national/karnataka/pratham-books-bags-library-of-congress-international-literacy-award/article19612559.ece" target="_blank">Pratham Books bags Library of Congress International Literacy Award</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content news_read_cont news_cont_border">
              <h3 class="pressLink_color">Torchlight</h3>
              <strong>June 01, 2017</strong>
              <p><a href="http://journal.bookwormgoa.in/open-sim-sim-digital-doors-to-community-libraries/?utm_content=buffer23070&utm_medium=social&utm_source=plus.google.com&utm_campaign=buffer" target="_blank">Open Sim-Sim: Digital Doors to Community Libraries</a></p>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  });
</script>
