<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">      	  
        <div class="col-md-12 col-sm-12">
        <h3>Careers</h3>
          <p>Passionate about books? About children? About giving a chance to every child in India to have a book of her own?</p>
          <p>Join Pratham Books on its mission of 'a book in every child’s hand'. We are looking for passionate motivated individuals to expand our team. You can apply for the any of the openings below by sending your resume to <a href="mailto:careers@prathambooks.org"> careers@prathambooks.org</a> and mentioning the position you are applying for in the subject line.</p>
          <br/><br/>
          <p><a href="https://storyweaver.org.in/v0/blog_posts/352" target="_blank">Communication Manager - StoryWeaver</a></p>
          <p><a href="https://storyweaver.org.in/v0/blog_posts/294-we-are-looking-for-a-project-manager" target="_blank">Project Manager</a></p>
          <p><a href="https://storyweaver.org.in/v0/blog_posts/350" target="_blank">Assistant Project Manager</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

