<div class="row about-row noborder">  
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %>
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9 faq-left-ques abt-do-dont">

            <h3>Contributor Guidelines</h3>
            <p>Dear Contributor! On StoryWeaver you have the freedom to upload your own images, weave new stories and translate them to a language you are fluent in and share them with a global audience. But with great freedom comes great responsibility! StoryWeaver is a community platform intended to be creative, clean, enjoyable and child-friendly. We recommend that you go through our contributor guidelines before you begin your StoryWeaver journey. Do remember, that we have the right to pull down any content - original story, translation, image, re-level - that does not abide by our community guidelines. StoryWeaver reserves the right to put under review accounts that infringe our guidelines and continued infringement of the following guidelines will lead to suspension of user accounts.</p>

            <p id="dos1" class="faq-ques"></p>
            <h3>Writing a Story</h3>
            <p>When you're creating a story on StoryWeaver, do keep in mind that we do not allow public stories or comments that:</p>
            <ul>
              <li style="clear: both;">use copyrighted ideas, characters, or intellectual property that belong to another person or entity (this includes fanfiction, song lyrics, movie/book characters) as your own or as part of your own creation.</li>
              <li>contain explicit or provocative content or that depicts overly-detailed or mature portrayals of violence (to people or animals) or use of language (e.g. profanities), physical/romantic relationships, self-harm, or substance abuse.</li>
              <li>promote hate speech, discrimination, or intolerance based on language, religion or region.</li>
              <li>push personal agendas, or specific moral or religious belief systems.</li>
              <li>are designed to bully, marginalise, harass, insult, or attack specific users or groups.</li>
              <li>contain fictionalized portrayals of real people (like friends, famous people living or otherwise, or famous/historical figures).</li>
              <li>include advertisements, links to commercial websites, or SPAM.</li>
            </ul>
            
            <b>However, please do</b>
            <ul>
              <li style="clear: both;">encourage other Weavers. Like stories that made you smile, cry, or think.</li>
              <li>be nice. We're nice. And we love other nice people.</li>
              <li>tag your stories. As the pool of stories grows, tags help other Weavers find your work.</li>
              <li>remember that StoryWeaver reserves the right to delete any stories that do not comply with our guidelines.</li>
              <li><a href="https://storyweaver.org.in/v0/blog_posts/244" target="_blank">update your profile page</a> and use it as an online portfolio of your written work.</li>
            </ul>
            <div class="section-divider" style="margin-top: 1px;"></div>

            <p id="dos2" class="faq-ques"></p>
            <h3>Translating a Story</h3>
            <p>Thank you for being an integral part of our journey in taking more books to more children in more languages. Here are a few guidelines to keep in mind before you translate or publish your translation. We recommend you DO NOT </p>
            <ul>
              <li style="clear: both;">Change the names of characters. Unless names have an alternate meaning in the language you are translating to, we recommend retaining the original names of characters. They can be wonderful conversation starters and a way to start talking about diversity with children.</li>
              <li>Translate idioms and phrases, unless you're absolutely sure they work in the language you are translating to.</li>
              <li>Use English words in translation. Where the translated words are very difficult to understand or use, they should be replaced with easier words from the same language.</li>
              <li>Use words or phrases that are gender insensitive, stereotypical or gender biased.</li>
              <li>Alter cultural references. It is essential for expanding young readers' field of imagination. </li>
              <li>Get carried away by the original story and end up following the pattern of English language sentence construction. Efforts are needed to avoid this kind of mistake and get the right flow of the target language.</li>
              <li>Transliterate sounds like 'CRASH! BADA BOOM! THUD!' as is in your translated story, but instead adapt them to the target language. </li>
            </ul>
            
            <b>Here are some best practices we recommend to translators:</b>
            <ul>
              <li style="clear: both;">Every book has a personality, mood and tone. These qualities must be retained in the translation. The translation should go beyond translating mere words.</li>
              <li>Check if your translation is child-friendly and appropriate to the Reading Level of the original story. Try to replace less common words and phrases with ones that children hear and use.</li>
              <li>Check all your spellings and punctuations!</li>
              <li>If absolutely necessary, deviation from the original is allowed if it adds value to the translation. But do this cautiously and with care.</li>
              <li>When you finish the translation, read out loud to yourself as well as to someone else. Listening to the flow and rhythm of the language makes all the difference. You could come up with more appropriate words or construction. Also, you can remove bits that sound convoluted and unacceptable in the target language.</li>
              <li>Remember, the child who reads the translated book may or may not read the original story. It is very important therefore that the translation should be enjoyable, understandable and logical in itself, rather than a version artificially close to the original.</li>
              <li>Once you've published your translation share it on social media so that more children can enjoy and benefit from it</li>
              <li>Update your Profile page and use it as an online portfolio of your translations.</li>
            </ul>
            <div class="section-divider" style="margin-top: 1px;"></div>

            <p id="dos3" class="faq-ques"></p>
            <h3>Uploading an image</h3>
            <b>How can I use StoryWeaver?</b>
            <ul>
              <li style="clear: both;">The image or photograph has not been created or taken by you. If it belongs to a friend or family member the image should be uploaded by them via their own StoryWeaver account. This ensures the image is attributed to them. Remember, all images uploaded to StoryWeaver automatically come under the CC-BY4.0 license, so this is very important.</li>
              <li>You have downloaded the images from search engine results like Google Search, Wikipedia, clip art galleries or other online image repositories. Even if these images are under an open license please do not upload them to StoryWeaver.</li>
              <li>You have scanned the images from books, magazines or other print sources</li>
              <li>The image or photograph is under copyright.</li>
              <li>Photographs shows the faces of family members especially of minors. Under the CC-BY4.0 license images can be downloaded and used by our community. We cannot control where and how these images are used.</li>
              <li>They contain explicit or provocative content that depicts portrayals of violence (to people or animals) use of profane language, physical/romantic relationships, self-harm, or substance abuse</li>
              <li>They promote hate speech, discrimination, or intolerance based on language, religion or region.</li>
              <li>Push personal agendas, or specific moral or religious belief systems.</li>
              <li>Are designed to bully, marginalise, harass, insult, or attack specific users or groups.</li>
              <li>contain fictionalized portrayals of real people (like friends, famous people living or otherwise, or famous/historical figures).</li>
              <li>include advertisements, links to commercial websites, or SPAM.</li>
              <li>There is text embedded on the image. StoryWeaver's community is spread across the world and your images could be used in stories in many languages. Text embedded on an image in one language can not be translated to another. </li>
            </ul>
            
            <b>Please Do</b>
            <ul>
              <li style="clear: both;">Remember that by uploading an image to StoryWeaver it automatically falls under the CCBY 4.0 license.</li>
              <li>Make sure they are hi-res and are jpegs or png format files.</li>
              <li>Ensure images are in the RGB format and are not CMYK.</li>
              <li>Update your profile page and use it as an online portfolio of your work.</li>
              <li>Share your work on Social Media to let more people find it and use it!</li>
            </ul>
           </div>
           <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="250" data-offset-top="200">
                <ul>
                     <li class="active"><a href="#dos1">Writing a Story</a></li>
                     <li><a href="#dos2">Translating a Story</a></li>
                     <li><a href="#dos3">Uploading an image</a></li>
                 </ul>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
