<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
        <div class="col-md-12 col-sm-12">
          <p><span class="contact-header">Head Office</span><br/>
            Pratham Books<br/>
            House No. 621,Second Floor, 5th Main,<br/>
            OMBR Layout, Banaswadi,<br/>
            Bengaluru – 560043,<br/>
            Karnataka India. <br/>
            Tel: +91-80-42052574, 41159009</p>
          <p><span class="contact-header">Branch Office</span><br/>
            B-4/219, Ground Floor<br/>
            Safdarjung Enclave,<br/>
            New Delhi-110029<br/>
            Tel: +91-11-41042483, 21682683 </p><br/>
          <div class="address-icons">
          <p><i class="fa fa-envelope"></i>&nbsp;Email: <a href="mailto:donateabook@prathambook.org">contact@storyweaver.org.in</a>, <a href="mailto:help@storyweaver.org.in">help@storyweaver.org.in</a></p><br/>
          <p><i class="fa fa-facebook"></i>&nbsp;Facebook: <a href="https://www.facebook.com/pbstoryweaver" target="_blank"> https://www.facebook.com/pbstoryweaver</a></p>
          <p><i class="fa fa-twitter"></i>&nbsp;Twitter: <a href="https://twitter.com/PBStoryWeaver" target="_blank">https://twitter.com/PBStoryWeaver</a></p><br/>
          <p><i class="fa fa-rss"></i>&nbsp;Blog: <a href="https://storyweaver.org.in/blog" target="_blank">https://storyweaver.org.in/blog</a></p>
          <p><i class="fa fa-shopping-cart"></i>&nbsp;E store: <a href="http://store.prathambooks.org" target="_blank">http://store.prathambooks.org/</a></p>
          <p><i class="fa fa-youtube-play"></i>&nbsp;YouTube Channel: <a href="https://www.youtube.com/channel/UCH9_ahl5Vu8P9tElauPWahg" target="_blank">http://bit.ly/2q2uNNN</a></p>
          <p><i class="fa fa-instagram"></i>&nbsp;Instagram: <a href="https://www.instagram.com/pbstoryweaver/" target="_blank">https://www.instagram.com/pbstoryweaver/</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
