<div class="row about-row noborder">
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      <h3 class="text-center">UNDER CONSTRUCTION</h3>
      </div>
    </div>
  </div>
</div>

