<div class="row about-row noborder">
      <div class="home-full-border about-border">
            <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
                  <div class="col-md-2 col-sm-2 nopadding left-menu">
                    <%= render "left_menu" %>
                  </div>
                  <div class="col-md-10 col-sm-10 nopadding right-content-abt">
                        <div class="col-md-12 col-sm-12">
                              <div class="col-md-9 col-sm-9 faq-left-ques">
                                    <p id="faq1" class="faq-ques"></p>
                                    <h3>I am an ILLUSTRATOR</h3>
                                    <b>How will I benefit from contributing to StoryWeaver?</b>
                                    <p>StoryWeaver is a platform for anyone interested in reading and creating multilingual children's books. From educators and publishers, to parents and authors, all stakeholders will use this collaborative platform to develop a rich digital repository of diverse children's stories. StoryWeaver is an ideal place for you to showcase your work and be assured that it will receive a lot of visibility. In the past, Pratham Books has generated more opportunities of work for illustrators through their CC work. Read Megha Vishwanath's story here. Also remember that every illustration you upload has the potential to inspire a new story and that by contributing to StoryWeaver's image bank, you are helping build a reading India.</p>
                                    
                                    <b>How can I upload my illustrations?</b>
                                    <p>It's really simple. Follow these  steps to upload your illustrations:
                                    <p>1.Click on the 'Images' tab and select Upload Image</p>
                                    <p>2.Follow the simple steps mentioned and you are done. Thank you!</p>
                                    
                                    <b>What does it mean to have my illustrations be licensed under CC-BY?</b>
                                    <p>CC-BY is a very open and accommodating license. It lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. It is also likely to lead to new derivatives of your existing work. CC-BY is best suited to StoryWeaver's mission of creating a repository of free children's stories in open formats. You can read more about this license <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">here</a>.</p>

                                    <b>How will my illustrations be used on StoryWeaver?</b>
                                    <p>Your illustrations will be available to users of StoryWeaver for creation of new content. Our users - primarily teachers, librarians, writers and parents - can create stories around your illustrations, make flash cards, use it in magazines - the possibilities are endless.</p>
                                               
                                    <b>Will I be able to see how my illustration is being used by users of StoryWeaver?</b>
                                    <p>Yes. Here are 3 ways in which you will be able to see how far and wide your work has travelled:</p>
                                    <p>1.Under the 'My Illustrations' tab in your profile page you will get information about all your illustrations and number of stories it has been used in.</p>
                                    <p>2.Through the notification email that you would have subscribed for. (If you haven't, Subscribe now)</p>
                                    <p>3.You can also do a free flow search in our Search Box with the illustration's title or your name to find its footprint across StoryWeaver.</p>
                                               
                                    <b>Can I sell my illustration to another organization?</b>
                                    <p>Sure you can. The illustration is ultimately your work and you have every right to make a commercial gain out of it. However since the work is licensed under CC-BY the organisation is not obligated to pay you. Our suggestion in this case is to let the organisation know about StoryWeaver and its objective (building free story repository to the children in India with no access to reading material) and persuade them to compensate you for your efforts. Please note that StoryWeaver will not intervene in this matter.</p>
                                               
                                    <b>Will I get paid if another organization uses my illustration?</b>
                                    <p>As a good practice an organization using your work for commercial gains should pay you, although the CC BY license under which all content is licensed on StoryWeaver does not bind them to do so.</p>
                                                
                                    <b>Will I get attributed for my illustration?</b>
                                    <p>On StoryWeaver, we ensure that every illustrator gets due credit for their work. Your name will appear against your original artwork, and even when it has been used by others. But it is difficult for us to ensure that your work gets attribution once it leaves StoryWeaver. However, attribution is a very important component of the CC-BY license and we will encourage our users to stick to that.</p>
                                                
                                    <b>What format should I submit my illustrations in?</b>
                                    <p>We welcome illustrations in JPG and PNG formats only as of now.</p>
                                                
                                    <b>What styles should I submit my illustrations in?</b>
                                    <p>You can use any style of your choice. Take a look at our existing categories for illustration styles if you need a point of reference.</p>
                                    <p>Whatever style of illustration you choose, please ensure that you upload an illustration without any text embedded on it. All illustrations uploaded to StoryWeaver become part of a larger openly licensed image bank. We hope that many community members will find and use your illustration in their own work. For this to happen, please do follow this guideline!</p>
                                                
                                    <b>Is there a limit to the number of illustrations I can upload?</b>
                                    <p>Absolutely not. The more, the merrier.</p>
                                                
                                    <b>In what size should I submit my illustrations?</b>
                                    <p>For best results, please submit high-resolution images that are at least 300dpi or higher. This is to ensure that the image can be resized in different layouts, without compromising the quality of your image. In case you are scanning an illustration, we suggest that you capture your image using a high quality setting. Also, please do not upload images with any text embedded on them, so that other story weavers can also use your illustrations in their stories.</p>
                                               
                                    <b>Do I need to be a professional illustrator to be able to submit my illustrations?</b>
                                    <p>If you think your illustration is good enough to be used in a story or a resource material, we welcome you to submit your illustrations. A degree or past experience is inconsequential.</p>
                                                
                                    <b>Will my illustrations be modified?</b>
                                    <p>By modification, if you mean that the illustration can be cut and used or mixed with another illustration, the answer is NO. However, depending upon the story, a user might want to use a part of your illustration (let’s say just the girl from an illustration which has a jungle and a boy too), they could do the same by zooming in or placing the illustration in a specific manner on the story page.</p>
                                               
                                    <b>Can I specify how I want to be attributed?</b>
                                    <p>Yes. While uploading your illustration, a form pops up asking for information regarding the illustration you are about to upload. This form has a tab for 'Illustration Attribution' which allows you to write the attribution for your own work, as you would like for it to appear.</p>
                                    <div class="section-divider"></div>

                                    <p id="faq2" class="faq-ques"></p>
                                    <h3>I am a WRITER</h3>
                                    <b>How will I benefit from writing on StoryWeaver?</b>
                                    <p>StoryWeaver is a platform where people passionate about children's books and reading can collaborate. Educators, parents, publishers, writers, and illustrators browse through stories on StoryWeaver.</p>
                                    <p>Since a digital story has no boundaries, your story can be read by people across the world. Apart from offering more visibility, StoryWeaver also gives you the opportunity to showcase your work to publishers who are always scouting for new authors.You could also collaborate with illustrators to bring out a new and exciting work or choose to self-publish.</p>
                                    <p>Finally, every story that you write on StoryWeaver adds to the treasure house of stories for children to read. You will be helping us build a reading India.</p>
                                                
                                    <b>What does it mean to have my story be licensed under CC-BY?</b>
                                    <p>CC-BY is a very open and accommodating license. It lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. It also means new interpretations, and new derivatives of your work. CC-BY is best suited to StoryWeaver's mission of creating a repository of free children’s stories in open formats. You can read more about this license <a href="https://storyweaver.org.in/faqs" target="_blank">here</a>.</p>
                                                
                                    <b>What age-group should I write my stories for?</b>
                                    <p>StoryWeaver is a repository of stories for children, so you will be writing for anyone aged between 3 and 14. You can look at our <a href="/reading_levels" target="_blank">Reading Levels</a> to decide which age group your story is most suited for.</p>
                                                
                                    <b>Is there a word limit while writing stories?</b>
                                    <p>The story creator does not enforce a word limit. However, each layout is optimised for varying word limits. We encourage you to look at the guidelines for each Reading Level and use the recommended word limits when writing stories.</p>
                                                
                                    <b>How do I choose the reading level?</b>
                                    <p>Read about Reading Levels here. Choose the level which your story is most suited for.</p>
                                                
                                    <b>How will people get to read my story?</b>
                                    <p>1.When you create a story, you will be required to put it under a category and attach tags to it. This information will help users find your story more easily. For example, if a user is looking for animal stories, and your story is filed under the 'Animal Stories' category and has tags like Jungle, Tiger, Monkey etc, the user will find your story as soon as she applies these filters or carries out a search.</p>  
                                    <p>2.Similarly, users can find your story by searching for your name (author name) in the search box.</p>
                                    <p>3.We will also be featuring stories by category on the home page (new, popular, theme, etc) from time to time, so you will get more visibility there.</p>
                                                
                                    <b>How can I keep track of derivatives of my story or/and see the number of reads?</b>
                                    <p>1.Under the 'My Stories' tab on your profile page, you will get information about: stories you have created, the number of times they have been read and its derivatives (translated or re-leveled stories).</p>
                                    <p>2.Through the notification email that you would have subscribed for. (If you haven’t yet subscribed, do it now!)</p>
                                    <p>3.You can also do a free-flow search in our search box with the story's title or your name to find its footprint across StoryWeaver. The original author's name will appear in all derivative versions.</p>
                                                
                                    <b>Can I sell my story to another organisation?</b>
                                    <p>Sure you can. All stories on the platform will be licensed under CC-BY which means that you can send your stories to other publishers too. We only ask that you attribute the original story on StoryWeaver. Also, publishers can also pick up the story from StoryWeaver and use them. The organization is not obligated to pay you. Our suggestion in this case is to let the organization know about StoryWeaver and its objective (building free story repository to the children in India with no access to reading material), and persuade them to compensate you for your efforts. Please note that StoryWeaver will not intervene in this matter.</p>
                                     
                                    <b>Will I get credit for my story?</b>
                                    <p>On StoryWeaver, you will get credit for your story as well its derivatives. When your story travels outside the platform, our control diminishes but we urge EVERY user of the platform to give due credit to the authors and illustrators and attribute the stories correctly.</p>
                                    
                                    <b>Can I write my story in any language?</b>
                                    <p>You can write a story in any one of the languages offered on the platform.For a language which is not included in our list, please write to <a href="mailto:help@storyweaver.org.in">help@storyweaver.org.in</a> and we will add that language to StoryWeaver.!</p>

                                    <b>Can somebody else make changes to my story once it has been published?</b>
                                    <p>Nobody else, except you, can make changes to your story once it's published.</p>

                                    <b>Can I make changes to my story once it has been published?</b>
                                    <p>Yes, the 'Edit' button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember changing your original story too much will affect its derivatives too.</p>
                                    <p>Follow these steps to make changes. Don't forget to republish your story!</p>
                                    <p>1. Log in to StoryWeaver.</p>
                                    <p>2. Click on 'Profile' (top right corner).</p>
                                    <p>3. Go to the tab - 'My Published Stories'.</p>
                                    <p>4. You will now be able to make changes to your story using the 'Edit' button.</p>
                                    <p>5. Once you finish editing your story, do make sure that you republish your story. In case you want to make changes to the title, synopsis or reading level, click the 'Publish' button and these details will appear. Do hit publish button to re-publish your story once all changes are made.</p>
                                    <div class="section-divider"></div>

                                    <p id="faq3" class="faq-ques"></p>
                                    <h3>I am a TRANSLATOR</h3>
                                    <b>How can I use StoryWeaver?</b>
                                    <p>StoryWeaver is a digital repository of multilingual children's stories. We have stories in over 100 languages, and are constantly looking at adding more languages to the platform because our aim is simple: to reach as many children as possible in India and across the world. As a translator, you can play an important role in our mission. Choose any story of your liking, and translate it in a language you are proficient in. StoryWeaver also is a great showcase tool for you. Publishers are always looking for good translators. By showcasing your work on StoryWeaver, you are increasing your chances of being discovered by organizations looking for competent translators.</p> 
                                    <b>Can I choose which stories I want to translate or will I be told?</b>
                                    <p>You have full freedom to pick any story and translate it, even if it has a translated version in that language already. However, it would be great if you could start with stories which haven't yet been translated in that language. You could begin with Publisher titles that normally have a 'Recommended' tag.</p>

                                    <b>I am proficient in more than 1 language. Can I translate the same story in more than one language?</b>
                                    <p>Yes! We like more: More languages = More readers</p>

                                    <b>I saw an existing translation, but I don't think it's correct. Can I change it?</b>
                                    <p>You cannot make changes to somebody else's translation. But if you feel that a translation is not accurate, we would encourage you to create your own version of the translation.</p>

                                    <b>I want to translate a story in a language that is not included in StoryWeaver's list of languages. How do I translate?</b>
                                    <p>We would love to add more stories in more languages to StoryWeaver. Please write to <a href="mailto:help@storyweaver.org.in">help@storyweaver.org.in</a> and we will include that language as soon as possible.</p>

                                    <b>If I copy the text from a word file and then paste it in the text space of a story, is that okay?</b>
                                    <p>Yes. As long as the text is Unicode as StoryWeaver supports only Unicode fonts.</p>

                                    <b>Why Unicode?</b>
                                    <p>Unicode is ideal for StoryWeaver because it's a universally accepted standard display of font. This means that when you type in Unicode in any language and view it on any other computer, it will display the same (even if the computer does not have the necessary software/font for the language.)</p>

                                    <b>How do I know the font I am using is Unicode?</b>
                                    <p>A good way to check is to copy the text and paste it on the body of an email ('Compose') or on Google Translate. If it displays correctly, you are using a Unicode font. If it shows all junk characters, you need to switch to a Unicode font.</p>

                                    <b>I copied text from a word file on my computer but when I pasted it on StoryWeaver, it's not showing properly. What do I do?</b>
                                    <p>This means that the font that you are using is not Unicode. You need to type the text in a Unicode font as StoryWeaver supports only Unicode. Refer questions above to know more.</p>

                                    <b>I cannot type in the language, though I can speak and understand it. Can I translate?</b>
                                    <p>For translating on StoryWeaver, it is essential to be able to write or type in that particular language. There is no other way you can translate a story and put it up on the platform.</p>

                                    <b>Can I edit my translation after the story is published?</b>
                                    <p>Yes. Since you are the author of your translated story, you can make edits even after it has been published. But make edits judiciously, only to change grammar, punctuation or correct spellings. Remember that changing your original story/translation too much will affect its derivatives too.</p>

                                    <b>Will I get credit for my translation?</b>
                                    <p>Yes. The front cover of the storybook that you translated will carry your name with due credits given to you as a translator.</p>

                                    <b>Can I get paid for my translation?</b>
                                    <p>The stories that you translate on StoryWeaver has no remuneration involved. But remember that your translations will help reach more children in India who are in need of good quality reading material in their language.</p>
                                    <p>However, StoryWeaver is a common ground for people passionate about children's books and reading to collaborate. From Educators and Parents, to Authors and Illustrators, to Librarians and Publishers all stakeholders will come on the platform to browse for stories. Your translated stories on the platform will get a lot of visibility to your work as a translator which could be noticed and picked up by Authors and Publishers. Many new collaborations could spring up through these interactions.</p>

                                    <b>How does the transliteration tool work?</b>
                                    <p>The transliteration tool used in StoryWeaver enables you to type in English as the input language and uses phonetics to create output characters in the output language. For example, you can type in "namaste" to get "नमस्ते" in Hindi, which sounds like "namaste". As you start typing the word in English, a list of possible transliterations appear for you to select. The purpose of the transliteration tool is to enable language speakers who may not be proficient in typing using the language keyboard layouts to use the standard English keyboard and their knowledge of phonetics to write in the language of their choice. In case you have a language keyboard, or have enabled a language keyboard layout on a standard English keyboard, you click on "Keyboard" to type directly using language characters. In this case, the transliteration tool is disabled. To enable the transliteration tool, toggle on the keyboard button and click on the language name.</p>

                                    <b>I can see some stories have been translated to the same language a number of times. Why?</b>
                                    <p>The reason we allow for this is because there is often a lack of agreement on what is a right translation. Some translators like to follow a faithful word by word literal translation of text, others prefer a more interpretative route which is faithful to the meaning of the text rather than the actual words in the original. Secondly, even within a language, there are dialect variations, and that becomes an important variable for localisation.</p>
                                    <div class="section-divider"></div>

                                    <p id="faq4" class="faq-ques"></p>
                                    <h3>I am a PUBLISHER</h3>
                                    <b>How will StoryWeaver help me?</b>
                                    <p>New stories, new authors, new illustrators, new translators - StoryWeaver will help you discover a wealth of resources. As a publisher, as somebody looking for new talent, StoryWeaver is a perfect showcase of new content and talent for you to look through.The platform will be your new and free book agent!</p>
                                    <p>Publishers can also publish their titles on StoryWeaver. The advantage of it being a digital platform is that these stories can live forever and be accessible to readers across the world. So if you have any titles that have remained out of print for long, you can bring it back to life through StoryWeaver. At Pratham Books, we have noticed that our titles which have been made available for online reading are bringing in more sales.</p>

                                    <b>If I publish a story that I found on StoryWeaver, do I have to credit StoryWeaver?</b>
                                    <p>Yes please credit StoryWeaver for the story. The only thing the CC license requires is that the attribution be done correctly. Do look at our attributions page for the correct attribution or right to us and we will be happy to provide you with the right attribution.Attributing us will also bring more people to this collaborative platform and help read, create, translate and share more stories.</p>

                                    <b>If I publish a story that I found on StoryWeaver, do I have to pay the contributors (writer/author, illustrator and translator) anything?</b>
                                    <p>The CC–BY license that we use on StoryWeaver is the most liberal CC license, which means that legally you are not obliged to pay the creators or translators of the story. But as a good practise, you should compensate the creators. After all, creating a story requires a lot of time and effort. You should however attribute the story correctly. To know more about attributions, <a href="/attributions" target="_blank">click here</a>.</p>
                            
                                    <b>If I publish a story that I found on StoryWeaver, can I sell it for any amount of my choice?</b>
                                    <p>Yes. How much you charge for the story is entirely up to you.</p>

                                    <b>How would I benefit from my stories being on StoryWeaver?</b>
                                    <p>StoryWeaver is a common ground for people passionate about children's books and reading to collaborate. From educators and parents, to authors and illustrators, to librarians and translators all stakeholders will come on the platform to browse for stories.The advantage of showcasing your stories on a digital platform is that these stories can live forever and be accessible to readers across the world. So if you have any titles that have remained out of print for long, you can revive it through StoryWeaver. At Pratham Books, we have noticed that the titles which we have made available for online reading are bringing in more sales. Also bear in mind that your stories can result in the creation of many more derivatives: remixed stories, translations, etc. The possibilities for collaboration are endless!</p>
                                    <p>StoryWeaver is a common ground for people passionate about children's books and reading to collaborate. From educators and parents, to authors and iIlustrators, to librarians and translators all stakeholders will come on the platform to browse for stories. Also bear in mind that your stories can result in the creation of many more derivatives: remixed stories, translations, etc. The possibilities for collaboration are endless!</p>

                                    <b>If another publisher picks up one of our stories from StoryWeaver, will we get paid?</b>
                                    <p>All stories on StoryWeaver are be licensed under the CC-BY 4.0 license. Once a story is licensed as CC-BY, there are no legal or monetary obligations, and all transactions are left to the discretion of the organization/publisher picking up the story. However, StoryWeaver urges all users of the platform to give due credit to the creators of every story.</p>

                                    <b>If we wanted to include our stories on StoryWeaver, would we have to change our author-illustrator contracts?</b>
                                    <p>For any of your stories to be included on StoryWeaver, it needs to be licensed under CC-BY. In this case, you will have to change your existing contracts with authors and illustrators for the story to be licensed under CC BY.</p>

                                    <b>Will I be able to see how my stories are being used on StoryWeaver (example: translations, readers, etc)?</b>
                                    <p>Yes!</p>
                                    <p>There are two ways in which you can see how your stories are being used. One, on your profile page, you can the number of reads and derivatives for each story. Two, on the story detail page, which is accessible to all users, you can see the number of reads, likes, and also view the other versions that have been woven.</p>

                                    <b>As a Publisher, will I be able to edit the books that I have uploaded on the platform?</b>
                                    <p>Yes, the 'Edit' button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember that changing your original story too much will affect its derivatives too.</p>

                                    <b>As a publisher, how will users find all of my stories on the platform?</b>
                                    <p>1.As a publisher you will enjoy certain privileges on the platform, one of which is being able to include your logo on each of your stories on StoryWeaver. This means a user just has to follow your Logo to find all the stories on the platform.</p>
                                    <p>2.As a publisher, you also get to attach a 'Recommended' tag to all your stories. This will make your stories more accessible as many users are likely to look for 'Recommended' stories.</p>
                                    <p>3. Users can also find your stories via the search box. All they have to do is type your name or the story title.</p>
                                    <div class="section-divider"></div>

                                    <p id="faq5" class="faq-ques"></p>
                                    <h3>I am an EDUCATOR</h3>
                                    <b>How will this platform help me?</b>
                                    <p>StoryWeaver is a great tool for educators. You will find a treasure trove of stories here for various age groups and Reading Levels, that too in over 100! languages. This means unlimited teaching resources, whether you are using a story to teach language or getting the students to do independent reading.</p> 
                                    <p>Not only that, you can use StoryWeaver to create resources on your own for you class! Use our CREATE feature to quickly put together a set of flashcards or images to kick-start a writing project for your class, or a simple story around a concept you have found difficult to explain from the textbook.</p>

                                    <b>Do you have some resources (ideas, activities) that I can use in my class along with the stories?</b>
                                    <p>You can look up the curated lists that organisations have made. The lists are divided into various categories and there is a how to use section under each book.</p>

                                    <b>I want some recommendations on the kind of books I can use in my class. Can I get recommendations here?</b>
                                    <p>Yes. You could look up the 'Recommended' stories on the READ tab to see all the stories recommended by our editors. Looking at the 'most read' and 'most liked' stories is a good start too.</p>

                                     <b>Are your Level 3 books for Standard 3rd or Grade 3? Does level mean the same thing as grade/standard/class?</b>
                                    <p>No. The age or grade of a child is not an indicator of their reading level. Reading Levels are based on a child's reading comprehension and fluency and not on her age or the grade she is in. Also, reading levels may vary across language depending on the child's comfort level in those languages. For example, a child's reading level in Marathi may be three but in English may be one! Please go through our Reading Level Guide to pick a suitable story for each child.</p>

                                    <b>Can I use the books to teach languages?</b>
                                    <p>Exposure to books and stories help children gain better understanding of the language in written form. So while a book may not be a direct tool for 'teaching' a language, exposure to children in that story in that language helps build language skills. For the same purpose, Bilingual books come handy as they are great for children to identify and read in a second language.</p>

                                    <b>I saw something on the platform which isn't appropriate for children. What can I do about it?</b>
                                    <p>If you find any content on the platform which isn't appropriate for children or offensive in any way, do 'Report' the story by clicking on the Flag in the top right corner of the Story Details page.</p>

                                    <b>How do I print the story I want?</b>
                                    <p>You will find a download button at the bottom panel of every Story Details page. Click on it to download the PDF version of the story and it can be printed on an A4-sized paper.</p>

                                    <b>Can I edit an existing story on StoryWeaver?</b>
                                    <p>Nobody except the original author is allowed to edit a story on StoryWeaver. However, you can 'Translate' or 'Re-level' an existing story to suit your requirements.</p>

                                    <b>How do I find stories based on themes?</b>
                                    <p>Our Story Categories have been designed to help users find stories based on themes. Applying filters for any of the existing categories (Animal Stories, History, etc) will make your search more efficient. The stories on StoryWeaver are also tagged in order to make your search easier.</p>

                                    <b>My school has a computer, but a very bad internet connection. Can we use StoryWeaver without the internet?</b>
                                    <p>While StoryWeaver cannot be used without being on the internet, one can browse for stories and download them while they are online, and read these later or get it printed.</p>

                                    <b>I want some stories to read-aloud in class. Where can I find these on StoryWeaver?</b>
                                    <p>Go to our Read-Aloud category to find all stories suitable for reading aloud. Applying 'Reading Level' filters will further help you find a story suitable for your class.</p>

                                    <b>Can I use the StoryWeaver Community stories in my classroom?</b>
                                    <p>We would love to see our community members’ stories read far and wide. However, we suggest that you check for a 'Recommended' tag on the Community Story of your choice. This means that the story has been read and recommended by one of our editors!</p>
                                    
                                    <div class="section-divider"></div>

                                    <p id="faq6" class="faq-ques"></p>
                                    <h3>I am a STORYTELLER</h3>
                                    <b>How will this platform help me?</b>
                                    <p>Stories. Lots of them. In multiple languages. StoryWeaver gives you access to thousandshundreds of new stories, in over 100 languages so that you never run out of stories for your storytelling sessions.</p>
                                    <p>You could also choose to re-level stories depending on the age of your audience. Or you could be inspired by our bank of amazing illustrations and create a whole new story to read out in your next session. This platform is really your playground.</p>

                                    <b>How do I use the stories that are here? How do I carry them to my session?</b>
                                    <p>Each of the stories on StoryWeaver are sorted by Reading Level. You may choose one to suit the age of your audience. You can download the stories via the Download button at the bottom of the Story Detail page and then, either read them on any of your devices (laptop, tablet or mobile), or print and carry them to your session.</p>

                                    <b>If I use one of the stories from StoryWeaver, do I have to inform or credit anyone?</b>
                                    <p>It would be really nice if you could mention to your storytelling audience that the story you're sharing is from StoryWeaver. It will encourage more people to use and benefit from the platform.</p>

                                    <b>I have a few stories that I made up during my sessions. Can I put them here?</b>
                                    <p>Yes! Use our Create tab to pen your story here. Pep it up by adding illustrations too.</p>

                                    <b>I like a story very much, but the ending is not to my liking. Is it possible to change it?</b>
                                    <p>You cannot change the original story or any story written by another author. You may, however, choose to re-write the story by using our Create tab or even change the Reading Level to suit the age of your audience.</p>

                                    <b>The illustration gallery is great and gives me a ton of ideas. Can I use the illustrations in my sessions?</b>
                                    <p>Yes. You can download and use them in your session by showing it on your digital device, or by printing them. It is a good practice to mention the illustrator's name, as well as the source of the illustrations to your audience.</p>

                                    <b>I have made some activities around one of the stories which could help others too. How do I share them with everyone?</b>
                                    <p>Currently we don't have a platform where you can upload the resources/activities you have created. However, we would encourage you to share them with us once complete, so that we can put them up to be used by others on the platform.</p>

                                    <div class="section-divider"></div>

                                    <p id="faq7" class="faq-ques"></p>
                                    <h3>I am a PARENT</h3>
                                    <b>How will this platform help me?</b>
                                    <p>Stories are a great resource to keep your children creatively engaged. Reading can help a child’s development, both, academically, as well as personality wise. At StoryWeaver, you will find thousands of stories for children at different reading levels. The stories are also in multiple languages, so that your child can read a story in her mother tongue, a language she is trying to learn, or a language she is already proficient in. This is a treasure trove. Dive in.</p>

                                    <b>How will I know which is the most suitable story for my child?</b>
                                    <p>Each story will have a badge of the reading level it caters to (Level 1, 2, 3, or 4). You need to match this to your child's reading level. Know more about assessing your child’s reading level here.</p>

                                    <b>How do I get my child to read more on StoryWeaver?</b>
                                    <p>Let your child discover StoryWeaver on her own. Let her look up stories she likes, and let her read. Once she begins to finds content she enjoys, she will automatically read more on StoryWeaver.</p>

                                    <b>How can my child's name appear as the author / translator / illustrator of the story? </b>
                                    <p>Your child can create a story, translate a story or upload an illustration through your account. To ensure that their name appears as the author, translator or artist of the work, all you need to do is add their name and details on the form before publishing!</p>

                                    <b>Can I upload my child's/ my hand made drawings on StoryWeaver?</b>
                                    <p>Yes you can! We love to encourage budding artists. You can upload your or your child's illustrations through to StoryWeaver through your account. If uploading illustrations done by your child and to ensure that they are credited as the artist add their details at the time of uploading. </p>

                                    <b>I Cannot draw. Can I upload photographs and create a story?</b>
                                    <p>To ensure the privacy of individuals, especially minors, we urge you not to upload photographs. However, users may upload photographs of places and objects, as long as they have taken the photographs themselves.</p>
                                    <div class="section-divider"></div>
                              </div>
                              <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="250" data-offset-top="200">
                                    <ul>
                                          <li class="active"><a href="#faq1">I am an ILLUSTRATOR</a></li>
                                          <li><a href="#faq2">I am a WRITER</a></li>
                                          <li><a href="#faq3">I am a TRANSLATOR</a></li>
                                          <li><a href="#faq4">I am a PUBLISHER</a></li>
                                          <li><a href="#faq5">I am an EDUCATOR</a></li>
                                          <li><a href="#faq6">I am a STORYTELLER</a></li>
                                          <li><a href="#faq7">I am a PARENT</a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
