<div class="row about-row noborder">    
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">        
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9 faq-left-ques">

            <p id="faq1" class="faq-ques"></p>
            <h3>मैं एक चित्रकार हूँ</h3>
            <b>स्टोरीवीवर के लिए कुछ करने/योगदान देने/चित्र बनाने में मेरा क्या फ़ायदा है?</b>
            <p>स्टोरीवीवर बच्चों के लिए बहुभाषी/बहुत सी भाषाओं में किताबें लिखने और पढ़ने में दिलचस्पी रखनेवाले सभी लोगों के लिए एक खुला और साझा मंच है. यहाँ तरह-तरह की कहानियों का एक समृद्ध डिजिटल भण्डार बनाने के लिए शिक्षाविद, प्रकाशक और माता-पिता से लेकर लेखक और चित्रकार तक, हमारे सभी सहभागी अपना-अपना योगदान देंगे. अगर आप चाहते हैं कि ज़्यादा से ज़्यादा लोग आपके काम को देखें, तो स्टोरीवीवर आपके लिए बिलकुल सही जगह है. प्रथम बुक्स ने पहले भी सीसी वर्क के ज़रिये/माध्यम से चित्रकारों के लिए काम के बेशुमार मौक़े पैदा/अनेक अवसर उत्पन्न किये हैं. यहाँ आप मेघा विश्वनाथ की कहानी पढ़ सकते हैं. याद रखिये, आपके द्वारा अपलोड किया गया कोई चित्र किसी नयी कहानी की प्रेरणा बन सकता है. इस तरह स्टोरीवीवर के चित्र-बैंक में अपना योगदान देकर आप एक रीडिंग इंडिया/पढ़नवाले भारत के निर्माण में सहायक/मददगार बन रहे हैं.</p>
            
            <b>में अपने चित्र कैसे अपलोड करूं?/चित्र अपलोड करने का तरीक़ा.</b>
            <p>आप नीचे दिए गए तरीके से अपने चित्र बड़ी आसानी से अपलोड कर सकते हैं:
            <p>1.सबसे पहले ‘images’/’इमेजिज़’ वाले tab/टैब पर क्लिक/click करके ‘upload image’/’अपलोड इमेज’ को सेलेक्ट/select करें.</p>
            <p>2.अब एक-एक करके सारे आसान निर्देशों का पालन करें, आपका काम हो जाएगा. धन्यवाद!</p>
            <p>3.Follow the simple steps mentioned and you are done. Thank you!</p>
            
            <b>इसका क्या मतलब है कि मेरे चित्रों को सीसी-बीवायी लाइसेंस मिलेगा?</b>
            <p>सीसी-बीवाई एक खुला लाइसेंस है जिसके दायरे में बहुत कुछ आ जाता है. आपकी, इसके अंतर्गत आने वाली रचना का वितरण, रीमिक्स, काट-छांट या उसके आधार पर नया सृजन कोई भी, यहां तक की व्यावसायिक तौर पर भी, कर सकता है, बशर्ते कि मूल रचना का श्रेय आप ही को दिया जाए. इससे आपकी मौजूदा रचना को नयी नयी व्याख्याएं और अर्थ-छटाएं भी मिल सकती हैं. स्टोरीवीवर के लिए सीसी-बीवाई सबसे सही है क्योंकि हमारा तो मिशन ही एक खुले/ओपन फॉर्मेट में बच्चों के लिए कहानियों का मुफ्त भण्डार बनाना है. इस लाइसेंस के बारे में आप और पढ़ना चाहें तो <a href="http://creativecommons.org/licenses/by/4.0/">यहाँ पढ़ सकते हैं</a>.</p>

            <b>स्टोरीवीवर पे मेरे चित्रों का किस तरह इस्तेमाल होगा?</b>
            <p>आपके चित्र स्टोरीवीवर का प्रयोग करनेवालों को नया content रचने के लिए उपलब्ध होंगे. हमारा इस्तेमाल ज़्यादातर शिक्षक, लाइब्रेरियन, लेखक और माता-पिता करते हैं जो आपके चित्रों के इर्द-गिर्द कहानियां बुन सकते हैं; फ़्लैश कार्ड बना सकते हैं; उन्हें पत्रिकाओं में छाप सकते हैं – संभावनाएं अनंत हैं.</p>
                       
            <b>क्या मुझे पता चलेगा कि स्टोरीवीवर में मेरे चित्र किस तरह से इस्तेमाल हो रहे हैं?</b>
            <p>जी हाँ. आप तीन तरह से देख सकते हैं कि आपका काम कहाँ-कहाँ पहुंचा हुआ है:</p>
            <p>1.आप अपने प्रोफ़ाइल पेज पर ‘माई इलस्ट्रेशन’ टैब के अंतर्गत अपने चित्रों के बारे में सबकुछ पता कर सकते हैं, जैसेकि ये कि उन्हें कितनी कहानियों में इस्तेमाल किया जा चुका है.</p>
            <p>2.आपके द्वारा सबस्क्राइब की गयी नोटीफ़िकेशन ईमेल के ज़रिये. (अगर आपने अभी तक सब्सक्राइब नहीं किया, तो अब ज़रूर कर लें)</p>
            <p>3.आप हमारे सर्च बॉक्स में जाकर और वहां अपना नाम या अपने चित्र का शीर्षक डालकर भी पता लगा सकते हैं कि स्टोरीवीवर में उसका अब तक का सफ़र कैसा रहा है.</p>
                       
            <b>क्या हम अपने चित्र किसी और संस्था को बेच सकते हैं?</b>
            <p>बिलकुल बेच सकते हैं. आपको अपने बनाए चित्र बेचकर मुनाफ़ा कमाने का पूरा हक़ है. पर क्यूंकि आपके चित्रों को सीसी-बीवाई लाइसेंस मिला है, इसलिए कोई संस्था आपको पैसे चुकाने के लिए बाध्य नहीं है. लेकिन आप उन्हें स्टोरीवीवर के बारे में बताएं ज़रूर, कि कैसे हम उन बच्चों के लिए कहानियों का ये मुफ़्त भण्डार बना रहे हैं जिनके पास पढ़ने के लिए कुछ भी नहीं है. इस नेक काम का वास्ता देकर आप उन्हें कुछ मुआवजा देने के लिए राज़ी कर सकते हैं. लेकिन, माफ़ कीजिएगा, स्टोरीवीवर ऐसे मामलों में बीच में नहीं पड़ेगा.</p>
                       
            <b>अगर कोई और संस्था मेरे चित्रों का इस्तेमाल करेगी तो क्या वो मुझे पैसे देगी??</b>
            <p>शराफ़त तो इसी में है कि अगर कोई संस्था अपने व्यावसायिक लाभ के लिए आपके चित्रों का प्रयोग करती है तो वो आपको भी पैसे दे. लेकिन, जैसाकि हम पहले भी बता चुके हैं, स्टोरीवीवर का सारा कंटेंट सीसी-बीवाई लाइसेंस के अंतर्गत होने के कारण कोई आपको पैसे देने के लिए बाध्य नहीं है. </p>
                        
            <b>क्या मेरे बनाए चित्रों पे मेरा नाम जाएगा?</b>
            <p>हम विश्वास दिलाते हैं, स्टोरीवीवर में आपके बनाए चित्र का श्रेय आप ही को दिया जाएगा. यहाँ आपका नाम, आपके मूल चित्र के अलावा, जहां किसी और ने उसे इस्तेमाल किया होगा, वहां भी दिखाई देगा. लेकिन स्टोरीवीवर के बाहर आपको आपके चित्र का श्रेय दिलाना हमारे लिए मुश्किल होगा. हम सिर्फ स्टोरीवीवर इस्तेमाल करनेवालों से ही कह सकते हैं कि चूंकि यहाँ सबकुछ सीसी-बीवायी लाइसेंस के अंतर्गत है, इसलिए जिसका काम है, उसका नाम ज़रूर दें.</p>
                        
            <b>हम अपने चित्र कौनसे फ़ॉर्मेट में सबमिट/जमा करें?</b>
            <p>फ़िलहाल हम सिर्फ़ जेपीजी और पीएनजी फ़ॉरमेटों में ही चित्र ले रहे हैं.</p>
                        
            <b>हमें अपने चित्र कौनसी शैलियों में बनाकर देने होंगे?</b>
            <p>आप हमें अपनी मनचाही शैली में चित्र बनाकर दे सकते हैं. रेफ़रेन्स के लिए चाहें तो एक नज़र यहाँ पहले से मौजूद चित्र-शैलियों पर डाल लीजिये.</p>
            <p>आप जिस भी शैली में चित्र बनाएं, उसे अपलोड करते वक़्त ध्यान दें कि उसपर कुछ लिखा हुआ ना हो. स्टोरीवीवर में अपलोड किये गए सारे चित्र एक विशाल ओपन लाइसेंस वाले चित्र-बैंक का हिस्सा बन जाते हैं. हम आशा करते हैं कि स्टोरीवीवर-समाज के कई सदस्य आपके चित्र को देखेंगे, सराहेंगे और अपने काम में उसका प्रयोग करेंगे. इसीलिये आपसे कहा जा रहा है, कृपया अपने चित्र पे कुछ ना लिखें.</p>
                        
            <b>Can users get in touch with me via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>
                        
            <b>हम ज़्यादा से ज़्यादा कितने चित्र अपलोड कर सकते हैं?</b>
            <p>जितने चाहें, उतने. जितने ज्यादा, उतने अच्छे.</p>
                        
            <b>स्टोरीवीवर में कितने बड़े चित्र भेजे जा सकते हैं?</b>
            <p>बेहतर नतीजों के लिए ज़रूरी है कि आप कम से कम 300डीपीआई या उससे ज़्यादा के हाई रेज़ोल्यूशन वाले चित्र ही भेजें. इससे अलग-अलग लेआउट में आपके चित्र की क्वॉलिटी गिराए बिना उसका आकार बदला जा सकेगा. हमारा सुझाव है कि किसी चित्र को स्कैन करते समय आप हाई क्वॉलिटी सैटिंग का ही प्रयोग करें. साथ ही अपना चित्र अपलोड करते समय आप उसपर कुछ ना लिखें ताकि उसे दूसरे स्टोरीवीवर भी अपनी कहानियों में इस्तेमाल कर सकें.</p>
                       
            <b>क्या स्टोरीवीवर में सिर्फ पेशेवर चित्रकार ही अपने चित्र भेज सकते हैं? </b>
            <p>अगर आपको लगता है कि आपके चित्र किसी कहानी में या एक रिसोर्स मैटीरियल/संसाधन सामग्री के तौर पर इस्तेमाल किये जाने के लायक़ हैं, तो यहाँ आपका स्वागत है. हमें आपकी डिग्री या तजुर्बे से नहीं, आपके काम से मतलब है.</p>
                        
            <b>क्या मेरे चित्रों को सुधारा जाएगा?</b>
            <p>अगर सुधारने से आपका ये मतलब है कि यहाँ कोई आपके चित्र को काट-छांटकर और किसी और चित्र के साथ मिलाकर इस्तेमाल करेगा, तो ऐसा नहीं होगा. पर फ़र्ज़ कीजिये, आपके चित्र में लड़की, लड़का और जंगल सब हैं लेकिन, कहानी की मांग को देखते हुए, कहानीकार आपके चित्र में से सिर्फ लड़की को लेना चाहता है, तो वो ज़ूम-इन करके या स्टोरी-पेज पे चित्र को एक ख़ास तरीके से रखकर ऐसा कर सकता है.</p>
                       
            <b>क्या मुझे अपने चित्र के लिए, जैसे मैं चाहूँ वैसे, श्रेय मिल सकता है?</b>
            <p>जी हाँ. जब आप अपना चित्र अपलोड करेंगे, तो वहां एक फॉर्म उभर आयेगा जो आपसे आपके चित्र के बारे में जानकारी मांगेगा. इस फॉर्म के ‘इलस्ट्रेशन ऐट्रीब्यूशन’ वाले टैब की मदद से आप अपने चित्र के लिए, जैसे चाहें वैसे, श्रेय ले सकते हैं.</p>
            <div class="section-divider"></div>

            <p id="faq2" class="faq-ques"></p>
            <h3>I am a WRITER</h3>
            <b>स्टोरीवीवर के लिए लिखने में मेरा क्या फायदा है?</b>
            <p>स्टोरीवीवर उन सभी के लिए एक खुला और साझा मंच है जो दिल से चाहते हैं कि बच्चे कहानियां पढ़ें. स्टोरीवीवर की कहानियां शिक्षा के क्षेत्र में काम करनेवालों, माताओं-पिताओं, प्रकाशकों, लेखकों और चित्रकारों – सभी की नज़र से गुज़रती हैं. चूंकि डिजिटल कहानियां किसी देश-प्रदेश की सीमा में नहीं बंधी होतीं, इसलिए स्टोरीवीवर में छपी आपकी कहानी को पूरी दुनिया पढ़ सकती है. इससे न सिर्फ ज़्यादा से ज़्यादा पाठकों तक आपकी पहुँच बनती है, बल्कि आप उन प्रकाशकों की नज़र में भी आते हैं जिन्हें हमेशा नए लेखकों की तलाश रहती है. इसके अलावा यहाँ आप चित्रकारों के साथ मिलकर कुछ नया और मनचाहा कर सकते हैं, या फिर अपना काम खुद प्रकाशित कर सकते हैं.</p>
            <p>और सबसे बड़ी बात ये है, कि स्टोरीवीवर में आपकी जो भी कहानी छपती है, वो किस्से-कहानियों के उस खज़ाने का हिस्सा बन जाती है, जिसका आनंद हर बच्चा ले सकता है. देश के बच्चों में पढने का शौक़ पैदा करने के हमारे मिशन में आपकी कहानी भी मददगार हो सकती है.</p>
                        
            <b>मेरी कहानी को सीसी-बीवाई [cc-by] के अंतर्गत लाइसेंस मिलने का क्या मतलब है?</b>
            <p>सीसी-बीवाई एक खुला लाइसेंस है जिसके दायरे में बहुत कुछ आ जाता है. आपकी, इसके अंतर्गत आने वाली रचना का वितरण, रीमिक्स, काट-छांट या उसके आधार पर नया सृजन कोई भी, यहां तक की व्यावसायिक तौर पर भी, कर सकता है, बशर्ते कि मूल रचना का श्रेय आप ही को दिया जाए. इससे आपकी रचना को नयी नयी व्याख्याएं और अर्थ-छटाएं मिलती हैं. स्टोरीवीवर के लिए सीसी-बीवाई सबसे सही है क्योंकि हमारा तो मिशन ही एक खुले फॉर्मेट में बच्चों के लिए कहानियों का मुफ्त भण्डार बनाना है. इस लाइसेंस के बारे में आप और पढ़ना चाहें तो <a href="#">यहाँ पढ़ सकते हैं</a>.</p>
                        
            <b>मुझे किस आयु-वर्ग/उम्र के बच्चों के लिए कहानियां लिखनी चाहियें?</b>
            <p>स्टोरीवीवर का कथा-भण्डार सभी बच्चों के लिए है, इसलिए आप 3 से 14 तक किसी भी उम्र के बच्चों के लिए कहानी लिख सकते हैं. आप स्टोरीवीवर के पाठन-स्तरों को देखकर खुद ही तय कर सकते हैं कि आपकी कहानी किस आयु-वर्ग के लिए सबसे सही रहेगी.</p>
                        
            <b>क्या कहानियों के लिए कोई शब्द-सीमा है?</b>
            <p>यूं तो कहानी-लेखन को शब्द-सीमा में नहीं बांधा जा सकता. पर यहाँ, हर एक लेआउट के लिए सबसे सही और अलग अलग शब्द-सीमा तय है. हम चाहेंगे कि आप अपनी कहानी लिखते समय हमारे दिशानिर्देश पढ़ें और जिस पाठन-स्तर की जो शब्द-सीमा है, उसके अन्दर रहते हुए ही लिखें.</p>
                        
            <b>मैं पाठन-स्तर का चुनाव कैसे करूं?</b>
            <p>पहले आप यहाँ पाठन स्तर के बारे में पढ़ लीजिये. उसके बाद आप बड़ी आसानी से अपनी कहानी के लायक पाठन स्तर का चुनाव कर पायेंगे.</p>
                        
            <b>लोग मेरी कहानी पढने के लिए उस तक पहुंचेंगे कैसे?</b>
            <p>1.जब आप अपनी कहानी लिख लें, तो फिर आप उसे किसी वर्ग के अंतर्गत फाइल करके उसपे टैग लगा दीजिये. इस जानकारी से पाठकों का आपकी कहानी तक पहुंचना आसान हो जाएगा. जैसेकि, मान लीजिये, किसी को जानवरों की कहानी पढ़नी है और आपने अपनी कहानी को जानवरों की कहानियों वाले वर्ग में फ़ाइल करके उसपे जंगल, शेर या बन्दर जैसा कोई टैग लगाया हुआ है. तो पाठक जैसे ही इनमें से किसी फ़िल्टर का इस्तेमाल करेगा या ढूंढना शुरू करेगा, उसे आपकी कहानी मिल जायेगी.</p>  
            <p>2.इसी तरह, अगर कोई चाहे तो वो सर्च बॉक्स में आपका [लेखक का ] नाम तलाशकर भी आपकी कहानी तक पहुँच सकता है.</p>
            <p>3.इसके अलावा हम, समय समय पर, अपने होम पेज में भी (नयी, लोकप्रिय, थीम आदि) वर्गों के आधार पर कहानियां दर्शायेंगे. इससे भी आपका काम पाठकों के सामने आयेगा.</p>
                        
            <b>मुझे कैसे पता चलेगा कि मेरी कहानी का क्या बना या/और उसे कितनी बार पढ़ा गया?</b>
            <p>1.आपके प्रोफ़ाइल वाले पेज में ‘मेरी कहानियां’ के अंतर्गत आपको सारी जानकारियाँ मिल जायेंगी, जैसेकि – आपने कौनसी कहानियां लिखीं; उन्हें कितनी बार पढ़ा गया; और, उनके कितने अनुवाद या फ़ेरबदल हुए.</p>
            <p>2.आपके द्वारा सबस्क्राइब की गयी नोटीफ़िकेशन ईमेल के ज़रिये. (अगर आपने अभी तक सब्सक्राइब नहीं किया, तो अब ज़रूर कर लें)</p>
            <p>3.आप हमारे सर्च बॉक्स में जाकर और वहां अपना नाम या कहानी का शीर्षक डालकर भी पता लगा सकते हैं कि स्टोरीवीवर में उसका अब तक का सफ़र कैसा रहा है.</p>
                        
            <b>क्या हम अपनी कहानी किसी और संस्था को बेच सकते हैं?</b>
            <p>बिलकुल बेच सकते हैं. स्टोरीवीवर की सारी कहानियां सीसी-बीवाई के अंतर्गत आती हैं जिसका मतलब ये है कि आप उन्हें दूसरे प्रकाशकों को भी भेज सकते हैं. हम बस ये चाहते हैं कि आपकी मूल-कथा को छपने का श्रेय स्टोरीवीवर का ही रहे. प्रकाशक भी स्टोरीवीवर से कोई कहानी लेकर इस्तेमाल कर सकते हैं. आपको पैसे देने के लिए कोई बाध्य नहीं है. लेकिन आप उन्हें स्टोरीवीवर के बारे में बताएं ज़रूर, कि कैसे हम उन बच्चों के लिए कहानियों का ये मुफ़्त भण्डार बना रहे हैं जिनके पास पढ़ने के लिए कुछ भी नहीं है. इस नेक काम का वास्ता देकर आप उन्हें कुछ मुआवजा देने के लिए राज़ी कर सकते हैं. लेकिन, माफ़ कीजिएगा, स्टोरीवीवर ऐसे मामलों में बीच में नहीं पड़ेगा.</p>
             
            <b>क्या मेरी कहानी मेरे ही नाम से छपेगी?</b>
            <p>जी हाँ, स्टोरीवीवर में आपकी लिखी कहानी और उसके तमाम अनुवादों और बदले हुए रूपों पर भी आपका नाम ज़रूर आयेगा. पर एक बार जब कहानी इस मंच से बाहर चली जाती है तो उसपर हमारा उतना कंट्रोल नहीं रहता है. फिर भी हमारा इस मंच से जुड़े हर व्यक्ति से यही आग्रह होता है कि कहानी के मूल लेखक और चित्रकार को उसके काम का श्रेय ज़रूर दें.</p>
            
            <b>क्या कहानी किसी भी भाषा में लिखी जा सकती है?</b>
            <p>आप स्टोरीवीवर में बतायी गयी किसी भी भाषा में कहानी लिख सकते हैं. अगर आप किसी ऐसी भाषा में कहानी लिखना चाहते हैं जो इस लिस्ट में शामिल नहीं है, तो कृपया help@storyweaver.org.in पे सूचित करें. हम उस भाषा को भी स्टोरीवीवर में शामिल कर लेंगे!</p>

            <b>क्या अपनी लिखी कहानी के छप जाने के बाद हम खुद उसमें फ़ेरबदल कर सकते हैं?</b>
            <p>Yes, the ‘Edit’ button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember changing your original story too much will affect its derivatives too.</p>

            <b>क्या मेरी कहानी छपने के बाद कोई और उसमें फ़ेरबदल कर सकता है?</b>
            <p>जी नहीं, आपकी कहानी छप जाने जाने के बाद, आपके सिवाय और कोई उसमें फ़ेरबदल नहीं कर सकता है.</p>

            <b>Can users get in touch with me via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>

            <b>क्या अपनी लिखी कहानी के छप जाने के बाद हम खुद उसमें फ़ेरबदल कर सकते हैं?</b>
            <p>जी हाँ, और इसमें आपकी मदद करेगा ‘एडिट’ वाला बटन. उम्मीद है, आप इसका इस्तेमाल समझदारी से, सिर्फ़ व्याकरण, विरामचिह्नों और वर्तनी की गलतियां सुधारने के लिए ही करेंगे. भूलिए मत, कि अगर आपने अपनी मूल कथा ही बदल दी, तो इसका असर उसके अनुवाद आदि पर भी पडेगा. कहानी में बदलाव लाने के लिए कृपया सही क्रम ही अपनाएं और फिर कहानी को दोबारा प्रकाशित करना न भूलें!</p>
            <p>1. स्टोरीवीवर में लॉग इन करें.</p>
            <p>2. ‘प्रोफ़ाइल’ पे क्लिक करें (ऊपर दायें कोने में).</p>
            <p>3. ‘माय पब्लिश्ड स्टोरीज़’ टैब पे जाएँ.</p>
            <p>4. अब आप ‘एडिट’ बटन की मदद से अपनी कहानी में मनचाहे बदलाव कर सकते हैं.</p>
            <p>5. कहानी का सम्पादन करने के बाद आप उसे फिर से प्रकाशित ज़रूर कर दें. अगर आप कहानी के शीर्षक, सार या पाठन स्तर में बदलाव लाना चाहते हैं, तो ‘पब्लिश’ वाले बटन पे क्लिक करें ताकि ये सारे विवरण आपके सामने आ जायें. जब सारे बदलाव हो जाएँ तो ‘पब्लिश’ वाला बटन क्लिक करके एक बार फिर से अपनी कहानी को प्रकाशित करें.</p>
            <div class="section-divider"></div>

            <p id="faq3" class="faq-ques"></p>
            <h3>I am a TRANSLATOR</h3>
            <b>How can I use StoryWeaver?</b>
            <p>StoryWeaver is a digital repository of multilingual children’s stories. We have stories in over 15 languages, and are constantly looking at adding more languages to this platform because our aim is simple: to reach as many children in India as possible. As a Translator, you can play an important role in our mission. Choose any story of your liking, and translate it in a language you are proficient in.StoryWeaver also is a great showcase tool for you. Publishers are always looking for good translators. By showcasing your work on StoryWeaver, you are increasing your chances of being discovered by organizations looking for competent translators.</p> 

            <b>Can I choose which stories I want to translate or will I be told?</b>
            <p>You have full freedom to pick any story and translate it, even if it has a translated version in that language already. However, it would be great if you could start with stories which haven’t yet been translated in that language.</p>

            <b>I am proficient in more than 1 language. Can I translate the same story in more than onelanguage?</b>
            <p>Yes! We like more: More languages = More readers</p>

            <b>I saw an existing translation, but I don’t think it’s correct. Can I change it?</b>
            <p>You cannot make changes to somebody else’s translation. But if you feel that a translation is not accurate, we would encourage you to create your own version of the translation.</p>

            <b>I want to translate a story in a language that is not included in StoryWeaver's list of languages. How do I translate?</b>
            <p>We would love to add more languages to StoryWeaver’s database. Please write to help@storyweaver.org.in and we will try to include that language as soon as possible.</p>

            <b>If I copy the text from a word file and then paste it in the text space of a story, is that okay?</b>
            <p>Yes. As long as the text is Unicode as StoryWeaver supports only Unicode fonts.</p>

            <b>Why Unicode?</b>
            <p>Unicode is ideal for StoryWeaver because it’s a universally accepted standard display of font. This means that when you type in Unicode in any language and view it on any other computer, it will display the same (even if the computer does not have the necessary software/font for the language?)</p>

            <b>How do I know the font I am using is Unicode?</b>
            <p>A good way to check is to copy the text and paste it on the body of an email ('Compose') or on Google Translate. If it displays correctly, you are using a Unicode font. If it shows all junk characters, you need to switch to a Unicode font.</p>

            <b>I copied text from a word file on my computer but when I pasted it on StoryWeaver, it’s not showing properly. What do I do?</b>
            <p>This means that the font that you are using is not Unicode. You need to type the text in a Unicode font as StoryWeaver supports only Unicode. Refer questions above to know more.</p>

            <b>I cannot type in the language, though I can speak and understand it. Can I translate?</b>
            <p>For translating on StoryWeaver, it is essential to be able to write or type in that particular language. There is no other way you can translate a story and put it up on the platform.</p>

            <b>Can I edit my translation after the story is published?</b>
            <p>Yes. Since you are the author of your translated story, you can make edits even after it has been published. But make edits judiciously, only to change grammar, punctuation or correct spellings. Remember that changing your original story/translation too much will affect its derivatives too.</p>

            <b>Will I get credit for my translation?</b>
            <p>Yes. The front cover of the storybook that you translated will carry your name with due credits given to you as a translator.</p>

            <b>Can I get paid for my translation?</b>
            <p>The stories that you translate on StoryWeaver has no remuneration involved. But remember that your translations will help reach more children in India who are in need of good quality reading material in their language.</p>
            <p>However, StoryWeaver is a common ground for people passionate about children’s books and reading to collaborate. From Educators and Parents, to Authors and Illustrators, to Librarians and Publishers all stakeholders will come on the platform to browse for stories. Your translated stories on the platform will get a lot of visibility to your work as a translator which could be noticed and picked up by Authors and Publishers. Many new collaborations could spring up through these interactions.</p>

            <b>How does the transliteration tool work?</b>
            <p>The transliteration tool used in StoryWeaver enables you to type in English as the input language and uses phonetics to create output characters in the output language. For example, you can type in “namaste” to get "नमस्ते" in Hindi, which sounds like “namaste”. As you start typing the word in English, a list of possible transliterations appear for you to select. The purpose of the transliteration tool is to enable language speakers who may not be proficient in typing using the language keyboard layouts to use the standard English keyboard and their knowledge of phonetics to write in the language of their choice. In case you have a language keyboard, or have enabled a language keyboard layout on a standard English keyboard, you click on “Keyboard” to type directly using language characters. In this case, the transliteration tool is disabled. To enable the transliteration tool, toggle on the keyboard button and click on the language name.</p>
            <div class="section-divider"></div>

            <p id="faq4" class="faq-ques"></p>
            <h3>I am a PUBLISHER</h3>
            <b>How will StoryWeaver help me?</b>
            <p>New stories, new authors, new illustrators, new translators-StoryWeaver will help you discover a wealth of resources.As a publisher, as somebody looking for new talent, StoryWeaver is a perfect showcase for you for new content.The platform will be your new and free book agent!</p>
            <p>Publishers can also include their titles on StoryWeaver. The advantage of it being a digital platform is that these stories can live forever and be accessible to readers across the world. So if you have any titles that have remained out of print for long, you can bring it back to life through StoryWeaver. At Pratham Books, we have noticed that our titles which have been made available for online reading are bringing in more sales.</p>

            <b>If I publish a story that I found on StoryWeaver, do I have to credit StoryWeaver?</b>
            <p>Legally no, but it would be really nice if you do :). After all, you discovered the story here. Attributing us will also bring more people to this collaborative platform and help read, create, translate and share more stories.</p>

            <b>If I publish a story that I found on StoryWeaver, do I have to pay the contributors (writer/author, illustrator and translator) anything?</b>
            <p>The CC–BY license that we use on StoryWeaver is the most liberal CC license, which means that legally you are not obliged to pay the creators or translators of the story. But as a good practise, you should compensate the creators. After all, creating a story requires a lot of time and effort.</p>
    
            <b>If I publish a story that I found on StoryWeaver, can I sell it for any amount of my choice?</b>
            <p>Yes. How much you charge for the story is entirely up to you.</p>

            <b>How would I benefit from my stories being on StoryWeaver?</b>
            <p>StoryWeaver is a common ground for people passionate about children’s books and reading to collaborate. From Educators and Parents, to Authors and Illustrators, to Librarians and Translators all stakeholders will come on the platform to browse for stories.The advantage of showcasing your stories on a digital platform is that these stories can live forever and be accessible to readers across the world. So if you have any titles that have remained out of print for long, you can revive it through StoryWeaver. At Pratham Books, we have noticed that the titles which we have made available for online reading are bringing in more sales. Also bear in mind that your stories can result in the creation of many more derivatives: remixed stories, translations, etc. The possibilities for collaboration are endless! </p>

            <b>If another publisher picks up one of our stories from StoryWeaver, will we get paid?</b>
            <p>All stories on StoryWeaver will be licensed under the CC-BY license. Once a story is licensed as CC-BY, there are no legal or monetary obligations, and all transactions are left to the discretion of the organization/publisher picking up the story. However, StoryWeaver urges all users of the platform to give due credit to the creators of every story.</p>

            <b>If we wanted to include our stories on StoryWeaver, would we have to change our author-illustrator contracts?</b>
            <p>For any of your stories to be included on StoryWeaver, it needs to be licensed under CC-BY. In this case, you will have to change your existing contracts with authors and illustrators for the story to be licensed under CC BY</p>

            <b>Will I be able to see how my stories are being used on StoryWeaver (example: translations, readers, etc)?</b>
            <p>Yes!</p>
            <p>There are two ways in which you can see how your stories are being used. One, on your profile page, you can the number of reads and derivatives for each story. Two, on the story detail page, which is accessible to all users, you can see the number of reads, likes, and also view the other versions that have been woven.</p>

            <b>Is there a way for me to get in touch with authors, illustrators and translators via StoryWeaver?</b>
            <p>Yes. You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests.</p>

            <b>As a Publisher, will I be able to edit the books that I have uploaded on the platform?</b>
            <p>Yes, the ‘Edit’ button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember that changing your original story too much will affect its derivatives too.</p>

            <b>As a publisher, how will users find all of my stories on the platform?</b>
            <p>1.As a publisher you will enjoy certain privileges on the platform, one of which is being able to include your logo on each of your stories on StoryWeaver. This means a user just has to follow your Logo to find all the stories on the platform.</p>
            <p>2.As a publisher, you also get to attach a 'Recommended' tag to all your stories. This will make your stories more accessible as many users are likely to look for 'Recommended' stories.</p>
            <p>3. Users can also find your stories via the search box. All they have to do is type your name or the story title.</p>
            <div class="section-divider"></div>

            <p id="faq5" class="faq-ques"></p>
            <h3>I am an EDUCATOR</h3>
            <b>स्टोरीवीवर मेरे किस काम का है?</b>
            <p>शिक्षकों के लिए स्टोरीवीवर बहुत काम का साधन है. यहाँ आपको 100 से भी ज्यादा भाषाओं में, कई आयु-वर्गों और पाठन-स्तरों के लिए कहानियों का खज़ाना मिलेगा. यानी ये कहानियों के ज़रिये शिक्षा देने का ऐसा असीमित संसाधन है, जो भाषा सिखाने से लेकर बच्चों को खुद पढने की प्रेरणा देने तक में आपके काम आयेगा. </p> 
            <p>इतना ही नहीं, स्टोरीवीवर की मदद से आप अपनी कक्षा के लिए खुद भी शिक्षण-संसाधनों का निर्माण कर सकते हैं. इसके लिए आप हमारे ‘click/क्लिक’ फीचर का इस्तेमाल करके झटपट कुछ फ़्लैशकार्ड्स या चित्र चुन लीजिये और उनके आसपास किसी ऐसे विषय पर कहानी बुनिये जिसे पाठ्य-पुस्तक के आधार पर समझाना मुश्किल हो रहा हो.</p>

            <b>If I want to run a story-writing project for my class, can I do it via StoryWeaver?</b>
            <p>Yes. StoryWeaver is an ideal platform for a writing project. But stories cannot be created without logging in, so you can share your username with your entire class or ask them to create their own (if they have email ids of their own) and get started.</p>

            <b>क्या अपनी कक्षा में प्रयोग करने के लिए हमें आपके यहाँ कहानियों के अलावा भी संसाधन [विचार, कार्यकलाप] मिलेंगे?</b>
            <p>Currently, we have not built any story-specific resources, but we would encourage you to do so. Do share them with us via email (contact@storyeaver.org.in) so that we can put it up for it to be used by other educators.</p>

             <b>क्या यहाँ मुझे ये भी बताया जाएगा कि मेरी कक्षा के लिए कौनसी किताबें बेहतर होंगी? क्या आप कुछ सिफ़ारिश करेंगे?</b>
            <p>जी हाँ. हमारे ‘Read/रीड’ टैब/tab में आपको वो कहानियां मिल जायेंगी जिनकी हमारे सम्पादक सिफ़ारिश करते हैं. इसे अलावा ‘सबसे ज्यादा पढ़ी गयी’ और ‘सबसे ज्यादा पसंद की गयी’ कहानियाँ भी आपको दिशा दिखा सकती हैं.</p>

            <b>आपकी ‘Level 3/तीसरे स्तर की’ किताबें किसके लिए हैं? तीसरी कक्षा के बच्चों के लिए, या यहाँ इसका कुछ और मतलब है?</b>
            <p>जी नहीं. बच्चे की उम्र या कक्षा का उसके पढने के स्तर से कोई लेना-देना नहीं है. यहाँ ‘स्तर/level’ का मतलब ये है कि बच्चा कितनी अच्छी तरह से पढ़ और समझ सकता है. लेकिन बच्चा किस भाषा में कितने आराम से पढ़ सकता है, इससे भी पढने के स्तर में फ़र्क आ सकता है. जैसेकि हो सकता है किसी बच्चे का पढने का स्तर मराठी में तीन हो, लेकिन इंग्लिश/अंग्रेज़ी में एक ही हो! यहाँ आप हमारी ‘रीडिंग लेवल गाइड/पाठन स्तर मार्गदर्शक’ की मदद से जान सकते हैं कि किस बच्चे के लिए कौनसी कहानी सही रहेगी.</p>

            <b>क्या इन किताबों की मदद से भाषाएँ भी सिखाई जा सकती हैं? </b>
            <p>लिखी हुई भाषा को बच्चे किताबों और कहानियों के ज़रिये बेहतर समझ पाते हैं. किताबें भाषा सिखाने का सीधा साधन भले ही न हों, लेकिन जब बच्चों को कोई कहानी किसी भाषा में लिखी दिखती है, तो वो उस भाषा को सीखने में उनकी मदद ज़रूर करती है. कोई नयी भाषा सीखनी हो, तो दो भाषाओं में छपी किताबें बच्चों के बहुत काम आती हैं.</p>

            <b>अगर मुझे स्टोरीवीवर में कुछ ऐसा दिखे जो बच्चों के लिए गलत हो, तो मैं क्या करूं?</b>
            <p>अगर आपको हमारे यहाँ कुछ भी ऐसा दिखे जो बच्चों के लिए उचित न हो, तो आप कहानी के ब्यौरे वाले पन्ने के ऊपरी दायें कोने में जो ‘Flag/फ्लैग’ है, उसपर क्लिक करके शिकायत/रिपोर्ट कर सकते हैं.</p>

            <b>मैं अपनी मनपसंद कहानी कैसे प्रिंट करूं?</b>
            <p>आपको कहानी के ब्यौरेवाले हरेक पन्ने के निचले पैनल में एक डाउनलोड बटन दिखाई देगा. इस बटन पे क्लिक करके आप कहानी का पीडीऍफ़ वर्शन डाउनलोड कर सकते हैं और उसे ए-फ़ॉर साइज़ के कागज़ पर प्रिंट भी कर सकते हैं.</p>

            <b>क्या स्टोरीवीवर की किसी कहानी का सम्पादन भी किया जा सकता है?</b>
            <p>जी नहीं, स्टोरीवीवर की किसी भी कहानी का सम्पादन केवल उसका मूल लेखक ही कर सकता है. लेकिन आप चाहें तो अपनी ज़रुरत के मुताबिक़ हमारी किसी कहानी का अनुवाद या फिर ‘स्तर-परिवर्तन/re-level’ कर सकते हैं.</p>

            <b>यहाँ विषय के आधार पर कहानियां किस तरह मिलेंगी?</b>
            <p>हमने कहानियों का वर्गीकरण इस तरह किया है कि पाठक उन्हें विषय के आधार पर ढूंढ सकते हैं. और भी बारीकी से ढूँढना हो तो पाठक मौजूदा वर्गों (पशु-कथा, इतिहास आदि) के लिए फ़िल्टर्स भी इस्तेमाल कर सकते हैं. और फिर, आपकी तलाश को और आसान बनाने के लिए यहाँ स्टोरीवीवर की कहानियों पर लगे टैग्स भी तो हैं!</p>

            <b>मेरे स्कूल में कम्प्यूटर तो है, लेकिन इन्टरनेट का कनेक्शन बहुत ही खराब है. तो क्या बिना इंटरनेट के भी स्टोरीवीवर चल सकता है?</b>
            <p>जी नहीं, बिना इन्टरनेट के तो आप स्टोरीवीवर तक नहीं पहुँच पायेंगे. लेकिन जब नैट चल रहा हो, उस वक़्त आप स्टोरीवीवर की कहानियों को ब्राउज़ करके डाउनलोड और प्रिंट कर सकते हैं, और फिर जब चाहें पढ़ सकते हैं.</p>

            <b>अगर हमें अपनी कक्षा के लिए ज़ोर से पढनेवाली कहानियों की ज़रुरत हो, तो वो हमें स्टोरीवीवर में कहाँ मिलेंगी?</b>
            <p>ऐसी कहानियों के लिए आपको हमारे ‘ज़ोर से पढ़नेवाली’ कहानियों के वर्ग में जाना होगा. यहाँ ‘पाठन-स्तर’ वाले फ़िल्टर्स की मदद से आपको वो कहानी मिल जायेगी जो आपकी कक्षा के लिए बिलकुल सही होगी.</p>

            <b>Can we get in touch with authors and illustrators via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>

            <b>Can I edit/create a story anonymously?</b>
            <p>No, the name of the author is always displayed on the front cover of the book. You can, however, choose a display name of your choice (his doesn't have to be your real name. Like a pen name!).</p>
            <div class="section-divider"></div>

            <p id="faq6" class="faq-ques"></p>
            <h3>I am a STORYTELLER</h3>
            <b>इस मंच से मुझे क्या मदद मिल सकती है?</b>
            <p>स्टोरीवीवर कहानियों का भण्डार है. वो भी कई भाषाओं में. यहाँ आते ही आपकी पहुँच 100 से भी ज्यादा भाषाओं में, हज़ारों-हज़ार कहानियों तक हो जाती है और फिर अपने किस्सागोई के सेशंस के लिए आपके पास किस्सों की कमी कभी नहीं रहती. आप चाहें तो अपने श्रोताओं की उम्र के हिसाब से इन कहानिओं का ‘पाठन-स्तर’ भी बदल सकते हैं. या फिर यहाँ जो चित्रों का खज़ाना है, उससे प्रेरणा लेकर आप अपने अगले सैशन में सुनाने के लिए खुद भी कोई कहानी बुन सकते हैं. मैदान खुला है, जैसे चाहें खेलिए.</p>

            <b>स्टोरीवीवर की कहानियों को मैं कैसे प्रयोग करूं? उन्हें अपने सैशन में कैसे ले जाऊं?</b>
            <p>स्टोरीवीवर की सभी कहानियों का ‘पाठन-स्तर’ के आधार पर वर्गीकरण किया गया है. यहाँ आप अपने पाठकों की उम्र के मुताबिक़ भी कहानी चुन सकते हैं. इन कहानियों को आप कहानी का ब्यौरा देनेवाले पन्ने के नीचे दिए गए डाउनलोड बटन को क्लिक करके डाउनलोड कर सकते हैं. फिर आप चाहें तो उन्हें अपने लैपटॉप, टैबलेट या मोबाइल पे पढ़ें, या फिर प्रिंट करके अपने सैशन में साथ ले जाएँ.</p>

            <b>अगर मैं स्टोरीवीवर की किसी कहानी का इस्तेमाल करूं, तो क्या मुझे किसी को बताना या उसका श्रेय देना होगा?</b>
            <p>शराफ़त का तकाज़ा तो यही है कि आप लोगों को बताएं कि ये कहानी आपने स्टोरीवीवर से ली है. इससे उन्हें भी इस मंच का प्रयोग करने और इसका लाभ उठाने की प्रेरणा मिलेगी.</p>

            <b>अगर अपने सेशंस के दौरान मैंने भी कुछ कहानियां बुन डाली हों, तो क्या उन्हें यहाँ डाला जा सकता है?</b>
            <p>बिलकुल! अपनी कहानी लिखने के लिए आप हमारे ‘क्रिएट टैब’ का इस्तेमाल कीजिये. साथ में चित्र भी डालेंगे तो कहानी में चार चाँद लग जायेंगे.</p>

            <b>अगर हमें कोई कहानी तो बहुत पसंद आई हो, लेकिन उसका अंत न भाया हो, तो क्या हम अंत बदल सकते हैं?</b>
            <p>जी नहीं, आप किसी और की लिखी कहानी में कोई बदलाव नहीं कर सकते. लेकिन आप चाहें तो हमारे ‘क्रिएट टैब’ का इस्तेमाल करके किसी कहानी का पुनर्लेखन कर सकते हैं, या फिर अपने पाठकों की उम्र के मुताबिक़ उसका ‘पाठन-स्तर’ बदल सकते हैं.</p>

            <b>आपकी चित्र-दीर्घ कमाल की है जिसे देखकर मन में हज़ारों विचार आते हैं. क्या हम इन चित्रों को अपने सेशंस में इस्तेमाल कर सकते हैं?</b>
            <p>जी हाँ, आप ये चित्र डाऊनलोड करके अपने डिजिटल डिवाइस पर, या फिर प्रिंट करके, अपने सेशंस में दिखा सकते हैं. उम्मीद है, आप अपने दर्शकों को ये ज़रूर बताएंगे कि उनका चित्रकार कौन है और वो आपको कहाँ से हासिल हुए हैं.</p>

            <b>अगर हम आपकी किसी कहानी के इर्द-गिर्द कोई कार्यकलाप/एक्टिविटी करें, जो दूसरों के भी काम आ सके, तो उसे हम सबके साथ साझा कैसे करें?</b>
            <p>फ़िलहाल हमारे पास ऐसा कोई मंच नहीं है जहां आप खुद अपने बनाए संसाधनों/कार्यकलापों को अपलोड कर सकें. फिर भी हम चाहेंगे कि जब आप उन्हें पूरा कर लें, तो हमारे साथ ज़रूर साझा करें ताकि हम उसे दूसरों के इस्तेमाल के लिए स्टोरीवीवर में डाल सकें.</p>

            <div class="section-divider"></div>

            <p id="faq7" class="faq-ques"></p>
            <h3>I am a PARENT</h3>
            <b>How will this platform help me?</b>
            <p>Stories are a great resource to keep your children creatively engaged. Reading also helps a child’s development both academically as well personality wise. At StoryWeaver you will find hundreds of stories for children for different reading levels. Also the stories are in multiple languages so your child can read a story in her mother tongue, a language she is trying to learn or just a language she is already proficient in. This is a treasure trove. Dive in.</p>

            <b>How can I know which is the most suitable story for my child?</b>
            <p>Each story will have a badge of the reading level it caters too (Level1, 2,3 or 4). You need to match this to your child’s reading level. To gauge your child’s reading level, know more about it here.</p>

            <b>How do I get my child to read more on StoryWeaver?</b>
            <p>Let your child discover StoryWeaver on her own. Let her look up stories she likes and let her read. Once she finds content she likes, she will automatically read more on StoryWeaver.</p>

            <b>My child loves the stories here and I want to print one of her favorite stories as return gifts for her birthday. How do I do it?</b>
            <p>Such a lovely idea! Please use the download button at the bottom panel of the story detail page to download the story. It will download in a pdf version which you can now print in A4 size sheets.</p>

            <b>I want to talk to other parents and know what their children are reading. How can I?</b>
            <p>You can connect with other users, including other parents via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>
            <div class="section-divider"></div>
           </div>
           <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="250" data-offset-top="200">
                <ul>
                     <li class="active"><a href="#faq1">I am an ILLUSTRATOR</a></li>
                     <li><a href="#faq2">I am a WRITER</a></li>
                     <li><a href="#faq3">I am a TRANSLATOR</a></li>
                     <li><a href="#faq4">I am a PUBLISHER</a></li>
                     <li><a href="#faq5">I am an EDUCATOR</a></li>
                     <li><a href="#faq6">I am a STORYTELLER</a></li>
                     <li><a href="#faq7">I am a PARENT</a></li>
                 </ul>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
