<div class="row about-row noborder">  
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">         
        <div class="col-md-12 col-sm-12">
        <h3>Feedback and Comments </h3>
          <p>Hope you are enjoying the StoryWeaver experience. StoryWeaver is still in its beta version because we are continuing to work to improve the product and provide users with an even better experience. Rather than wait to perfect everything by ourselves, we thought we would launch a beta version of the platform and hear from you what you liked and what are the things you would like improved. StoryWeaver is a small but ambitious start to create access to books for all children by using an innovative model that is inclusive and collaborative. Please feel free to come up with questions, ideas and suggestions to help us improve.</p>
          <p class="write_to">Please record them in the form below or you can email us at <a href="mailto:contact@storyweaver.org.in">contact@storyweaver.org.in</a>.</p>

          <p>Cheers,<br>
          Team StoryWeaver</p>

         <iframe id="feedback_comment_form" src=" https://docs.google.com/forms/d/1jIKfTVBgIqDKNmWpJeeadqYH_qec9VEzRY94vtDuGcQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> 
        </div>
      </div>
    </div>
  </div>
</div>
