<%#= render :partial => "dashboard/errors" %>
<div class="row about-row noborder">
  <section id="upload-illus" style="padding: 0;">
   <div class="row top-border">
    <div class="col-md-12 col-sm-12" style="padding-left: 55px;">
      <h4>StoryWeaver pledges to offer children stories in 15 new languages and the Freedom to Read!</h4>

      <p>September 8th is celebrated across the world as International Literacy
      Day. This day, a year ago, <a href="www.prathambooks.org">Pratham Books</a> launched StoryWeaver - India's first open
      source, digital repository of multilingual children’s stories. To mark the
      occasion StoryWeaver is launching the 'Freedom to Read' campaign.</p>

      <p>In the last twelve months, StoryWeaver has grown from a platform with 800
      stories in 24 languages to over 2000 stories in 51 languages: Indic,
      tribal, international, minority and classical. It’s this linguistic
      diversity that is at the heart of what we do, and that we hope to nourish
      through the Freedom to Read campaign.</p>

      <p>At StoryWeaver we believe that every child should have access to joyful
      stories in her mother tongue, so as we complete one year we pledge to add
      stories in 15 new languages to StoryWeaver. The campaign will culminate on
      International Mother Language Day (February 21st, 2017), with the stories
      having reached children through on-ground collaborations.</p>

      <p>Our vibrant community made up of passionate individuals such as yourself,
      are our biggest strength and motivation and we can’t imagine this campaign
      without your participation!</p>

      <p><b>How you can take part:</b></p>

       <ul style ="clear: both">
          <li>Do you want us to add a language in need of more joyful reading
          material? It can be one you already know or one that you’re fluent in or
          learning, Indic or International, tribal or mainstream!</li>
          <li>Once we’ve added the language, translate stories to the language you’ve
          chosen and then set them free! Share them on Facebook or Twitter, download,
          print and share copies with children.</li>
          <li>Know an amazing organisation that’s working with underserved children
          who might benefit from our stories? That’s passionate about preserving
          languages? Tell us about them.</li>
          <li style ="margin-bottom: 15px;">Do a StoryWeaver demo for the teachers of a local municipality school in
          your area and help them and their students create a story!</li>
       </ul> 


      <p>Click <a href="https://docs.google.com/forms/d/e/1FAIpQLScbrY6_aSlWgruBNaRCRBCCJppfsYRFU66GaXrzUch_UKV6Dg/viewform">here</a> to join the Freedom to Read campaign or write to <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a> with #FreedomtoRead in the subject
      Line and tell us how you’d like to be part of our initiative.</p>
    </div>
  </div>
 </section>
</div>