<div class="row about-row">
      <div class="image-bef-txt imld_banner">
            <a href="#imld_camp6"><img src="<%= asset_path('about/imld_banner1.png') %>" class="about-banner" /></a>
      </div>

      <div class="row about-row noborder imld_campaign">    
            <div class="home-full-border about-border">
                  <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
                        <div class="col-md-12 col-sm-12">
                              <div class="col-md-9 col-sm-9 faq-left-ques imld_camp">

                                    <p id="imld_camp1" class="faq-ques"></p>
                                    <h3>About StoryWeaver Freedom to Read 2019</h3>
                                    <p>StoryWeaver believes that every child deserves to have reading material in her mother tongue. To this end, we aim to build 100 local language libraries - all digital, and would like to invite educators, translators, literacy organisations, and everyone else working with children to promote reading in their mother tongue to partner with us in this mission. Together, we will build 100 local language libraries by February 21, 2019 - International Mother Language Day.</p>

                                    <p id="imld_camp2" class="faq-ques"></p>
                                    <h3>Why Local Language Libraries?</h3>
                                    <p>UNESCO's report on mother tongue literacy states, 'children should be taught in a language they understand, yet as much as 40% of the global population does not have access to education in a language they speak or understand.'</p>
                                    <p>StoryWeaver is proud of the small but important role it is able to play in preserving languages for future generations and in helping create reading resources in languages that do not feature in mainstream publishing.</p>
                                    <p>The storybooks created on the platform are used in classrooms to retain students' interests and preserve the local culture and language. They also act as a much needed link between the language spoken at home and the medium of instruction in schools.</p>

                                    <p id="imld_camp3" class="faq-ques"></p>
                                    <h3>Who should participate?</h3>
                                    <p>Educators, translators, literacy organisations, language departments, translation organisations, language development organisations, and everyone else working with children to promote reading in underserved languages.</p>

                                    <p id="imld_camp4" class="faq-ques"></p>
                                    <h3>Support for Partners</h3>
                                    <p>For StoryWeaver Freedom to Read 2019, StoryWeaver will support teams by sharing translation and editorial knowledge, help curate content for translation and by guiding partners in running translation hackathons and workshops.</p>
                                    <p>Additionally, partners will also receive promotional support and be a part of StoryWeaver's Freedom to Read 2019 online activities. Selected partners will feature in our special report on leading organisations working to create mother tongue literacy resources for children. Most importantly, organisations and individuals collaborating with us will be part of a global movement to spread the joy of reading to more children in more languages.</p>

                                    <p id="imld_camp5" class="faq-ques"></p>
                                    <h3>Application Guidelines and Timelines</h3>
                                    <ul>
                                         <li>The deadline for submitting your completed form is November 30th, 2018.</li>
                                          <li>Pratham Books reserves the final rights to select partners.</li>
                                          <li>Selected partners will be notified by email and announced on our blog and via social media by December 7th, 2018.</li>
                                          <li>Selected partners will enter into an MOU with Pratham Books.</li>
                                          <li>Only selected partners will be eligible for translation support and mentoring.</li>
                                          <li>Applications for building digital libraries in underserved and minority languages will be given preference over those in mainstream languages or languages that already have a digital library of stories on StoryWeaver.</li>
                                          <li>Applicants with basic digital infrastructure and language resources to create a local digital library will also be given preference.</li>
                                          <li>All content created and published by you / your organisation on StoryWeaver as part of the StoryWeaver Freedom to Read 2019 campaign will by default be licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.</li>
                                          <li>If you have any further queries, you can read our <a href="/v0/imld_faqs" target="_blank">FAQs</a> or write to us at <a href="mailto:storyweaver@example.com">storyweaver@example.com</a></li> 
                                    </ul>

                                    <p id="imld_camp6" class="faq-ques"></p>
                                    <h3>Apply Now</h3>
                                    <p style="margin-bottom: 0;">Click on the button below which best describes you/your team to fill in the application form.</p>
                                    <p class="imld_camp_apply">
                                          <a href="https://goo.gl/forms/Gl0Ba8goBXDN43oI3" class="btn btn-primary btn-lg" target="_blank"><span>I represent a Literacy Organisation</span></a>
                                          <a href="https://goo.gl/forms/7FOFWdKfVHF8BdKN2" class="btn btn-primary btn-lg" target="_blank"><span>I represent a University Language Department/ Language or Translation Organisation</span></a>
                                          <a href="https://goo.gl/forms/SHE9C30DKPyhYzkl2" class="btn btn-primary btn-lg" target="_blank"><span>I am an Individual</span></a>
                                    </p>
                                    <p><strong>LAST DATE: NOVEMBER 30, 2018</strong></p>

                                    <p id="imld_camp7" class="faq-ques"></p>
                                    <h3>About StoryWeaver</h3>
                                    <p>StoryWeaver is an open source, digital platform of multilingual children’s stories from Pratham Books, a not<span style="font-size: 15px;">-</span>for<span style="font-size: 15px;">-</span>profit publisher of good quality, affordable storybooks in multiple Indian languages. On StoryWeaver, users can read, create, translate, download and share stories for free! By creating a collaborative framework where creators and consumers of children's content can interact with one another, StoryWeaver attempts to address the scarcity of books for children. StoryWeaver was launched in 2015 with 800 stories in 24 languages. Today, the platform offers over 9,000 stories in 122 languages.</p>
                              </div>
                              <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="500" data-offset-top="400">
                                    <ul>
                                          <li class="active"><a href="#imld_camp1">About StoryWeaver Freedom to Read 2019</a></li>
                                          <li><a href="#imld_camp2">Why Local Language Libraries?</a></li>
                                          <li><a href="#imld_camp3">Who should participate?</a></li>
                                          <li><a href="#imld_camp4">Support for Partners</a></li>
                                          <li><a href="#imld_camp5">Application Timelines and Guidelines</a></li>
                                          <li><a href="#imld_camp6"><strong style="color: #f7931d;">Apply Now</strong></a></li>
                                          <li><a href="/v0/imld_faqs" target="_blank">FAQs</a></li>
                                          <li><a href="#imld_camp7">About StoryWeaver</a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
