<div class="row about-row">
      <div class="image-bef-txt imld_banner">
            <img src="<%= asset_path('about/imld_banner1.png') %>" class="about-banner" />
      </div>

      <div class="row about-row noborder imld_campaign">    
            <div class="home-full-border about-border">
                  <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
                        <div class="col-md-12 col-sm-12">
                              <div class="col-md-9 col-sm-9 faq-left-ques imld_camp">

                                    <p id="imld_camp_faq1" class="faq-ques"></p>
                                    <h3>Who can Apply?</h3>
                                    <b>I'm an individual. Can I take part? What resources will I need?</b>
                                    <p>Absolutely! Your translating skills are super important. All you'll need is a wifi connection and a desktop or laptop.</p>

                                    <b>I belong to an organisation. Can we take part?</b>
                                    <p>Yes! We welcome all organisations - non<span style="font-size: 15px;">-</span>profits, social enterprises, for<span style="font-size: 15px;">-</span>profits, ed<span style="font-size: 15px;">-</span>tech start ups - committed to spreading the joy of reading in mother tongue languages and working in the spaces of translation, education, literacy and language access to apply to join hands with us towards this ambitious endeavour.</p>

                                    <b>We are a group of teachers. We want to build a digital library for our school. Can we participate?</b>
                                    <p>This is the perfect opportunity to build a digital library for your school. Educators across the world have created mother tongue resources for children in languages like <a href="https://storyweaver.org.in/stories?language=Kora%20%28Bengali%20Script%29&query=&sort=Relevance" target="_blank">Kora</a>, <a href="https://storyweaver.org.in/stories?language=Santali%20%28Bengali%20Script%29&language=Santali%20%28Devanagri%29&language=Santali%20%28Ol%20Chiki%29&query=&sort=Relevance" target="_blank">Santali</a>, <a href="https://storyweaver.org.in/stories?language=Cebuano-Cebu&query=&sort=Relevance" target="_blank">Cebuano<span style="font-size: 15px;">-</span>Cebu</a> and <a href="https://storyweaver.org.in/stories?language=Bahasa%20Indonesia&query=&sort=Relevance" target="_blank">Bahasa Indonesia</a>. So we encourage more educators to partake!</p>

                                    <b>I have no background in teaching or education. I want my kids to read books in my mother tongue. Can I participate?</b>
                                    <p>You do not need to have a background in teaching or even have an educational industry background, all we need are your super awesome translating skills!</p>

                                    <b>How many members should I have in my team?</b>
                                    <p>You can have as little as one to as many members in your team as you can rally together. The more the merrier!</p>

                                    <b>What resources will we need?</b>
                                    <p>One or more language enthusiasts or educators excited about working on this project, a wifi connection and a laptop or desktop computer are the main resources you need to start work!</p>
                                    <div class="section-divider"></div>

                                    <p id="imld_camp_faq2" class="faq-ques"></p>
                                    <h3>Why should I apply?</h3>
                                    <b>How is participating in this initiative different from simply using StoryWeaver to translate and publish stories in my language?</b>
                                    <p>Selected partners will benefit in a number of ways from being a part of the StoryWeaver Freedom to Read campaign. First of all, quality, reviewed translations published through this initiative will carry a 'Recommended' tag and will be promoted. Secondly, organisations taking part will be listed as partners on the StoryWeaver platform. They will have their own easy to access profile page (have a look at <a href="https://storyweaver.org.in/publishers/448-uganda-christian-university" target="_blank">The Ugandan Christian University's profile page</a>) and a dashboard for tracking derivatives. Most importantly, participants will also have access to mentoring in translation, editing, community mobilisation and documentation.</p>

                                    <b>Will participation help me connect with others taking part to translate / create stories in the same language?</b>
                                    <p>If we receive requests from more than one individual or organisation to translate content to a particular language then we will do our best to connect them so that they may work collaboratively towards creating the digital library.</p>

                                    <b>Is this a contest? Is there prize money to be won?</b>
                                    <p>This is not a contest, rather an invitation to collaborate with StoryWeaver to help create and share digital libraries in underserved mother tongue languages. There is no prize money, however shortlisted teams will receive support and mentoring from StoryWeaver in not only creating the digital libraries, but also in other areas that may be beneficial to their work such as documenting, community mobilisation etc.</p>

                                    <b>Is there a participation fee?</b>
                                    <p>No, there is not. Teams selected to collaborate with us will not have to pay any money towards the creation of the digital library.</p>
                                    <div class="section-divider"></div>

                                    <p id="imld_camp_faq3" class="faq-ques"></p>
                                    <h3>About local language digital libraries</h3>
                                    <b>What is a local digital library?</b>
                                    <p>A local digital library is one that solely comprises of stories in a chosen mother tongue language. This language might be chosen based on the learning needs of children you work with, or because you yourself speak the language and would like to contribute joyful stories in it in the form of translations.</p>

                                    <b>Why are you recommending the local digital library have 100 books?</b>
                                    <p>Imagine being able to borrow a brand new book every week for two years! Or two new books every week! By creating a digital library with 100 books, you're ensuring that readers have something new and exciting to look forward to every time they visit. Children can explore a range of topics and themes and progress through reading levels, ensuring their reading skills advance. Take a look at the digital libraries in <a href="https://storyweaver.org.in/stories?language=French&query=&sort=Relevance" target="_blank">French</a> and <a href="https://storyweaver.org.in/stories?language=Gondi&query=&sort=Relevance" target="_blank">Gondi</a> on StoryWeaver for inspiration!</p>

                                    <b>Why only digital libraries? How will digital libraries benefit my community?</b>
                                    <p>Digital libraries are easy to share with many members, irrespective of their location and books can be added to them with ease. They can help preserve your language with stories for future generations to read, enjoy and share and can improve access to good quality children's literature for your community. You will not only be able to access the library online, but also by downloading pdfs of the books, or through the <a href="https://storyweaver.org.in/offline" target="_blank">Offline Library</a> feature.</p>

                                    <b>I don't have the infrastructure to build a digital library. Can participating help me with that?</b>
                                    <p>All you need to begin building a digital library in your chosen language is a team (it could even just be you!) of people enthusiastic about working towards this end goal. A wifi connection and a laptop or desktop computer are the only digital tools you need to start work!</p>

                                    <b>Who will review the quality of stories translated?</b>
                                    <p>We recommend your team builds in a peer<span style="font-size: 15px;">-</span>to<span style="font-size: 15px;">-</span>peer review system while creating your digital library. You might also like to assemble an expert panel who can review the translations and share feedback with your team before you publish the books. The goal is to create a high quality, error free, digital library of books in the language of your choice. If you're an individual translating stories, we will do our best to find others translating stories to the same language for you to connect with. However, this isn't something we can promise. Whether you’re a team or an individual, we recommend you familiarise yourself with our <a href="https://storyweaver.org.in/translation_tools_and_tips" target="_blank">Translation Tools and Tips</a>!</p>

                                    <b>Will my team have its own website? If not, where will this digital library exist?</b>
                                    <p>All the digital libraries created through this effort will exist on StoryWeaver, and the books can be read, shared and downloaded for free. However, you are also free to download these books and add them to your own reading platform should you wish to do so. Selected organisations will have their own profile page which they can access and share. Take a look at <a href="https://storyweaver.org.in/publishers/2708-cgnet-swara" target="_blank">CGnetSwara</a> and <a href="https://storyweaver.org.in/publishers/440-the-asia-foundation" target="_blank">The Asia Foundation's</a> profile pages.</p>

                                    <b>How can readers access the library?</b>
                                    <p>StoryWeaver is a digital repository of openly licensed, multilingual books for children. Anyone and everyone can read the books on the platform for free! Users who wish to download the books will need to <a href="https://storyweaver.org.in/users/sign_up" target="_blank">create an account</a>, which only takes two minutes!</p>

                                    <b>What resources will we require to run this digital library once it is ready?</b>
                                    <p>There are a number of ways you can run your library once it's ready. You can share the link to your library with your community so that they can read the books online. If internet access is a concern, you can download the books via our <a href="https://storyweaver.org.in/offline" target="_blank">Offline Library</a> and readers can access them whenever they like. Basically, you can use this library based on the resources available to you and potential members.</p>

                                    <b>We would also like to have physical copies of books we translate in our digital library. Is this possible?</b>
                                    <p>Once you have translated and reviewed the books, you can download them in a variety of formats, and print these books should you wish to. In the past organisations like the Konkani Bhasha Mandal and Suchana have obtained third party funding to print books translated on StoryWeaver and distribute them.</p>

                                    <b>How long will my team get to build this digital library?</b>
                                    <p>We would love to see all the digital libraries created as a part of this initiative up and ready before International Mother Language Day, ie February 21st, 2019.</p>
                                    <div class="section-divider"></div>

                                    <p id="imld_camp_faq4" class="faq-ques"></p>
                                    <h3>Freely accessible digital libraries</h3>
                                    <b>How does "freely accessible" work? What is CC BY 4.0?</b>
                                    <p>All content on StoryWeaver is openly licensed under one of THE most liberal Creative Commons licenses: <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>. That means that anyone and everyone can read, share or repurpose the content on the platform as per their needs. Once your library is on StoryWeaver, anyone can read and share the books, translate them to another language or remix, transform, and build upon the material for any purpose, even commercially.</p>

                                    <b>How will I/my team get credited for the books we translate?</b>
                                    <p>We recommend that each member of your team create their own, individual accounts on StoryWeaver. This ensures that each member of the team is attributed for their contribution to the library. You might want to create an attribution page crediting your entire team on the last page of every book you translate, like the one in <a href="https://storyweaver.org.in/stories/14763-omukulembeze-owe-ebinhonhi" target="_blank">this</a> story.</p>

                                    <b>As an organisation with a team of translators, will the credit go to the organisation or individual team members?</b>
                                    <p>Each translator will be attributed for contribution to digital library. Organisations with participating teams will be featured on the platform as a publishing partner, and will be able to access their digital library through a unique profile page.</p>

                                    <b>Who other than my organisation and its members can access my local library?</b>
                                    <p>As the content of the digital library will come under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0 license</a>, it can be freely accessed by anyone across the world.</p>
                                    <div class="section-divider"></div>

                                    <p id="imld_camp_faq5" class="faq-ques"></p>
                                    <h3>Language Selection</h3>
                                    <b>What kind of languages are you looking to create digital libraries in?</b>
                                    <p>A UNESCO <a href="https://en.unesco.org/gem-report/sites/gem-report/files/MLD_2016.pdf" target="_blank">report</a> on mother tongue literacy states, 'children should be taught in a language they understand, yet as much as 40% of the global population does not have access to education in a language they speak or understand'. Through the StoryWeaver Freedom to Read 2019 initiative we are aiming to build early reading resource libraries in underserved local languages. We truly believe that all learners / children must have access to reading resources in their mother tongue and in other languages as it is through the mastery of the first language or mother tongue that the basic skills of reading, writing and numeracy are acquired.</p>
                                    <p>For those interested in partnering with us in mainstream languages that we already have a large pool of content in, we are looking for organisations/individuals who can help us strengthen these resources. We wish to extend an invitation to these organisations/ individuals to join us as reviewer partners. To learn more about this write to <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a> with the subject line: Interested in Reviewing Local Language Books.</p>

                                    <b>StoryWeaver doesn't have my mother tongue listed. Can I still participate?</b>
                                    <p>Yes! If selected, your mother tongue language will be added to StoryWeaver, provided there is a unicode compliant font for your language. Write to us at <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a> and we will initiate adding your language to the platform.</p>

                                    <b>Can we translate books into more than one language?</b>
                                    <p>We want to help you build a local digital library in the mother tongue language of your choice. If you and your team are adept at more than one language, then you may choose to create more than one local digital library.</p>

                                    <b>Does "building" a digital library mean that we will only be translating existing books into our mother tongue? Can we also write our own stories?</b>
                                    <p>StoryWeaver Freedom to Read 2019 is all about translating existing work and you get an opportunity to choose from thousands of different books, for various levels of reading. You can choose books based on your children's needs and topics that appeal to you. Unfortunately, you will not be able to write your own stories.</p>
                                    <div class="section-divider"></div>

                                    <p id="imld_camp_faq6" class="faq-ques"></p>
                                    <h3>Content Curation</h3>
                                    <b>How do I know that the books I choose don't have an existing translation in my mother tongue?</b>
                                    <p>Once you sign up on StoryWeaver, click on <a href="https://storyweaver.org.in/stories?sort=Relevance" target="_blank">Read</a> and choose your language from the filter. This will show you all the books on the platform in your language. We recommend you translate those books that do not have translations to your chosen language so that children have a diverse collection of stories to choose from. Our content team can also assist you in curating a list of 150 universal stories across themes and reading levels that children from across the world will enjoy.</p>

                                    <b>What if the book I choose has an existing translation? Does my contribution still count?</b>
                                    <p>Yes, it does!</p>

                                    <b>Will we receive help from StoryWeaver in choosing stories which can be used in classrooms/storytelling sessions?</b>
                                    <p>You and your team have the freedom to choose your own stories, but StoryWeaver will lend it's expertise in story selection, if you so desire.</p>
                                    <div class="section-divider"></div>

                                    <p id="imld_camp_faq7" class="faq-ques"></p>
                                    <h3>Application Guidelines and Timelines</h3>
                                    <ul>
                                          <li>The deadline for submitting your completed form is November 30th, 2018.</li>
                                          <li>Pratham Books reserves the final rights to select partners.</li>
                                          <li>Selected partners will be notified by email and announced on our blog and via social media by December 7th, 2018.</li>
                                          <li>Selected partners will enter into an MOU with Pratham Books.</li>
                                          <li>Only selected partners will be eligible for translation support and mentoring.</li>
                                          <li>Applications for building digital libraries in underserved and minority languages will be given preference over those in mainstream languages or languages that already have a digital library of stories on StoryWeaver.</li>
                                          <li>Applicants with basic digital infrastructure and language resources to create a local digital library will also be given preference.</li>
                                          <li>All content created and published by you / your organisation on StoryWeaver as part of the StoryWeaver Freedom to Read 2019 campaign will by default be licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.</li>
                                          <li>If you have any further queries, write to us at <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a></li>
                                    </ul>
                                    <div class="section-divider"></div>
                              </div>
                              <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="400" data-offset-top="400">
                                    <ul>
                                          <li class="active"><a href="#imld_camp_faq1">Who can apply?</a></li>
                                          <li><a href="#imld_camp_faq2">Why should I apply?</a></li>
                                          <li><a href="#imld_camp_faq3">What is a Local Digital Library?</a></li>
                                          <li><a href="#imld_camp_faq4">Freely accessible digital libraries</a></li>
                                          <li><a href="#imld_camp_faq5">Language Selection</a></li>
                                          <li><a href="#imld_camp_faq6">Content Curation</a></li>
                                          <li><a href="#imld_camp_faq7">Application Guidelines and Timelines</a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
