<div class="row about-row noborder">  
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      <div class="arch_year">
        <div class="btn-group"><label>Select Year</label></div>
        <div class="btn-group sel_year">
          <a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">2018<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="in_the_news">2018</a></li>
            <li><a href="archive">2017</a></li>
            <li><a href="news_arch_2016">2016</a></li>
            <li><a href="news_arch_2015">2015</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Hindu Young World</h3>
            <strong>November 14, 2018</strong>
            <p><a href="https://www.thehindu.com/children/wingardium-movie-osa/article25474687.ece" target="_blank">Wingardium Move-iosa</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Scroll</h3>
            <strong>November 14, 2018</strong>
            <p><a href="https://shop.scroll.in/book/902061/a-childrens-publisher-is-designing-gif-books-to-make-for-a-more-immersive-reading-experience" target="_blank">A Children's Publisher is Designing Gif Books to make for a more immersive reading experience</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The Hindu</h3>
            <strong>September 7, 2018</strong>
            <p><a href="https://www.thehindu.com/sci-tech/technology/internet/watch-and-read/article24895244.ece" target="_blank">Watch and Read</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The Hindu Businessline</h3>
            <strong>July 24, 2018</strong>
            <p><a href="https://www.thehindubusinessline.com/news/storyweaver-brings-to-life-dying-languages-through-technology-and-childrens-stories/article24505598.ece" target="_blank">StoryWeaver brings to life dying languages through technology and children's stories</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Telegraph India</h3>
            <strong>July 21, 2018</strong>
            <p><a href="https://www.telegraphindia.com/calcutta/books-take-tribal-kids-back-to-school-239169" target="_blank">Books take tribal kids back to school</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Book Riot</h3>
            <strong>July 19, 2018</strong>
            <p><a href="https://bookriot.com/2018/06/19/storyweaver-kidlit/" target="_blank">Say hello to StoryWeaver, a gigantic kidLit open source platform</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">LBB, Bangalore</h3>
            <strong>April 18, 2018</strong>
            <p><a href="https://lbb.in/bangalore/storyweaver-pratham-books/" target="_blank">Read the kiddos a new bedtime story every night with a little help from this kid's publication</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">New Indian Express</h3>
            <strong>May 06, 2018</strong>
            <p><a href="http://indianexpress.com/article/express-sunday-eye/seasons-in-the-sun-3-bijal-vachcharajani-5164718/" target="_blank">Seasons in the Sun</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Assist Asia</h3>
            <strong>April-Jun issue</strong>
            <p><a href="http://assistasia.org/impact_magazine/Ed24_AprJun2018.pdf" target="_blank">It takes a village: hyperlocal libraries show the way</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Teacher Plus</h3>
            <strong>April Issue</strong>
            <p><a href="http://www.teacherplus.org/the-present-is-open-to-all/" target="_blank">The present is open to all</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The Hindu</h3>
            <strong>May 01, 2018</strong>
            <p><a href="http://www.thehindu.com/todays-paper/tp-national/tp-newdelhi/once-upon-a-podcast/article23734490.ece" target="_blank">Once upon a podcast</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Arre</h3>
            <strong>April 18, 2018</strong>
            <p><a href="http://www.arre.co.in/animals/mumbai-city-stray-dogs/" target="_blank">Bow,wow Mumbai</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Little Black Book</h3>
            <strong>April 18, 2018</strong>
            <p><a href="https://lbb.in/bangalore/storyweaver-pratham-books/" target="_blank">Read the kiddos a new bedtime story every night with a little help from this kid's publication</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Mumbai Mirror</h3>
            <strong>April 16, 2018</strong>
            <p><a href="https://epaper.timesgroup.com/Olive/ODN/MumbaiMirror/shared/ShowArticle.aspx?doc=MMIR%2F2018%2F04%2F16&entity=Ar03301&sk=A110E92F&mode=text" target="_blank">The whole canine yards</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Hindustan Times</h3>
            <strong>April 12, 2018</strong>
            <p><a href="https://www.hindustantimes.com/mumbai-news/this-picture-book-gives-rare-peek-into-paw-some-strays-of-mumbai/story-4HEWDqfdEtfgFn4CPT7T1K.html" target="_blank">This picture book gives rare peek into ‘paw’some strays of Mumbai</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Mid-Day</h3>
            <strong>April 11, 2018</strong>
            <p><a href="https://www.mid-day.com/articles/look-through-the-eyes-of-mumbais-strays-in-a-storybook-dedicated-to-them/19305163" target="_blank">Look through the eyes of Mumbai's strays in a storybook dedicated to them</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Scroll.in</h3>
            <strong>April 07, 2018</strong>
            <p><a href="https://scroll.in/magazine/873663/mumbais-doughty-strays-and-their-kind-caretakers-get-a-pictorial-ode-in-a-new-childrens-book" target="_blank">Mumbai's doughty strays get pictorial representation in a new book</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Mid-day</h3>
            <strong>March 20, 2018</strong>
            <p><a href="https://www.mid-day.com/articles/mumbai-diary-tuesday-dossier/19219153" target="_blank">A bow-wow moment</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">Herald News</h3>
            <strong>March 5, 2018</strong>
            <p><a href="https://www.heraldgoa.in/Cafe/PAVING-THE-WAY-FOR-A-BRIGHT-KONKANI-FUTURE/127757.html" target="_blank">Paving the way for a bright Konkani future</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The News Minute</h3>
            <strong>February 28, 2018</strong>
            <p><a href="https://www.thenewsminute.com/article/national-science-day-ngo-aims-demystify-stem-kids-exciting-new-books-77193" target="_blank">National Science Day: NGO aims to demystify STEM for kids with exciting new books</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The Times of India</h3>
            <strong>February 22, 2018</strong>
            <p><a href="https://timesofindia.indiatimes.com/city/goa/body-to-translate-100-books-to-konkani-and-distribute-them-free/articleshow/63025349.cms" target="_blank">Body to translate 100 books to Konkani and distribute them free</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The Hindu</h3>
            <strong>February 16, 2018</strong>
            <p><a href="http://www.thehindu.com/children/to-market-to-market/article22771440.ece" target="_blank">Bookworm</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont">
            <h3 class="pressLink_color">The Hindu</h3>
            <strong>February 9, 2018</strong>
            <p><a href="http://www.thehindu.com/todays-paper/tp-features/tp-youngworld/whats-in-the-big-box/article22698871.ece" target="_blank">What's in the big box?</a></p>
          </div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="odd-abt">
          <div class="about-content news_read_cont news_cont_border">
            <h3 class="pressLink_color">The Hindu</h3>
            <strong>February 2, 2018</strong>
            <p><a href="http://www.thehindu.com/todays-paper/tp-features/tp-youngworld/hungry-adventure/article22628470.ece" target="_blank">Hungry Adventure</a></p>
          </div>
        </div>        
      </div>
      </div>
    </div>
  </div>
</div>
