<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
        <div class="col-md-12 col-sm-12">
          <div style='position: relative; padding-bottom: 51%; height: 0; overflow: hidden;'>
          <!-- <iframe id='iframe' src='https://flickrit.com/slideshowholder.php?height=50&size=big&userId=132875809@N04&credit=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe> -->
           <!-- <a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/pbstoryweaver/34357915326/" title="IMG_20170420_143434325"><img src="https://c1.staticflickr.com/5/4189/34357915326_eba70c565e_c.jpg" width="1024" height="576" alt="IMG_20170420_143434325"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script> -->
           <a data-flickr-embed="true"  href="https://www.flickr.com/photos/pbstoryweaver/albums/72157675795956065" title="Digital Engagement"><img src="https://farm9.staticflickr.com/8310/29592247301_75446b0fb6.jpg" width="1024" height="550" alt="Digital Engagement"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

