<div class="row about-row noborder">
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<div class="col-md-12 col-sm-12">
              <h3>PRATHAM BOOKS</h3>
			  <p><b>Pratham Books</b> was set up as a not-for-profit children's book publisher in 2004 with the mission to see 'a book in every child's hand'. The key objective was to publish good quality, affordable story books in multiple Indian languages to support reading acquisition among children.</p>
 			  <p>About 50% of children in India are not reading at grade appropriate levels. Among the many factors that contribute to this is the lack of quality reading material in mother tongue languages. In India, there are critical supply side shortages for supplementary reading resources for children. It is sad that in a country with 22 official languages and several hundred mother- tongues, books are printed primarily in English and Hindi, driven by market economics. Pratham Books created an alternate model to address these inequities to provide quality storybooks for children in multiple languages that are engaging and joyful and encourage a child to learn and practice reading. </p>
 			  <p>In the last decade, Pratham Books has published over 450 original titles in 21 Indian languages, which total up to about 3000 books. The books cover a range of genres including early readers, fiction, non-fiction, and storybooks on science, history, mathematics and nature. They have had the distinction of working with many of the country's renowned authors and illustrators and their books have won several awards as well.</p>
 			  <p>StoryWeaver is an initiative from Pratham Books. It helps further the endeavor to find newer ways to ensure that every child is able to discover the joy of reading. All the stories are available under Creative Commons licenses which means that the stories are free to use and can be translated into new languages, new stories can be created, and artworks can be freely accessed, by anyone. StoryWeaver is where we tell children, librarians and educators, that our stories are no longer controlled by restrictive copyrights. With StoryWeaver, we throw open the doors of the library to every child.</p>
 			 <p><a href="http://www.prathambooks.org" target="_blank">www.prathambooks.org</a></p>
 		</div>
 		<div class="col-md-12 col-sm-12">
 			 <h3>Board Members</h3>
 			 <p><b>Pratham Books' Board of Trustees:</b></p>
 			  <p>Ms Suzanne Singh, Chairperson</p>
 			  <p>Mr R Sriram, Managing Trustee</p> 
 			  <p>Mr Ashok Kamath, Trustee</p>
 			  <p>Ms Rekha Menon, Trustee</p>
 			  <p>Ms Kanchan Banerjee, Trustee</p>
 			  <p>Prof M.S. Sriram, Trustee</p>
        <p>Mr Srikanth Nadhamuni, Trustee</p>
        <p>Mr Pervin Verma, Trustee</p>
 		</div>
 		<!-- <div class="col-md-12 col-sm-12">
 			  <p><b>Pratham Books’ Advisory Board:</b></p>
 			  <p>Ms Rukmini Banerji</p>
 			  <p>Ms K R Usha</p>
 			  <p>Mr. Gautam John</p>
 			  <p>Ms Vinita Bali</p>
 			  <p>Ms. Pervin Varma </p> 
        </div> -->
      </div>
    </div>
  </div>
</div>

