<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Press%20Note_%20Gif%20Books.pdf" class="pressLink_color" target="_blank">This Children's Day, Pratham Books' StoryWeaver Casts a "Moving" Spell on Storybooks</a></h3>
              <strong>November 2018</strong>
              <p>GIF Books in five languages will enchant young readers with every page turn.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Readalongs_020918.pdf" class="pressLink_color" target="_blank">Pratham Books' StoryWeaver launches Readalongs, over 100 openly licensed audio stories in English and Hindi for children.</a></h3>
              <strong>September 2018</strong>
              <p>Pratham Books' StoryWeaver launches Readalongs, over 100 openly licensed audio stories in English and Hindi for children.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Pratham%20Books%20Press%20Release_International%20Mother%20Language%20Day.pdf" class="pressLink_color" target="_blank">Pratham Books' StoryWeaver Creates Hyperlocal Libraries for Children in Multilingual Indian Languages on International Mother Language Day</a></h3>
              <strong>February 2018</strong>
              <p>StoryWeaver announced the creation of hyperlocal libraries for children to promote and preserve children's literature in Konkani, Bhoti and Haryanvi.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/PR_PrathamBooks_PhoneStories_MissLaya_English.pdf" class="pressLink_color" target="_blank">Pratham Books' Second Series of PhoneStories Aims to Inspire Children through Stories based on Everyday Heroes, Everyday Adventures</a></h3>
              <strong>January 2018</strong>
              <p>Pratham Books launched the second series of PhoneStories, a set of stories that weave together engaging narratives with vibrant illustrations and audio tracks to create delightful reading experience.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Pratham_Books_Launches_PhoneStories.pdf" class="pressLink_color" target="_blank">Pratham Books Launches PhoneStories to Bring Joyful Reading Experiences to Children via Mobile Devices</a></h3>
              <strong>November 2017</strong>
              <p>Pratham Books launched PhoneStories, an initiative that weaves together words, images and sounds to create a delightful reading experience for children.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/PressRelease_LOCAward_01.09.17_English.pdf" class="pressLink_color" target="_blank">Library of Congress Literacy Award 2017</a></h3>
              <strong>September 2017</strong>
              <p>Pratham Books’ StoryWeaver receives the prestigious Library of Congress Literacy Award 2017 International Prize.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Pratham%20Books%20to%20massively%20scale%20the%20creation%20of%20multilingual%20early%20reading%20material%20with%20funding%20and%20technical%20support%20from%20Google.org.pdf" class="pressLink_color" target="_blank">Pratham Books to massively scale the creation of multilingual early reading material with funding and technical support from Google.org</a></h3>
              <strong>April 2017</strong>
              <p>Pratham Books is one of the four non-profit innovators in India to receive funding. The organizations have been chosen for applying radical, data-driven innovations to solving the world's biggest challenges.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Freedom%20to%20Read%202016%20Press%20Release%20.pdf" class="pressLink_color" target="_blank">International Mother Language Day</a></h3>
              <strong>February 2017</strong>
              <p>This International Mother Language Day celebrate linguistic diversity with multilingual stories for children.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/Launch%20of%20Freedom%20to%20Read%20Campaign.pdf" class="pressLink_color" target="_blank">Freedom to Read</a></h3>
              <strong>September 2016</strong>
              <p>StoryWeaver launches ‘Freedom to Read’ - a campaign to create more joyful stories in more languages for children.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/StoryWeaver%20is%20celebrating%20National%20Science%20Day%20with%20Wonder%20Why%20week.docx.pdf" class="pressLink_color" target="_blank">National Science Day</a></h3>
              <strong>February 2016</strong>
              <p>StoryWeaver is celebrating National Science Day with Wonder Why week.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <div class="about-content press-content press_cont_border">
              <h3><a href="https://storage.googleapis.com/story-weaver-e2e-production/press_releases/This%20International%20Literacy%20Day%20Pratham%20Books%20launches%20StoryWeaver%20%E2%80%93%20India's%20first%20open%20source%20platform%20of%20multilingual%20children's%20content..pdf" class="pressLink_color" target="_blank">India's first open source platform of multilingual children's content</a></h3>
              <strong>September 2015</strong>
              <p>Pratham Books launches StoryWeaver – India's first open source platform of multilingual children's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

