<div class="row about-row noborder">
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %>
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt translation_tools">
        <div class="col-md-12 col-sm-12">
          <h3 class="text-left">Translation Tools and Tips</h3>
          <p>Translation is an important tool on StoryWeaver, one that gives you the power to take stories to children who love to read stories in languages of their choice - languages that you may be proficient in!</p>
          <p>If you like a story on StoryWeaver, but find that it is not available in a language that you are fluent in, do consider translating it so that it travels far and wide.</p>
          <p>Here are a few tips that you may find useful while translating:</p>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><b>How to Translate</b></p>
          <ol type="1">
            <li>Click on the 'Translate' tab on the StoryWeaver homepage, then select the language you wish to translate from and the language you will be translating too. Once chosen, you can browse through our recommendations of stories to translate. Once you've read a story you like, click on the 'Translate' Option at the bottom panel of the story.</li>
            <li>The story will now open in the Story Editor along with the original text as a reference for you while translating. This reference text does not get published.</li>
            <li>Start translating the text phonetically in the text box. For example, you can type "namaste" in English to get "नमस्ते" in Hindi, which sounds like "Namaste". As you start typing the word in English, a list of possible transliterations will appear. Choose the one you want and press 'Enter'.</li>
            <li>As StoryWeaver is still in Beta, our Transliteration Tools aren't as efficient as we'd like it to be. If you are unable to find a certain word/symbol in the Editor, we recommend that you use Google Input tools. From Google Input tools, you can just copy &amp; paste the correct text into StoryWeaver.</li>
            <li>Please note that only Unicode fonts work on StoryWeaver as it's a universally accepted standard display of font.</li>
          </ol>
          <p><br>To know more about the translation process, watch the <a href="https://storyweaver.org.in/tutorials" target="_blank">Tutorial</a> and read <a href="https://storyweaver.org.in/faqs#faq3" target="_blank">Frequently Asked Questions</a> about translation.</p>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><b>Short Guide to Translating Well</b></p>
          <ol type="1">
            <li>Language of the translation should be child-friendly (suitable for specific Reading Level).</li>
            <li>The translation must maintain the flavour and essence of the original.</li>
            <li>Wherever necessary, deviation from the original is allowed, as long as it adds value to the translation.</li>
            <li>We recommend retaining original names and settings in translations as far as possible since it allows children to experience different cultures. However, if a name has a different meaning in the translated language, then you may consider changing it.</li>
            <li>The volume of translation can be slightly different but not very much more than the original. Example: A 5-line paragraph in English can be translated into a 7-line paragraph in another language but not into a 10-line paragraph. If necessary, a line or two can be cut in translation if it does not alter the story.</li>
            <li>Please do not translate puns and idioms that do not work in the other language. On the flip side, if a pun or idiom can be used afresh in the translation, you are most welcome.</li>
            <li>After you have finished the translation, please do read it again independently (without the original in mind) and see if the text flows naturally.</li>
            <li>Replace less common words with common words and phrases. Check spellings, consistency (a 'he' should not become 'it' or 'she' for example), facts, etc.</li>
            <li>Do keep the original story open in a separate tab, to ensure you can maintain the formatting of the text as is in the original story.</li>
            <li>Remember, the child who reads the translated book may or may not read the original. It is more important therefore that the translation should be enjoyable, understandable and logical, in itself, rather than strive to make it artificially close to the original.</li>
            <li>When you are ready to publish your story, please remember the story title and synopsis must both be in the language you have chosen for translation.</li>
          </ol>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><br>If you can't find a language you're fluent in on StoryWeaver then do write to us at <a href="mailto:storyweaver@example.com">storyweaver@example.com</a> and we'll be happy to add it for you!</p>
          <p>By translating a story, you are helping a story fly higher and farther. Happy translating!</p>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><b>Some more points:</b></p>
          <ol type="1">
            <li>At Pratham Books, we always opt to write for the girl child if we are forced to pick a gender while translating from a gender neutral text</li>
            <li>Children are very sensitive to the tone used in the story. Do keep this in mind at all times while translating for them. Keep the tone consistent through your story and please avoid using a patronising tone. For instance, when speaking directly to the reader, adopt the use of 'आप/ aap' instead of 'तुम/ tum' to lend a gentler tone to your story.</li>
            <li>Words and concepts like computer, internet, and cell/ mobile phone make an appearance in other languages as well. Trying to translate them often seems forced and can break the flow of the narrative. Technical terms have language equivalents, and they work well for Levels 3 and 4. Whichever word you choose, make sure that it communicates the idea clearly.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>