<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top">Here's a little something to help you create a story on StoryWeaver. This quick tutorial will guide you through the process of creation of stories so that we have many more stories for little children to love and enjoy.</p>                                 
        <div class="col-md-12 col-sm-12">
          <h3>How to create a story on StoryWeaver?</h3>
          <div class="embed-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/o3513gpzIMw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="padding-top: 10px;">
          <h3>How to translate a story on StoryWeaver?</h3>
          <div class="embed-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iSVnjFN-Qs0" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <p class="cnt-top" style="padding-top: 10px;">For Frequently Asked Questions,<a href="https://storyweaver.org.in/faqs" target="_blank"> click here</a>.</p>
        <p class="cnt-top">For more Tools &amp; Tips on Translation,<a href="https://storyweaver.org.in/translation_tools_and_tips" target="_blank">
        click here</a>.</p>  
        <div class="col-md-12 col-sm-12">
          <h3>YouTube links to the videos: </h3>
          <p><a href="https://www.youtube.com/watch?v=o3513gpzIMw" target="_blank">Create</a></p>
          <p><a href="https://youtu.be/iSVnjFN-Qs0" target="_blank">Translate</a></p>
        </div>
    </div>
  </div>
</div>