<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">        
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9 faq-left-ques">

            <p id="faq1" class="faq-ques"></p>
            <b>How will I benefit from contributing to StoryWeaver?</b>
            <p>StoryWeaver is a platform for anyone interested in reading and creating multilingual children’s books. From educators and publishers, to parents and authors, all stakeholders will use this collaborative platform to develop a rich digital repository of diverse children’s stories. StoryWeaver is an ideal place for you to showcase your work and be assured that it will receive a lot of visibility. In the past, Pratham Books has generated more opportunities of work for illustrators through their CC work. Read Megha Vishwanath’s story here.  Also remember that every illustration you upload has the potential to inspire a new story and that by contributing to StoryWeaver’s image bank, you are helping build a reading India.</p>
            <div class="section-divider"></div>

            <p id="faq2" class="faq-ques"></p>
            <b>In what size should I submit my illustrations?</b>
            <p>For best results, please submit images that are at least 150 ppi (pixels per inch) or higher. This is to ensure that the image can be resized in different layouts, without compromising the quality of your image. In case you are scanning an illustration, we suggest that you capture your image using a high quality setting.</p>
            <div class="section-divider"></div>


            <p id="faq3" class="faq-ques"></p>
            <b>How can I upload my illustrations?</b>
            <p>It’s really simple. Follow these  steps to upload your illustrations:
            <p>1.Go to the ‘Create’ tab and select the second option: Create a story from the image you like.</p>
            <p>2.This will open up the Illustrator search window. Select the 'Upload Your Illustration' button (top left)."</p>

            <p>3.Follow the simple steps mentioned and you are done. Thank you!</p>
            <div class="section-divider"></div>

            <p id="faq4" class="faq-ques"></p>
            <b>What does it mean to have my illustrations be licensed under CC-BY?</b>
            <p>CC-BY is a very open and accommodating license. It lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. It is also likely to lead to new derivatives of your existing work. CC-BY is best suited to StoryWeaver’s mission of creating a repository of free children’s stories in open formats. You can read more about this license <a href="#">here</a>.</p>
            <div class="section-divider"></div>

            <p id="faq5" class="faq-ques"></p>
            <b>How will my illustrations be used on StoryWeaver?</b>
            <p>Your illustrations will be available to users of StoryWeaver for creation of new content. Our users - primarily teachers, librarians, writers and parents - can create stories around your illustrations, make flash cards, use it in magazines - the possibilities are endless.</p>
            <div class="section-divider"></div>

            <p id="faq6" class="faq-ques"></p>
            <b>Will I be able to see how my illustration is being used by users of StoryWeaver?</b>
            <p>Yes. Here are 3 ways in which you will be able to see how far and wide your work has travelled:</p>
            <p>1.Under the ‘My Illustrations’ tab in your profile page you will get information about all your illustrations and number of stories it has been used in.</p>
            <p>2.Through the notification email that you would have subscribed for. (If you haven’t, Subscribe now)</p>
            <p>3.You can also do a free flow search in our Search Box with the illustration’s title or your name to find its footprint across StoryWeaver.</p>
            <div class="section-divider"></div>

            <p id="faq7" class="faq-ques"></p>
            <b>Can I sell my illustration to another organization?</b>
            <p>Sure you can. The illustration is ultimately your work and you have every right to make a commercial gain out of it. However since the work is licensed under CC-BY the organization is not obligated to pay you. Our suggestion in this case is to let the organization know about StoryWeaver and its objective (building free story repository to the children in India with no access to reading material) and persuade them to compensate you for your efforts. Please note that StoryWeaver will not intervene in this matter.</p>
            <div class="section-divider"></div>

            <p id="faq8" class="faq-ques"></p>
            <b>Will I get paid if another organization uses my illustration?</b>
            <p>As a good practice an organization using your work for commercial gains should pay you, although the CC BY license under which all content is licensed on StoryWeaver does not bind them to do so.</p>
            <div class="section-divider"></div>

            <p id="faq9" class="faq-ques"></p>
            <b>Will I get attributed for my illustration?</b>
            <p>On StoryWeaver, we ensure that every illustrator gets due credit for their work. Your name will appear against your original artwork, and even when it has been used by others. But it is difficult for us to ensure that your work gets attribution once it leaves StoryWeaver. However, attribution is a very important component of the CC-BY license and we will encourage our users to stick to that.</p>
            <div class="section-divider"></div>

            <p id="faq10" class="faq-ques"></p>
            <b>What format should I submit my illustrations in?</b>
            <p>We welcome illustrations in JPG and PNG formats only as of now.</p>
            <div class="section-divider"></div>

            <p id="faq11" class="faq-ques"></p>
            <b>What styles should I submit my illustrations in?</b>
            <p>You can use any style of your choice. Take a look at our existing categories for illustration styles if you need a point of reference.</p>
            <div class="section-divider"></div>


            <p id="faq12" class="faq-ques"></p>
            <b>Can users get in touch with me via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>
            <div class="section-divider"></div>


            <p id="faq13" class="faq-ques"></p>
            <b>Is there a limit to the number of illustrations I can upload?</b>
            <p>Absolutely not. The more, the merrier.</p>
            <div class="section-divider"></div>
            
            <p id="faq14" class="faq-ques"></p>
            <b>Do I need to be a professional illustrator to be able to submit my illustrations?</b>
            <p>If you think your illustration is good enough to be used in a story or a resource material, we welcome you to submit your illustrations. A degree or past experience is inconsequential.</p>
            <div class="section-divider"></div>

            <p id="faq15" class="faq-ques"></p>
            <b>Will my illustrations be modified?</b>
            <p>By modification, if you mean that the illustration can be cut and used or mixed with another illustration, the answer is NO. However, depending upon the story, a user might want to use a part of your illustration (let’s say just the girl from an illustration which has a jungle and a boy too), they could do the same by zooming in or placing the illustration in a specific manner on the story page.</p>
            <div class="section-divider"></div>

            <p id="faq16" class="faq-ques"></p>
            <b>Can I specify how I want to be attributed?</b>
            <p>Yes. While uploading your illustration, a form pops up asking for information regarding the illustration you are about to upload. This form has a tab for ‘Illustration Attribution’ which allows you to write the attribution for your own work, as you would like for it to appear.</p>
            <div class="section-divider"></div>

          </div>
 
          <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="250" data-offset-top="200">
              <ul>
                <li class="active"><a href="#faq1">How will I benefit from contributing to StoryWeaver?</a></li>
                <li><a href="#faq2">In what size should I submit my illustrations?</a></li>
                <li><a href="#faq3">How can I upload my illustrations?</a></li>
                <li><a href="#faq4">What does it mean to have my illustrations be licensed under CC-BY?</a></li>
                <li><a href="#faq5">How will my illustrations be used on StoryWeaver?</a></li>
                <li><a href="#faq6">Will I be able to see how my illustration is being used by users of StoryWeaver?</a></li>
                <li><a href="#faq7">Can I sell my illustration to another organization?</a></li>
                <li><a href="#faq8">Will I get paid if another organization uses my illustration?</a></li>
                <li><a href="#faq9">Will I get attributed for my illustration?</a></li>
                <li><a href="#faq10">What format should I submit my illustrations in?</a></li>
                <li><a href="#faq11">What styles should I submit my illustrations in?</a></li>
                <li><a href="#faq12">Can users get in touch with me via StoryWeaver?</a></li>
                <li><a href="#faq13">Is there a limit to the number of illustrations I can upload?</a></li>               
                <li><a href="#faq14">Do I need to be a professional illustrator to be able to submit my illustrations?</a></li>
                <li><a href="#faq15">Will my illustrations be modified?</a></li>
                <li><a href="#faq16">Can I specify how I want to be attributed?</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>