<div class="row about-row noborder">
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<div class="col-md-12 col-sm-12 run-on-text">
              <h3>AMPLIFY THE WORK WE DO!</h3>
			  <p>Collaboration is the backbone of StoryWeaver. Educators, librarians, authors, illustrators, translators, storytellers, publishers, parents or anyone passionate about children’s stories can contribute in making this platform bigger and better. A little time from you can make a big impact. If you would like to volunteer with us, please sign up on the form with details.</p>
        <iframe id="volunteer_form" src="https://docs.google.com/forms/d/1_d1ej2Bqw2jn8TNJrtBMlnJt27h8o6dOSSwyb0kza1c/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      </div>
    </div>
  </div>
</div>
