<div class="row about-row noborder">
  <img src="<%= asset_path('about/Campaigns.png') %>" class="about-banner" /> 
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt present_campaign">      	               
        <div class="col-md-12 col-sm-12">
          <p><b>The #WonderWhyWeek.</b></p>
          <p><b>Sparking curiosity and questions.</b></p>
          <p>National Science Day is on February 28th, 2016, and StoryWeaver, Pratham Books, is celebrating with the #WonderWhyWeek. Children possess an innate curiosity about the world around them and StoryWeaver believes that it’s essential to nurture that curiosity.</p>

          <p>Starting February 28th, we’re curating a week-long celebration of picture books that introduce children to topics from robotics and measurement, to genes and forest canopies. These new titles were created under a grant from the Oracle Giving Initiative and touch upon Science, Technology, Engineering and Math (popularly known as STEM).</p>

          <p>How can you join in our celebrations?</p>

            <ul style ="clear: both">
              <li>If you’re a parent, read and share each of the stories with your child.</li>
              <li>Teachers can use the stories as a part of their lesson planning.</li>
              <li style ="margin-bottom: 15px;">Reading Champions and librarians can conduct storytelling sessions and follow it up with fun activities.</li>
            </ul>  
          

          <p>However you choose to take part, don’t forget to send us a photo and a few lines describing your experience to <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a>. We have special prizes for the best follow-up activity ideas around these books, so get thinking. Remember to follow us on <a href="https://twitter.com/pbstoryweaver">Twitter</a> and <a href="https://www.facebook.com/pbstoryweaver">FaceBook</a> for more updates and fun!</p>

          <p><b>Our WonderWhy Books</b></p>

          <p>Here are 7 amazing books that are certain to delight young readers. So go ahead and encourage them to explore!</p>

          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/4782-bonda-and-devi">Bonda and Devi</a>
            <p>Do best friends always have to be alike? Devi and Bonda are best friends, but Devi is a little girl, while Bonda is a… Well, he can lift heavy boxes, he can extend his arms and legs, he never forgets anything he’s told, he can be turned on and off. Can you guess what he is?</p>
          </div>

          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/4407-let-s-go-seed-collecting">Let’s go Seed Collecting</a>
            <p>Join Tooka, Poi, and their best friend Inji the dog, as they go around collecting seeds. The adventure begins when the three friends meet Pacha the tamarind tree.</p>
          </div>

          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/4772-dum-dum-a-dum-biryani">Dum Dum-a-Dum Biryani</a>
            <p>Basha and Sainabi are in a panic. Ammi is ill, and Saira aunty has just announced that she is arriving for lunch - with 23 other people! Budding chef Basha thinks he can cook Ammi's Dum Biryani, but her recipe only makes enough for 4 people. Math wiz Sainabi jumps in to help, declaring that she knows how to turn a 4-person recipe to a 24-person recipe. Do the siblings succeed in serving up a truly Dum Dum-a-Dum biryani?</p>
          </div>

          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/5052-jadav-and-the-tree-place">Jadav and the Tree-Place</a>
            <p>Jadav has the best job in the world: he makes forests! Based on the true story of real life hero Jadav ‘Molai’ Payeng, this book captures the hard work, sweat and sheer joy of planting an entire ‘tree-place’. How does he do it? Read this book to find out!</p>
          </div>

          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/4445-how-far-is-far">How Far is Far?</a>
            <p>If you thought your friend's house on the other side of town was far away, you have clearly not read this book. Climb the Magic Math Ladder to get from where you are to the top of Mount Everest, to Kashmir, to the moon, the Sun, and ultimately, to the edge of the Universe, which is very, very, VERY far away indeed. Ready, steady, go!</p>
          </div>
          
          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/4938-where-did-your-dimples-go">Where did Your Dimples Go?</a>
            <p>Langlen has curly hair like Appa and a cleft chin like Imma. It makes her wonder why brothers and sisters, or parents and children look alike. Is she just a collection of traits, then? So many questions, but Imma and Appa have all the answers. This lovely book introduces children to genes and heredity.</p>
          </div>

          <div class="col-md-12 col-sm-12">
            <a href="https://storyweaver.org.in/stories/4314-how-do-aeroplanes-fly">How do Aeroplanes Fly?</a>
            <p>Sarla wished she could fly high like an eagle or like an aeroplane. Of course you can fly, said her new teacher. Here, Sarla shares all that she has learnt about flight and aeroplanes.</p>
          </div>
      </div>
    </div>
  </div>
</div>
