<div class="row about-row noborder">  
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">        
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9 faq-left-ques">

            <p id="faq1" class="faq-ques"></p>
            <b>How will I benefit from writing on StoryWeaver?</b>
            <p>StoryWeaver is a common ground for people passionate about children’s books and reading to collaborate. From Educators and Parents, to Publishers and illustrators, all stakeholders will come on the platform to browse through stories.Since a digital story has no boundaries, your story can be read by people across the world. Apart from offering more visibility, StoryWeaver also gives you the opportunity to showcase your work to publishers who are always scouting for new authors.You could also collaborate with illustrators to bring out a new and exciting work or go for self-publishing.</p>
            <p>Also, every story that you write on StoryWeaver will mean more storybooks to read for India’s children. You are helping us build a reading India.</p>
            <div class="section-divider"></div>

            <p id="faq2" class="faq-ques"></p>
            <b>What does it mean to have my story be licensed under CC-BY?</b>
            <p>CC-BY is a very open and accommodating license. It lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. It also means new interpretations, new derivatives of your work. ICC-BY is best suited to StoryWeaver’s mission of creating a repository of free children’s stories in open formats. You can read more about this license <a href="#"> here.</a></p>

            <p>3.Follow the simple steps mentioned and you are done. Thank you!</p>
            <div class="section-divider"></div>

            <p id="faq3" class="faq-ques"></p>
            <b>What age-group should I write my stories for?</b>
            <p>StoryWeaver is repository of children’s stories, so anyone aged between 3 and 4 is your reader. You can look at our <a href="/reading_levels">Reading Levels</a> to decide which age group your story is most suited for.</a>.</p>
            <div class="section-divider"></div>

            <p id="faq4" class="faq-ques"></p>
            <b>Is there a word limit while writing stories?</b>
            <p>The story creator does not enforce a word-limit. However, each layout is optimized for varying word limits. We encourage you to look at the guidelines for each level and use the recommended word-limits when writing stories.</p>
            <div class="section-divider"></div>

            <p id="faq5" class="faq-ques"></p>
            <b>How do I choose the reading level?</b>
            <p>Read about Reading Levels <a href="/reading_levels">here</a>. Choose the level which your story is most suited for.</p>
            <div class="section-divider"></div>

            <p id="faq6" class="faq-ques"></p>
            <b>How will people get to read my story?</b>
            <p>1.When you create a story, you will be required to put it under a category and attached tags to it. All this information will help users find your story more easily. For example, if a user is looking for animal stories, and your story is filed under the ‘Animal Stories’ category and has tags like Jungle, Tiger, Monkey etc, the user will find your story as soon as she applies the filters or does a search.</p>
            <p>2.Similarly, users can find your story by searching for your name (author name) in the search box.</p>
            <p>3.We will also be featuring stories by category (new, popular, theme, etc) from time to time, so you will get more visibility there.</p>
            <div class="section-divider"></div>

            <p id="faq7" class="faq-ques"></p>
            <b>How can I keep track of derivatives of my story or/and see the number of reads?</b>
            <p>1.Under the ‘My Stories’ tab in your profile page, you will get information about: stories you have created, the number of times they have been read and its derivatives (Translated or Re-Leveled stories).</p>
            <p>2.Through the notification email that you would have subscribed for. (If you haven’t yet subscribed, do it now!)</p>
            <p>3.You can also do a free-flow search in our Search Box with the story’s title or your name to find its footprint across StoryWeaver.The original author's name will appear in all derivative versions.</p>
            <div class="section-divider"></div>

            <p id="faq8" class="faq-ques"></p>
            <b>Can I sell my story to another organization?</b>
            <p>Sure you can. The story is ultimately your work and you have a right to make a commercial gain out of it. But since your work will be licensed under CC-BY, the organization is not obligated to pay you. Our suggestion in this case is to let the organization know about StoryWeaver and its objective (building free story repository to the children in India with no access to reading material), and persuade them to compensate you for your efforts. Please note that StoryWeaver will not intervene in this matter.</p>
            <div class="section-divider"></div>

            <p id="faq9" class="faq-ques"></p>
            <b>Will I get credit for my story?</b>
            <p>On StoryWeaver, you will get credit for your story as well its derivatives. When your story travels outside the platform, our control diminishes but we urge EVERY user of the platform to give due credit to the authors and illustrators.</p>
            <div class="section-divider"></div>

            <p id="faq10" class="faq-ques"></p>
            <b>Can I write my story in any language?</b>
            <p>If you want to write a story in any of these languages (English,Hindi,Marathi,Kannada,Tamil,Telugu,Gujarati,Bengali,Assamese, Punjabi,Odia,Konkani,Malyalam) you can start writing right away. For a language which is not included in our list, please write to help@storyweaver.org.in and we'll try our best that you get to write the story in a language of your choice!</p>
            <div class="section-divider"></div>


            <p id="faq11" class="faq-ques"></p>
            <b>Can I make changes to my story once it has been published?</b>
            <p>Yes, the ‘Edit’ button is your friend here. But use it judiciously, only to change grammar, punctuation or correct spellings. Remember changing your original story too much will affect its derivatives too.</p>
            <div class="section-divider"></div>


            <p id="faq12" class="faq-ques"></p>
            <b>Can somebody else make changes to my story once it has been published?</b>
            <p>Nobody else, except you, can make changes to your story once it’s published.</p>
            <div class="section-divider"></div>


            <p id="faq13" class="faq-ques"></p>
            <b>Can users get in touch with me via StoryWeaver?</b>
            <p>You can connect with other users via our CONNECT tab. The CONNECT tab will cater to focused discussions as well as get-in-touch requests. Anyone who wants to get in touch with you can do by tagging you at the discussion board.</p>
            <div class="section-divider"></div>
          </div>
 
          <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top" data-spy="affix" data-offset-bottom="300" data-offset-top="200">
              <ul>
                <li><a href="#faq1">How will I benefit from writing on StoryWeaver?</a></li>
                <li><a href="#faq2">What does it mean to have my story be licensed under CC-BY?</a></li>
                <li><a href="#faq3">What age-group should I write my stories for?</a></li>
                <li><a href="#faq4">Is there a word limit while writing stories?</a></li>
                <li><a href="#faq5">How do I choose the reading level?</a></li>
                <li><a href="#faq6">How will people get to read my story?</a></li>
                <li><a href="#faq7">How can I keep track of derivatives of my story or/and see the number of reads?</a></li>
                <li><a href="#faq8">Can I sell my story to another organization?</a></li>
                <li><a href="#faq9">Will I get credit for my story?</a></li>
                <li><a href="#faq10">Can I write my story in any language?</a></li>
                <li><a href="#faq11">Can I make changes to my story once it has been published?</a></li>
                <li><a href="#faq12">Can somebody else make changes to my story once it has been published?</a></li>
                <li><a href="#faq13">Can users get in touch with me via StoryWeaver?</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>