<div class="row">
  <div class="col-md-6 col-sm-8 div-center-align nopadding">
  	<div class="div-full-width">
	    <h2>Sign Up</h2>
	    <%= render "devise/registrations/form" %>
    <div class="share-links"><%= render "devise/shared/links" %></div>
   </div>
  </div>
</div>