.english {
  font-family: "Noto Sans",sans-serif;
}
.isizulu{
   font-family: "Noto Sans",sans-serif;
}
.kiswahili{
   font-family: "Noto Sans",sans-serif;
}
.spanish{
  font-family: "Noto Sans",sans-serif;
}
.french{
  font-family: "Noto Sans",sans-serif;
}
.odia {
  font-family: 'Noto Sans Oriya', sans-serif;
}
.juanga {
   font-family: 'Noto Sans Oriya', sans-serif;
}
.munda {
   font-family: 'Noto Sans Oriya', sans-serif;
}
.kui {
  font-family: 'Noto Sans Oriya', sans-serif;
}
.saura{
   font-family: 'Noto Sans Oriya', sans-serif;
}
.bengali {
  font-family: 'Noto Sans Bengali', serif;
}
.assamese{
  font-family: 'Noto Sans Bengali', serif;
}
.manipuri{
  font-family: 'Noto Sans Bengali', serif;
}
.gujrati {
  font-family: 'Noto Sans Gujarati', serif;
}
.devanagri {
  font-family: 'Noto Sans Devanagari', serif;
}
.konkani{
  font-family: 'Noto Sans Devanagari', serif;
}
.sanskrit {
  font-family: 'Noto Sans Devanagari', serif;
}
.sindhi{
  font-family: 'Noto Sans Devanagari', serif;
}
.marathi{
  font-family: 'Noto Sans Devanagari', serif;
}
.maithili{
  font-family: 'Noto Sans Devanagari', serif;
}
.bodo{
  font-family: 'Noto Sans Devanagari', serif;
}
.nepali{
  font-family: 'Noto Sans Devanagari', serif;
}
.kannada {
  font-family: 'Noto Sans Kannada', serif;
}
.tulu{
  font-family: 'Noto Sans Kannada', serif;
}
.malayalam {
  font-family: 'Noto Sans Malayalam', serif;
}
.punjabi {
  font-family: 'Noto Sans Gurmukhi', serif;
}
.tamil {
  font-family: 'Noto Sans Tamil', serif;
}
.telugu {
  font-family: 'Noto Sans Telugu', serif;
}
.tibetan {
  font-family: 'Noto Sans Tibetan', serif;
}
.korean {
  font-family: 'Noto Sans KR', sans-serif;
}
.khmer {
  font-family: 'Noto Serif Khmer', serif;
}
.japanese {
  font-family: 'Noto Sans Japanese', sans-serif;
}
.urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
}
.burmese {
  font-family: 'Noto Sans Myanmar', sans-serif;
}
.hebrew{
  font-family: 'Noto Sans Hebrew', sans-serif;
}
.arabic{
  font-family: 'Noto Naskh Arabic', serif;
}
.kurdish_arabic{
  font-family: 'Noto Naskh Arabic', serif;
} 
.sinhalese{
  font-family: 'Noto Sans Sinhala', sans-serif; 
}
.thai{
  font-family: 'Noto Sans Thai', sans-serif; 
}
.amharic_fidel{
  font-family: 'Noto Sans Ethiopic', sans-serif; 
}
.simplified_chinese{
  font-family: 'Noto Sans SC', sans-serif;
}
.traditional_chinese{
  font-family: 'Noto Sans TC', sans-serif;
}
.mongolian{
  font-family: 'Noto Sans Mongolian', sans-serif; 
}
.ol_chiki{
  font-family: 'Noto Sans Ol Chiki', sans-serif;
}
.taiwanese{
  font-family: 'Taigi', sans-serif;
}
.lao{
  font-family: 'Noto Sans Lao', sans-serif;
}
