<tr>
  <td align="center">
    <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">

      <tr style="margin-bottom: 20px; float: left;">
        <td><strong>Dear <%= @reviewer.name %></strong>, </td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td><br>Thanks for agreeing to rate <%= @language %> stories on StoryWeaver. We're so glad to have you join us! Click <%= link_to( "here", review_guidelines_url) %> if you'd like to get started right away.</td>
      </tr>

    </table>
  </td>
</tr>