<tr>
  <td align="center">
    <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">

      <tr style="margin-bottom: 20px; float: left;">
        <td><strong>Dear <%= @translator.name %></strong>, </td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td>
          Greetings from StoryWeaver! <br>Thank you for signing up to translate stories in <%= @language %> on StoryWeaver. By translating a story, you are helping a story fly higher and farther. Hope you enjoy our machine-aided translation experience. If you have any queries or feedback, drop us an email at storyweaver@prathambooks.org.<br>We're so glad to have you join us! Click <%= link_to( "here", translate_guidelines_url) %> if you'd like to get started right away.<br>Happy Translating!
        </td>
      </tr>

    </table>
  </td>
</tr>
