<tr>
	<td align="center">
	  <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">
	   
	    <tr style="margin-bottom: 20px; float: left;">
	      	<td><strong>Dear Author</strong>, </td>
	    </tr>
      
      <tr style="float: left;">
          <td>
            <p>Greetings from StoryWeaver! </p>
          </td>
      </tr>

	    <tr style="margin-bottom: 20px; float: left;">
	      	<td><br>We are delighted to let you know that your story <%=@story.title %> has been published on StoryWeaver. You can see your story <%= link_to("here", react_stories_show_url(@story)) %>. We hope you will spread the joy of reading to more children by sharing your story on Social Media.</td>
	    </tr>

			<tr style="margin-bottom: 20px; float: left;">
		  		<td>
            <p>Warmly,<br>Team StoryWeaver</p>
          </td>
			</tr>
		</table>
	</td>
</tr>