<tr>
  <td align="center">
    <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">

      <tr style="margin-bottom: 20px; float: left;">
        <td><strong>Dear Content Manager</strong>, </td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td><br>An already published story (<%= link_to( @story.title, react_stories_show_url(@story)) %>) has been re-published by the user (<%= @user.titleize %>).</td>
      </tr>

    </table>
  </td>
</tr>