<tr>
	<td align="center">
	  <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">
	   
	    <tr style="margin-bottom: -1px; float: left;">
	      	<td><strong>Dear <%= @user.first_name.titleize %></strong>, </td>
	    </tr>

	    <tr>
	      	<td><p>Greetings from StoryWeaver!</p></td>
	    </tr>
	     <tr style="margin-bottom: -10px; float: left;">
	      <td><p>Congratulations! You just submitted a story to Retell, Remix and Rejoice 2018! You can submit more than one entry to the contest, so if you'd like to weave another story, <%= link_to( "click here", "https://storyweaver.org.in/v0/blog_posts/239-are-you-ready-to-spin-a-story-enter-the-retell-remix-and-rejoice-contest-2018") %>.</p></td>
	    </tr>
	    <tr>
	      	<td><p>Happy Spotting!</p></td>
	    </tr>
		<tr style="margin-bottom: 20px; float: left;">
			<a href="https://twitter.com/home?status=https%3A//storyweaver.org.in/contests/3" title="Share on Twitter" target="_blank" class="social-share-button-twitter" style='background: rgba(0, 0, 0, 0) url("https://storyweaver.org.in/assets/sprites/social-share-button-a07e958ed21dcef0f00c818eef8719b7.png") no-repeat scroll -48px -48px;display: inline-block;height: 16px;width: 16px;'></i></a>

            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//storyweaver.org.in/contests/3" title="Share on Facebook" target="_blank" class="social-share-button-facebook" style='background: rgba(0, 0, 0, 0) url("https://storyweaver.org.in/assets/sprites/social-share-button-a07e958ed21dcef0f00c818eef8719b7.png") no-repeat scroll -32px 0;display: inline-block;height: 16px;width: 16px;'></a>

            <a href="https://plus.google.com/share?url=https%3A//storyweaver.org.in/contests/3" title="Share on Google+" target="_blank" class="social-share-button-google_plus" style='background: rgba(0, 0, 0, 0) url("https://storyweaver.org.in/assets/sprites/social-share-button-a07e958ed21dcef0f00c818eef8719b7.png") no-repeat scroll -16px -32px;display: inline-block;height: 16px;width: 16px;'></a>
		  </td>
			</tr>
		</table>
	</td>
</tr>
