<tr>
  <td align="center">
    <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">

      <tr style="margin-bottom: 20px; float: left;">
        <td><strong>Dear <%= @first_name %></strong>, </td>
      </tr>
      <br>

      <tr style="margin-bottom: 20px; float: left;">
        <td>Greetings from StoryWeaver!</td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td>
          We are sorry to tell you that your unfinished story will be deleted from your 'My Drafts’ folder in two days.
        </td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td>
          We'd hate to see you lose your work. Click <%= link_to "here", react_stories_show_url(@story) %> to finish your translation and hit on publish. Done? Yay!  
        </td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td>
          Please write in to us at <a href="mailto:storyweaver@prathambooks.org" target="_top">storyweaver@prathambooks.org</a> with feedback or if you are facing any issues, we are happy to help.
        </td>
      </tr>

      <tr style="margin-bottom: 20px; float: left;">
        <td>
          Fingers crossed.
        </td>
      </tr>
      
      <tr style="margin-bottom: 20px;">
          <td>
            <p>Warmly,<br>Team StoryWeaver</p>
          </td>
      </tr>
    </table>
  </td>
</tr>
