<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>StoryWeaver</title>
<style type="text/css">
	@import url("http://fonts.googleapis.com/css?family=Noto+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800");
</style>
</head>
<body style="background:#e0e0e4; margin:0px;paddding:0px;font-family: 'Noto Sans', sans-serif;font-size:12px;line-height:18px;">
  <table width="510" border="0" align="center" cellpadding="0" cellspacing="0" style="border:2px solid #FFCC00;">
    <tr bgcolor="#ffffff" style="background-color:#ffffff;">
      <td valign="top" >
        <table width="462px" cellspacing="0" cellpadding="0" border="0" align="center">
	      <tr>
	        <td>
              <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
		           <td width="320" style="vertical-align: top; width: 100%; float: left;padding-top: 15px;text-align: center;">
		           <img src="http://storage.googleapis.com/story_weaver_email_images/Storyweaver-Beta.png" width="280" height="100%"  style="border: none;"/>
		           </td>
		          </tr>	
		        </table>								        
		      </td>
	        </tr>
	     <%= yield %>
	     
			<tr>
			  <td>
				<table style=" background: #FECC0D;margin:22px;">
				  <tr style="padding: 5px; float: left;">
				    <td>
				     <table width="80" height="115">
				      <tr>
					    <td style="vertical-align: top; float: left;padding-left:5px; padding-bottom: 2px;">
						  <img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_01.jpg" width="89" height="100%"  style="border: none;"/>
		                </td>	
		              </tr>
		              <tr>
		                <td style="vertical-align: top; float: left; padding-left:5px;">
		                  <img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_02.jpg" width="89" height="100%"  style="border: none;"/>
		                </td>
		              </tr>	
		             </table>
		            </td>
		            <td>
		              <table width="80" height="127">
		              <tr>
					    <td style="vertical-align: top; float: left; padding-left:5px;">
						  <img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_03.jpg" width="90" height="100%"  style="border: none;"/>
		                </td>	
		              </tr>
		              </table>
		            </td>
		            <td>
					  <table height="115" width="80">
				  		<tr>
				    	  <td>
				     		<table width="100" height="115">
				      		  <tr>
					    		<td style="vertical-align: top; float: left; padding-left:5px; padding-bottom: 2px;">
						  		<img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_04.jpg" width="89" height="100%"  style="border: none;"/>
		                		</td>	
		              		  </tr>
		              		  <tr>
		                		<td style="vertical-align: top; float: left; padding-left:5px;">
		                  		<img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_05.jpg" width="89" height="100%"  style="border: none;"/>
		                		</td>
		              		  </tr>	
		             		</table>
		            	  </td>
				  		</tr>
					  </table>
			  		</td>
			   		<td>
		              <table width="80" height="115">
		                <tr>
					      <td style="vertical-align: top; float: left; padding-bottom: 2px;">
						  <img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_06.jpg" width="89" height="100%"  style="border: none;"/>
		                </td>	
		              </tr>
		              <tr>
					    <td style="vertical-align: top; float: left;">
						  <img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_07.jpg" width="89" height="100%"  style="border: none;"/>
		                </td>	
		              </tr>
		              </table>
		            </td>
		            <td>
		            <table width="80" height="127">
		              <tr>
					    <td style="vertical-align: top; float: left;padding-left:5px;padding-right: 5px;">
						  <img src="http://storage.googleapis.com/story_weaver_email_images/StoryWeaver_08.jpg" width="90" height="100%"  style="border: none;"/>
		                </td>	
		              </tr>
		              </table>
		            </td>
			      </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
            	<table style=" background: #4C4C4C;margin:5px 22px 22px 22px;width: 92%;">
            	  <tr>
            		<td align="center" style="color:#fff;">
            		  Connect with us!
            		</td>
            	  </tr>
            	  <tr align="center">
            	    <td>
            	      <table width="200">
	            		<tr>
	            		  <td>
	            		    <table>
	            		      <tr>
	            		    	<td style="text-align: center;">
	            		    	  <a href="#"><img src="http://storage.googleapis.com/story_weaver_email_images/blog_icon.jpg" width="15" height="100%"  style="border: none;height: auto;"/></a>
	            		    	</td>
	            		      </tr>
	            		      <tr>
	            		    	<td style="color:#fff;">Our blog</td>
	            		      </tr>
	            		    </table>	            		  	  
	            		  </td>
	            		  <td>
	            		      <table>
	            		    	<tr>
	            		    	  <td style="text-align: center;">
	            		    		<a href="#"><img src="http://storage.googleapis.com/story_weaver_email_images/facebook_icon.jpg" width="15" height="100%"  style="border: none;height: auto;"/></a>
	            		    	  </td>
	            		    	</tr>
	            		    	<tr>	
	            		    	  <td style="color:#fff;">Facebook</td>
	            		    	</tr>
	            		      </table>	            		  	  
	            			</td>
	            			<td>
	            		      <table>
	            		    	<tr>
	            		    	  <td style="text-align: center;">
	            		    		<a href="#"><img src="http://storage.googleapis.com/story_weaver_email_images/twitter_icon.jpg" width="15" height="100%"  style="border: none;height: auto;"/></a>
	            		    	  </td>
	            		    	</tr>
	            		    	<tr>
	            		    	  <td style="color:#fff;">Twitter</td>
	            		    	</tr>
	            		      </table>	            		  	  
	            			</td>	            			
	            		</tr>
		            	</table>
		              </td>
            	  </tr>
            	  <tr>
            	  	<td style="text-align: center;">
            	  	  <img src="http://storage.googleapis.com/story_weaver_email_images/Pratham_Books.svg" width="80" height="100%"  style="border: none;"/>
            	  	</td>
            	  </tr>
            	  <tr>
            	  	<td style="text-align: center; color:#fff;padding: 0;font-size:10px;">
            	  	  You are receiving this email because you signed up for StoryWeaver.
            	  	</td>           	  	
            	  </tr>
            	  <tr>
            	  	<td style="text-align: center; color:#fff;padding: 0 0 10px;font-size:10px;">
            	  	  If you did not make this request write to help@storyweaver.org.in
            	  	</td>
            	  </tr>
            	</table>	
              </td>
            </tr>
		  </table>
		</td>
	  </tr>
  </table>
</body>
</html>
