<%= render :partial => "dashboard/errors" %>
<div class="row about-row noborder">
    <section id="search-details-temp" style="margin: 30px 45px;" >

        <div class="col-md-12 col-sm-12">
          <h2 class="devanagri" style="font-size: 28px; font-weight: bold; color: #000; margin-bottom: 16px;">आओ कहानी बुने</h2>
          <p>Mentor teachers, we had a wonderful experience spending time with you at the workshop. While we’re sure many of you are engaging with StoryWeaver, we have something exciting planned for you to be ready for the new academic year. It’s time for all of you to put on your thinking caps, get creative and create a story that will not only make your students learn in a fun way, but will make you win prizes too!</p>
        </div>

        <div class="col-md-12 col-sm-12">  
          <p>Here’s what you need to do:</p>
          <p>Create a story/flashcard on StoryWeaver. We’ll choose one winner from each category/subject and the prize for each winner is.....</p>
            <ul style="clear: both;">
              <li><b>A printed, laid-out version of their winning story</b></li>
              <li><b>A Book Hamper</b></li>
            </ul>
        </div>
        <div class="col-md-12 col-sm-12">  
           <p>How to enter the competition:</p>
              <ul style ="clear: both;">
                <li>The theme can either be from our suggested themes or one that you think will make for an exciting topic to create a story / flashcard around.</li>
                <li>Click on the button at the bottom of the page which says- Enter contest now. The system will ask you to Sign Up on the StoryWeaver platform (if you haven’t already). If you are a user, just log-in to begin.</li>
            </ul>
        </div>
        <div class="col-md-12 col-sm-12">  
           <p>You can start creating by:</p>
              <ul style ="clear: both;">
                <li>Using illustrations from our image bank.</li>
                <li>By uploading your own illustrations or as text only.</li>
                <li>Choose the language you want to create your story in, decide an appropriate reading level for your story and let the magic begin!</li>
                <li>After your beautiful story is ready, click on the submit button. Your story will not be published on the platform till after the results are announced but it will be submitted for the contest!</li>
            </ul>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><a href="https://youtu.be/LDPyK_sOiv8" target="_blank">Here’s</a> a quick video tutorial on how to create stories on StoryWeaver.</p>
          <p>Please Note:</p>
            <ul style ="clear: both;">
              <li>You cannot download illustrations from Google or any other site and upload on StoryWeaver as your own. This is a copyright issue and your entry will be automatically disqualified.</li>
              <li>You will not be allowed to Edit your story once you have submitted it. So take your time to create, review and then submit.</li>
              <li>Have a look at some of the themes that we came up with to make your creative process easier,but you can choose to create a story around any other too!</li>
              <li>It will be beneficial for you and your classrooms as well as our larger community of teachers if your story is aligned to a learning objective! Here is your chance to make learning fun.</li>
            </ul> 
       </div>

      <div class="col-md-12 col-sm-12">
        <h2>Language</h2>
        <ol style="clear: both;">
          <li>Adjectives/ <span class="devanagri">विशेषण </span></li>
          <li> Write a simple short play- you can create a skit from a story you like or from a story on StoryWeaver.</li>
        </ol>
        <p class="devanagri">एक साधारण छोटा नाटक लिखें- आप पसंदीदा कहानी या <span class="english">StoryWeaver</span> पर दी गई कहानी को नाटक में बदल सकते हैं।</p>
      </div>

      <div class="col-md-12 col-sm-12">
        <h2>Maths</h2> 
         <ol style ="clear: both;">
            <li>Operations with small or large numbers (example, a story revolving around multiplication with groups of people and putting certain number of groups together to show total number of people).</li>
            <li>Fractions.</li>
          </ol> 
      </div>

      <div class="col-md-12 col-sm-12">
        <h2>Social Studies</h2> 
         <ol style ="clear: both;">
            <li> Diversity
              <ul style="clear: both;">
                <li>Festivals in India- a story can be created around why a certain festival is celebrated etc.</li>
                <li>Life in the coastal area as compared to life in hilly areas or deserts.</li>
              </ul>
            </li>
            <li> Life skills-creating a story to show Empathy, Coping with emotions or Teamwork etc.</li>
          </ol> 
      </div>

      <div class="col-md-12 col-sm-12" style="margin-bottom: 10px; ">
        <h2>Science</h2> 
         <ol style ="clear: both;">
            <li>Recycle</li>
            <li>Water</li>
          </ol> 
      </div>
     
      <div class="col-md-12 col-sm-12">
        <p><b>Timelines:</b></p>
        <p>Contest is open from 9 June - 8 July.</p>
      </div>

      <div class="col-md-12 col-sm-12">
          <p><b>Other Guidelines:</b></p>
            <ul style ="clear: both;">
              <li> All stories submitted must be your original work.</li>
              <li> Please don’t use images and illustrations that are NOT your own or are not on StoryWeaver.</li>
              <li> You can submit more than one entry for the contest.</li>
              <li>By submitting your work, you are agreeing to a CC-BY license being applied to it (This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation). To know more about CC-BY, <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">click here</a>.</li>
            </ul> 
       </div>

       <div class="col-md-12 col-sm-12">
        <p>For any other queries. Write to us at <a href="mailto:storyweaver@prathambooks.org." target="_blank">storyweaver@prathambooks.org.</a></p>
      </div>

      <div class="col-md-12 col-sm-12">
        <p><b>Good Luck Teachers!! Make Your Students Proud!!</b></p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <%= link_to "Enter contest now", new_story_path(contest_id: 5), remote: true, class: "btn btn-warning btn-lg hide-in-mob-create contest_story_create_button"%>
          <%= link_to "Enter contest now", stories_translate_path(contest_id: 5), class: "btn btn-warning btn-lg hide-in-mob-create contest_story_create_button"%>
          <div id="newStoryForm">
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="font-size: 13px; padding-top: 15px;">
          <ul style ="clear: both;">
            <li>This contest is open only to Mentor Teachers from Delhi Government Schools.</li>
            <li>Terms and Conditions Apply.</li>
          </ul> 
        </div> 
      </div>
 
      </section>
<%= render :partial => "stories/desktop_only_action_message" %>
