<%= render :partial => "dashboard/errors" %>
<div class="row about-row noborder">
	<div>
		<p><b>Sorry, the last date for submitting entries to <%= @contest.name %> 2017 is over.</b></p>
	</div>
</div>