<div class="row camp_child_head camp_child_did_head">
    <div class="col-md-12 col-sm-12">
    <div class="camp-breadrumb">
      <a class="camp-breadrumb__link" href="/">Home</a>
      <a class="camp-breadrumb__link__about" href="/about">About Us</a>
      <div class="camp_phonestories"><h1 class="PhoneStories_title">PhoneStories</h1></div>
    </div>
    <div class="camp_phonestories_desc camp_watch_desc">
      <h2 class="camp_heading">Pratham Books' PhoneStories invites you to take a walk in the wild with these wonderful guides.</h2>  
    </div>
  </div>
</div>
<div class="camp_pages">
  <div class="camp_pages_inner">
    <div class="camp_right_btn">
      <h1 class="camp_book_title">Did You Hear?</h1>
      <div class="camp_illustrated">
          <p>Written by <a class="comp_link" href="/users/21627-sejal-mehta">Sejal Mehta</a></p>
          <p>Illustrated by <a class="comp_link" href="/users/21577-rohan-chakravarty">Rohan Chakravarty</a></p>
          <p class="camp_right_publish"> Published by <a class="comp_link" 
          href="/publishers/441-pratham-books"> Pratham Books</a></p>
      </div>
      <div class="camp_param">
        <p>Listen carefully and you will find that birds have a lot to say. </p>
      </div>
      <div class="embed-video">
          <iframe width="500" height="311" src="https://www.youtube.com/embed/Hdsfwjm7QgY" frameborder="0" allowfullscreen></iframe>
          <p>Click on the above video to</p>
          <div class="camp_read_btn camp_video_btn">
            <span class="camp_video_txt">Watch Now</span>
          </div>  
      </div>
      <div class="camp_book_cover-wrapper">
        <div class="camp_book_cover">
          <div class="camp_book-card ">
            <div class="camp_book-card__container">
              <div class="camp_book-card__wrapper">
                <div class="camp_book-card__image-wrapper">
                  <div class="camp_book-card__image">
                    <div class="camp-img">
                      <div class="camp-img__wrapper">
                        <img class="camp-img__img" src="<%= asset_path("story_card_img1.jpg") %>"/>
                      </div>     
                    </div>  
                  </div>
                  <div class="camp_book-card__image-overlay"></div>
                </div>
                  <div class="camp_book-card__meta-wrapper">
                    <div class="camp-book-card__level-strip">
                      <span class="camp_book-card__language">English</span>
                      <span class="camp_book-card__level">Level 1</span>
                    </div>
                    <div class="camp-book-card__meta">
                        <h3 class="camp_book-card__title">Did You Hear?</h3>
                        <span class="camp_book-card__author">Sejal Mehta</span>
                    </div>
                  </div>
                  <a href="https://storyweaver.org.in/stories/22064-did-you-hear" class="camp-link camp-link--default camp_book-card__link" target="_blank">Did you hear?</a>
                </div>              
              </div> 
              <div class="camp_read_btn camp_read_btn_ml">
                <a class="camp_read_btn_a" data-remote="true" href="https://storyweaver.org.in/v0/stories/22064/pages/279362">Read Story</a>
              </div>           
            </div>          
          </div>
        </div>  

      <div class="listen_audio">
        <div class="camp_audio_ear">
          <span>
            <img src="<%= asset_path("Hear_Icon.svg") %>" />
          </span>
          <p>To hear the story give a missed call to <span class="comp_link">080 33094244</span></p>
        </div>
        <div class="camp_read_btn camp_audio_hear">
          <a class="camp_read_btn_a" data-toggle="modal" data-target="#myModal_did" id="camp_audio_btn">Hear Now</a>
          <div class="modal fade" id="myModal_did" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" id="close_did">&times;</button>
                </div>
                <div class="modal-body">
                  <audio id="camp_audio_did" controls>
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Did_you_hear_ENGLISH.wav" type="audio/wav" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Did_you_hear_ENGLISH.mp3" type="audio/mp3" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Did_you_hear_ENGLISH.oga" type="audio/ogg" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
        </div> 
        
      </div>
    </div>
      <div class="camp_hindi_blk">
        <p class="camp_hindi">
          <a href="https://storyweaver.org.in/stories/22386-suna-kya" target="_blank">Read,</a> <a href="https://youtu.be/EVP7mWfMbz8" target="_blank">experience </a> and
          <a data-toggle="modal" data-target="#myModal_did_new" id="camp_hindi_audio">hear</a> this book in Hindi too.</p>
          <div class="modal fade" id="myModal_did_new" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" id="close_did_new">&times;</button>
                </div>
                <div class="modal-body">
                  <audio id="camp_audio_did_new" controls>
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Did_you_hear_HINDI.wav" type="audio/wav" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Did_you_hear_HINDI.mp3" type="audio/mp3" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Did_you_hear_HINDI.oga" type="audio/ogg" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- <div class="camp_phone_story1">
        <p>To see our first PhoneStory <span>Watch Out! The Tiger is Here!</span> <a href="/phonestories/watchout">click here.</a></p>
      </div> -->
  </div>
</div>

<div id="storyReader"></div>

<%= render :partial => "/search/story_card" %>

<script>
    $('#camp_audio_btn').click(function() {
      $('#camp_audio_did').trigger("play");
    });
    $('#camp_hindi_audio').click(function() {
      $('#camp_audio_did_new').trigger("play");
    });
    $('#close_did').click(function() {
      $('#myModal_did').modal('hide'); 
      $('#camp_audio_did').trigger("pause");
      var audio = document.getElementById("camp_audio_did");
        audio.currentTime = 0;
    });
    $('#close_did_new').click(function() {
      $('#myModal_did_new').modal('hide'); 
      $('#camp_audio_did_new').trigger("pause");
      var audio = document.getElementById("camp_audio_did_new");
        audio.currentTime = 0;
    });
    $('#myModal_did_new').on('hidden.bs.modal', function (e) {
      $('#myModal_did_new').modal('hide'); 
      $('#camp_audio_did_new').trigger("pause");
      var audio = document.getElementById("camp_audio_did_new");
        audio.currentTime = 0;
    });
    $('#myModal_did').on('hidden.bs.modal', function (e) {
      $('#myModal_did').modal('hide'); 
      $('#camp_audio_did').trigger("pause");
      var audio = document.getElementById("camp_audio_did");
        audio.currentTime = 0;
    });
</script>
