<div class="row camp_child_head camp_laya_head camp_laya_fruit_head">
  <div class="col-md-12 col-sm-12">
    <div class="camp-breadrumb">
      <a class="camp-breadrumb__link" href="/">Home</a>
      <a class="camp-breadrumb__link__about" href="/about">About Us</a>
      <div class="camp_phonestories"><h1 class="PhoneStories_title">PhoneStories</h1></div>
    </div>
    <div class="camp_phonestories_desc camp_watch_desc">
      <h1 class="camp_book_title">What’s inside the big box on the bike?</h1>
      <h2>Find out in the brand new PhoneStory from Pratham Books: “Miss Laya’s Fantastic Motorbike Carries a Big Box.”</h2>
    </div>
  </div>
</div>
<div class="camp_pages">
  <div class="camp_pages_inner">
    <div class="camp_right_btn">
      <h1 class="camp_book_title">Miss Laya’s Fantastic Motorbike Carries a Big Box</h1>
      <div class="camp_illustrated">
          <p>Written by <a class="comp_link" href="/users/690-mala-kumar">Mala Kumar</a></p>
          <p>Illustrated by <a class="comp_link" href="/users/23776-abhishek-choudhury">Abhishek Choudhury</a></p>
          <p class="camp_right_publish"> Published by <a class="comp_link" 
          href="/publishers/441-pratham-books"> Pratham Books</a></p>
      </div>
      <div class="camp_param">
        <p>Miss Laya the Games Teacher loves helping people! Join her and her Fantastic Motorbike as they vroom off with a mysterious box this time around. This is the third in a series of stories called Miss Laya and her Fantastic Motorbike.</p>
      </div>
      <div class="embed-video">
          <iframe width="500" height="311" src="https://www.youtube.com/embed/0lFxeBUPaGw" frameborder="0" allowfullscreen></iframe>
          <p>Click on the above video to</p>
          <div class="camp_read_btn camp_video_btn">
            <span class="camp_video_txt">Watch Now</span>
          </div>  
      </div>
      <div class="camp_book_cover-wrapper">
        <div class="camp_book_cover">
          <div class="camp_book-card ">
            <div class="camp_book-card__container">
              <div class="camp_book-card__wrapper">
                <div class="camp_book-card__image-wrapper">
                  <div class="camp_book-card__image">
                    <div class="camp-img">
                      <div class="camp-img__wrapper">
                        <img class="camp-img__img" src="<%= asset_path("story_camp3.jpg") %>"/>
                      </div>     
                    </div>  
                  </div>
                  <div class="camp_book-card__image-overlay"></div>
                </div>
                  <div class="camp_book-card__meta-wrapper">
                    <div class="camp-book-card__level-strip">
                      <span class="camp_book-card__language">English</span>
                      <span class="camp_book-card__level">Level 1</span>
                    </div>
                    <div class="camp-book-card__meta">
                        <h3 class="camp_book-card__title">Miss Laya’s Fantastic Motorbike Carries a Big Box</h3>
                        <span class="camp_book-card__author">Mala Kumar</span>
                    </div>
                  </div>
                  <a href="https://storyweaver.org.in/stories/26684-miss-laya-s-fantastic-motorbike-carries-a-big-box" class="camp-link camp-link--default camp_book-card__link" target="_blank">Miss Laya’s Fantastic Motorbike is Hungry</a>
                </div>              
              </div> 
              <div class="camp_read_btn">
                <a class="camp_read_btn_a" data-remote="true" href="https://storyweaver.org.in/v0/stories/26684-miss-laya-s-fantastic-motorbike-carries-a-big-box/pages/328798">Read Story</a>
              </div>           
            </div>          
          </div>
        </div>  
      <div class="listen_audio">
        <div class="camp_audio_ear">
          <span>
            <img src="<%= asset_path("Hear_Icon.svg") %>" />
          </span>
          <p>Listen to the audio story</p>
        </div>
        <div class="camp_read_btn camp_audio_hear">
          <a class="camp_read_btn_a" data-toggle="modal" data-target="#myModal_laya_box_eng" id="camp_laya_box_eng">Hear Now</a>
          <div class="modal fade" id="myModal_laya_box_eng" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" id="close_laya_box_eng">&times;</button>
                </div>
                <div class="modal-body">
                  <audio id="camp_audio_box_eng" controls>
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_English.mp3" type="audio/mp3" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_English.wav" type="audio/wav" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_English.oga" type="audio/ogg" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="camp_hindi_blk">
      <p class="camp_hindi">
        <a href="https://storyweaver.org.in/stories/26957-miss-laya-ki-adbhut-phataphatiya-aur-bada-baksa" target="_blank">Read,</a> <a href="https://youtu.be/zUOpddalWw4" target="_blank">experience </a> and 
        <a data-toggle="modal" data-target="#myModal_laya_box_hindi" id="camp_laya_box_hindi">hear</a> this book in Hindi too.</p>
        <div class="modal fade" id="myModal_laya_box_hindi" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="close_laya_box_hindi">&times;</button>
              </div>
              <div class="modal-body">
                <audio id="camp_audio_box_hindi" controls>
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Hindi.mp3" type="audio/mp3" />
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Hindi.wav" type="audio/wav" />
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Hindi.oga" type="audio/ogg" />
                </audio>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="camp_hindi_blk">
      <p class="camp_hindi">
        <a href="https://storyweaver.org.in/stories/26958-layataichi-bhannat-motarbaik-aani-jaduch-bhalanmoth-khok" target="_blank">Read,</a> <a href="https://youtu.be/Bs8_CGokpgg" target="_blank">experience </a> and 
        <a data-toggle="modal" data-target="#myModal_laya_box_marathi" id="camp_laya_box_marathi">hear</a> this book in Marathi too.</p>
        <div class="modal fade" id="myModal_laya_box_marathi" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="close_laya_box_marathi">&times;</button>
              </div>
              <div class="modal-body">
                <audio id="camp_audio_box_marathi" controls>
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Marathi.mp3" type="audio/mp3" />
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Marathi.wav" type="audio/wav" />
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Marathi.oga" type="audio/ogg" />
                </audio>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="camp_hindi_blk">
      <p class="camp_hindi">
        <a href="https://storyweaver.org.in/stories/26959-layaala-bombaat-bikina-adbhutha-pettige" target="_blank">Read</a> and 
        <a data-toggle="modal" data-target="#myModal_laya_box_kannada" id="camp_laya_box_kannada">hear</a> this book in Kannada too.</p>
        <div class="modal fade" id="myModal_laya_box_kannada" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" id="close_laya_box_kannada">&times;</button>
              </div>
              <div class="modal-body">
                <audio id="camp_audio_box_kannada" controls>
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Kannada.mp3" type="audio/mp3" />
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Kannada.wav" type="audio/wav" />
                  <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/miss_laya_3_Kannada.oga" type="audio/ogg" />
                </audio>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div id="storyReader"></div>

<%= render :partial => "/search/story_card" %>

<script>
  $('#camp_laya_box_eng').click(function() {
    $('#camp_audio_box_eng').trigger("play");
  });
  $('#camp_laya_box_hindi').click(function() {
    $('#camp_audio_box_hindi').trigger("play");
  });
  $('#camp_laya_box_marathi').click(function() {
    $('#camp_audio_box_marathi').trigger("play");
  });
  $('#camp_laya_box_kannada').click(function() {
    $('#camp_audio_box_kannada').trigger("play");
  });
  $('#close_laya_box_eng').click(function() {
    $('#myModal_laya_box_eng').modal('hide'); 
    $('#camp_audio_box_eng').trigger("pause");
    var audio = document.getElementById("camp_audio_box_eng");
      audio.currentTime = 0;
  });
  $('#close_laya_box_hindi').click(function() {
    $('#myModal_laya_box_hindi').modal('hide'); 
    $('#camp_audio_box_hindi').trigger("pause");
    var audio = document.getElementById("camp_audio_box_hindi");
      audio.currentTime = 0;
  });
  $('#close_laya_box_marathi').click(function() {
    $('#myModal_laya_box_marathi').modal('hide'); 
    $('#camp_audio_box_marathi').trigger("pause");
    var audio = document.getElementById("camp_audio_box_marathi");
      audio.currentTime = 0;
  });
  $('#close_laya_box_kannada').click(function() {
    $('#myModal_laya_box_kannada').modal('hide'); 
    $('#camp_audio_box_kannada').trigger("pause");
    var audio = document.getElementById("camp_audio_box_kannada");
      audio.currentTime = 0;
  });
  $('#myModal_laya_box_eng').on('hidden.bs.modal', function (e) {
    $('#myModal_laya_box_eng').modal('hide'); 
    $('#camp_audio_box_eng').trigger("pause");
    var audio = document.getElementById("camp_audio_box_eng");
      audio.currentTime = 0;
  });
  $('#myModal_laya_box_hindi').on('hidden.bs.modal', function (e) {
    $('#myModal_laya_box_hindi').modal('hide'); 
    $('#camp_audio_box_hindi').trigger("pause");
    var audio = document.getElementById("camp_audio_box_hindi");
      audio.currentTime = 0;
  });
  $('#myModal_laya_box_marathi').on('hidden.bs.modal', function (e) {
    $('#myModal_laya_box_marathi').modal('hide'); 
    $('#camp_audio_box_marathi').trigger("pause");
    var audio = document.getElementById("camp_audio_box_marathi");
      audio.currentTime = 0;
  });
  $('#myModal_laya_box_kannada').on('hidden.bs.modal', function (e) {
    $('#myModal_laya_box_kannada').modal('hide'); 
    $('#camp_audio_box_kannada').trigger("pause");
    var audio = document.getElementById("camp_audio_box_kannada");
      audio.currentTime = 0;
  });
</script>
