<div class="row camp_child_head camp_child_watch_head">
    <div class="col-md-12 col-sm-12">
    <div class="camp-breadrumb">
      <a class="camp-breadrumb__link" href="/">Home</a>
      <a class="camp-breadrumb__link__about" href="/about">About Us</a>
      <div class="camp_phonestories"><h1 class="PhoneStories_title">PhoneStories</h1></div>
    </div>
    <div class="camp_phonestories_desc camp_watch_desc">
      <h2 class="camp_heading">Pratham Books' first PhoneStory invites you to take a walk in the wild with these wonderful guides. </h2>   
    </div>
  </div>
</div>
<div class="camp_pages">
  <div class="camp_pages_inner">
    <div class="camp_right_btn">
      <h1 class="camp_book_title">Watch Out! The Tiger Is Here!</h1>
      <div class="camp_illustrated">
          <p>Written by <a class="comp_link" href="/users/21627-sejal-mehta">Sejal Mehta</a></p>
          <p>Illustrated by <a class="comp_link" href="/users/21577-rohan-chakravarty">Rohan Chakravarty</a></p>
          <p class="camp_right_publish"> Published by <a class="comp_link" 
          href="/publishers/441-pratham-books"> Pratham Books</a></p>
      </div>
      <div class="camp_param">
        <p>When a tiger moves through the forest, all the animals and birds know! Listen to the different alarm calls that warn everyone in the forest that the tiger is here.</p>
      </div>
      <div class="embed-video">
          <iframe width="500" height="311" src="https://www.youtube.com/embed/7OkxPiAOUDU" frameborder="0" allowfullscreen></iframe>
          <p>Click on the above video to</p>
          <div class="camp_read_btn camp_video_btn">
            <span class="camp_video_txt">Watch Now</span>
          </div>  
      </div>
      <div class="camp_book_cover-wrapper">
        <div class="camp_book_cover">
          <div class="camp_book-card ">
            <div class="camp_book-card__container">
              <div class="camp_book-card__wrapper">
                <div class="camp_book-card__image-wrapper">
                  <div class="camp_book-card__image">
                    <div class="camp-img">
                      <div class="camp-img__wrapper">
                        <img class="camp-img__img" src="<%= asset_path("story_card_img.JPG") %>"/>
                      </div>     
                    </div>  
                  </div>
                  <div class="camp_book-card__image-overlay"></div>
                </div>
                  <div class="camp_book-card__meta-wrapper">
                    <div class="camp-book-card__level-strip">
                      <span class="camp_book-card__language">English</span>
                      <span class="camp_book-card__level">Level 1</span>
                    </div>
                    <div class="camp-book-card__meta">
                        <h3 class="camp_book-card__title">Watch Out! The Tiger is Here!</h3>
                        <span class="camp_book-card__author">Sejal Mehta</span>
                    </div>
                  </div>
                  <a href="https://storyweaver.org.in/stories/21602" class="camp-link camp-link--default camp_book-card__link" target="_blank">Watch Out! The Tiger is Here</a>
                </div>              
              </div> 
              <div class="camp_read_btn">
                <a class="camp_read_btn_a" data-remote="true" href="https://storyweaver.org.in/v0/stories/21602/pages/274561">Read Story</a>
              </div>           
            </div>          
          </div>
        </div>  

      <div class="listen_audio">
        <div class="camp_audio_ear">
          <span>
            <img src="<%= asset_path("Hear_Icon.svg") %>" />
          </span>
          <p>To hear the story give a missed call to <span class="comp_link">080 33094244</span></p>
        </div>
        <div class="camp_read_btn camp_audio_hear">
          <a class="camp_read_btn_a" data-toggle="modal" data-target="#myModal_watch" id="camp_watch_eng">Hear Now</a>
          <div class="modal fade" id="myModal_watch" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" id="close_watch">&times;</button>
                </div>
                <div class="modal-body">
                  <audio id="camp_audio_watch" controls>
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Alarm_Calls_ENGLISH.wav" type="audio/wav" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Alarm_Calls_ENGLISH.mp3" type="audio/mp3" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Alarm_Calls_ENGLISH.oga" type="audio/ogg" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
        </div> 
        
      </div>
    </div>
    <div class="camp_hindi_blk">
        <p class="camp_hindi">
          <a href="https://storyweaver.org.in/stories/22368-dekho-dekho-baagh-aa-gaya" target="_blank">Read,</a> <a href="https://www.youtube.com/watch?v=F6pi-nFrjKg" target="_blank">experience </a> and 
          <a data-toggle="modal" data-target="#myModal_watch_new" id="camp_watch_hindi">hear</a> this book in Hindi too.</p>
          <div class="modal fade" id="myModal_watch_new" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" id="close_watch_new">&times;</button>
                </div>
                <div class="modal-body">
                  <audio id="camp_audio_watch_new" controls>
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Alarm_Calls_HINDI.wav" type="audio/wav" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Alarm_Calls_HINDI.mp3" type="audio/mp3" />
                    <source src="https://storage.googleapis.com/story-weaver-e2e-production/audios/Alarm_Calls_HINDI.oga" type="audio/ogg" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- <div class="camp_phone_story1">
        <p>To see our other <span>PhoneStories</span> <a href="/phonestories">click here.</a></p>
      </div> -->
  </div>
</div>
<div id="storyReader"></div>

<%= render :partial => "/search/story_card" %>

<script>
    $('#camp_watch_eng').click(function() {
      $('#camp_audio_watch').trigger("play");
    });
    $('#camp_watch_hindi').click(function() {
      $('#camp_audio_watch_new').trigger("play");
    });
    $('#close_watch').click(function() {
      $('#myModal_watch').modal('hide'); 
      $('#camp_audio_watch').trigger("pause");
      var audio = document.getElementById("camp_audio_watch");
        audio.currentTime = 0;
    });
    $('#close_watch_new').click(function() {
      $('#myModal_watch_new').modal('hide'); 
      $('#camp_audio_watch_new').trigger("pause");
      var audio = document.getElementById("camp_audio_watch_new");
        audio.currentTime = 0;
    });
    $('#myModal_watch_new').on('hidden.bs.modal', function (e) {
      $('#myModal_watch_new').modal('hide'); 
      $('#camp_audio_watch_new').trigger("pause");
      var audio = document.getElementById("camp_audio_watch_new");
        audio.currentTime = 0;
    });
    $('#myModal_watch').on('hidden.bs.modal', function (e) {
      $('#myModal_watch').modal('hide'); 
      $('#camp_audio_watch').trigger("pause");
      var audio = document.getElementById("camp_audio_watch");
        audio.currentTime = 0;
    });
</script>