<div class="spacing-v"></div>
<div class="image-drawer-content-inner favourites-images">
  <div id="image-draw-full" style="">
    <div class="masonry-img-grid row row-gutter-sm">
      <div class="masonry-img-grid-sizer"></div>
      <div id="process_illustration" class="alert alert-info hide" role="alert">
        The Illutration which you uploaded is still in process. it may take some time to appear on illustration drawer
      </div>
      <div id="illustration-holder">
        <div id="DIV_ILLUSTRATION_FEED">

        </div>
        <div id="NO_RESULTS" class="results-searched hide">
          <div>Like a lot of images but not sure which ones you want to use in your story? Add them to your favourites while browsing. All the images you add to your favourites while creating or editing this story will be saved here.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="load_cards">
  <%= render :partial => "/story_editor/illustration_card" %>
</div>
