<div class="modal modal-image-drawer fade modal--story-creator" id="google_form_dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-body modal-body-app">
     <button type="button" class="close" id="redirect_home" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeEExe8lbnv6AugO5Ise2wfFxrOVu9FTCZRte5z5XMXX4jEDw/viewform" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
     </div>
    </div>
	</div>
</div>

      
