<div id="page_templates">
  <%= render :partial => "/story_editor/page_templates" %>
</div>


<!--<div class="right-image-drawer">
    <div id="map-legend" class="templ-leg" style="display:none;">
        <div id="page_templates">
          <%#= render :partial => "/story_editor/page_templates" %>
        </div>
      </div>
      <div id="map-legend-control" class="templ-control">
        <a id="template-drawer-slide-button" data-slider-open='false' class="templ-btn btn">
          <h2>Change Layouts</h2>
        </a>
    </div>
</div>-->
