<% is_destroy_message ||= false %>
<% if is_destroy_message %>
  <h2>Are you sure you want to delete this text box?</h2>
<% else %>
  <h2>Please check. Some of your text boxes have no text. Publish anyway?</h2>
<% end %>
