<style>

  .close-modal{
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    border: none;
    background: white;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  .close-image{
    width: 1rem;
    height: 1rem;
  }

</style>
<div class="modal modal-image-drawer fade modal--story-creator publish-img-modal" id="storycardModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body modal-body-app">
        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true"><%= image_tag "icons/close_modal.png", class: 'close-image' %></span>
	</button>
	<%= yield %>

       </div>


    </div>
  </div>
</div>
