<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<!-- This file lives in public/404.html -->
<div>
  <img src="<%= asset_path('Error_web_page_final.jpg')%>" width="100%" height="100%">
</div>
</body>
</html>