.fc_h_iT50_cB50.content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  padding:0;
  .book-levels{
    margin-top:9.1%;
    width:68.7%;
    height: auto;
    float: left;
    clear:both;
  }
  .logo-level{
    float:left;
    width: 24.8%;
    top: 14.9%;
    position: relative;
    .pub-logo{
      margin-left:7.2%;
      width:54.7%;
      height:auto;
      float: left;
    }
  }
  .cover-level{
    display:none;
  }
  .cover-text{
    float:left;
    width: 70.6%;
    top: 14.9%;
    position: relative;
  }
}

.fc_h_iT50_cB50.illustration {
  width: 100%;
  height: 50%;
}

.fc_h_iT66_cB33.content {
  position: absolute;
  top: 66.67%;
  width: 100%;
  height: 33.33%;
  padding:0;
  .book-levels{
    margin-top:6.9%;
    width:50.67%;
    height: auto;
    float: left;
    clear:both;
  }
  .logo-level{
    float:left;
    width: 33.7%;
    height: auto;
    top: 14%;
    position: relative;
    .pub-logo{
      margin-left:5.3%;
      width:40.3%;
      float: left;
    }
    .pub_story_logo {
      height: auto;
    }
  }
  .cover-level{
    display:none;
  }
  .cover-text{
    float:left;
    width: 61.7%;
    top: 18%;
    position: relative;
  }
}

.fc_h_iT66_cB33.illustration {
  width: 100%;
  height: 66.67%;
}

.fc_v_iT50_cB50.illustration {
  width: 100%;
  height: 50%;
}

.fc_v_iT50_cB50.content {
  width: 100%;
  height: 50%;
  padding:0 !important;
  .cover-level{
    width: 20%;
  }
  .book-levels{
    margin-top:26%;
    width:74.6%;
    height: auto;
  }
  .logo-level{
    float:left;
    width: 32.9%;
    position: relative;
    top:12.5%;
    .pub-logo{
      margin-left:7.8%;
      width:59.3%;
      height:auto;
    }
  }
  .cover-text{
    float:left;
    width: 60.5%;
    top: 12.5%;
    position: relative;
  }
  .cover-level{
    display:none;
  }
}

.fc_v_iT66_cB33.illustration {
  width: 100%;
  height: 66.67%;
}

.fc_v_iT66_cB33.content {
  width: 100%;
  height: 33.33%;
  padding:0;
  .book-levels{
    margin-top:10%;
    width: 59%;
    height: auto;
  }
  .logo-level{
    float:left;
    position: relative;
    top:6.5%;
    width: 41.6%;
    .pub-logo{
      margin-left:6.5%;
      width:46.9%;
      height:auto;
    }
  }
  .cover-text{
    float:left;
    width: 58.3%;
    top: 9.4%;
    position: relative;
  }
  .cover-level{
    display:none;
  }
}
.cover-text{
  padding-right: 0;
}
