<tr>
	<td align="center">
	  <table width="432px" cellspacing="0" cellpadding="0" border="0" align="center">
	   
	    <tr style="margin-bottom: 20px; float: left;">
	      	<td><strong>Dear <%= resource.name %></strong>,</td>
	    </tr>
	    <tr style="margin-bottom: 20px; float: left;">
	      	<td>A request to change your password was received, You can do this through the link below.</td>
	    </tr>
	    <tr style="margin-bottom: 20px; float: left;">
		  		<td><%= link_to 'Change my password', edit_user_password_url(resource, reset_password_token: @token) %></td>
			</tr>
			<tr style="margin-bottom: 20px; float: left;">
		  		<td>If you didn't request this, please ignore this email.Your password won't change until you access the link above and create a new one.</td>
			</tr>
			<tr style="margin-bottom: 20px; float: left;">
		  		<td>
		  			<p>Happy Weaving!</p>
						<p>Team StoryWeaver</p>
					</td>
			</tr>
		</table>
	</td>
</tr>