<% if flash[:errors].try(:any?) %>
  <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <% flash[:errors].each do |key,value| %>
      <div id="flash_error"><%= "#{key.titleize}: #{value.is_a?(Array) ? value.join(",") : value }" %></div>
      <% end %>
  </div>
<% end %>