<p>
  <% if @org.logo.present? %> 
    <%= image_tag(@org.logo.url(:original), height: 150, width: 150) %>
  <% else %>
    <img src="<%= asset_path('user.svg') %>">
  <%end%>
  <%= simple_form_for :org ,:url => org_logo_path(:org_id => @org.id),:remote => true, html: { multipart: true, id: "logo_form" }, :authenticity_token => true do |f| %>
    <span class="prof_edit">
     <label for="file-input">
       <i class="fa fa-pencil"></i>
     </label>    
      <%= f.file_field :logo, :id=> "logo", as: :file , :class => "user_logo",:onchange => "update_logo();", :id => "file-input" %>
    </span>
  <% end %>
</p>   