<%= render :partial => "errors" %>
<%= render :partial => "tabs" %>

<div class="tab-content profile-page">
  <div role="tabpanel" class="tab-pane active" id="profile-page">
    <%= render :partial => @current_tab %>
  </div>
</div>
