<%= render :partial => "errors" %>
<%= render :partial => "reviewer_tabs" %>
<div class="col-md-12 col-sm-12">
   <h4>Welcome! Rating stories on StoryWeaver is super easy. All you have to do is...</h4>
    
	 <p>1. Go to the 'Stories to Rate’ tab to pick a story to rate.</p>
	 <p>2. To help you choose a story for you to rate, we have included details like reading level, type of story etc.</p>
	 <p>3. Click on the story link of your choice.</p>
	 <p>4. After reading the story, click on the ‘Rate this Story' button (bottom right corner) to fill the Rating Form.</p>
	 <p>5. Fill in your answers and click on the 'Submit' button. You are done!</p>
	 <p>6. Or you could rate later by logging in and clicking on the 'Rate a Story' button from the drop down menu of your Profile (home page, top right corner).</p>
   <p>Here is a quick video tutorial to guide you through the process of rating stories on StoryWeaver. This will help the very best stories reach our community of readers.</p>
   <div class="col-md-12 col-sm-12">
      <h3>How to rate a story on StoryWeaver?</h3>
      <div class="embed-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7UJHCaCyv6I" frameborder="0" width="100%" height="100%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" title="Video player"></iframe>
      </div>
    </div>
	 <p>Like we said, super easy, no?</p>
	 <p>Do write to us at <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a> if you want us to add a language for you to rate stories in. Also, you can drop a line with any queries or feedback. We are all ears.</p>

    <h3 class="review_guidelines">A few Don’ts, and very many Dos:</h3>
    <p>You are helping us reach creative, clean and enjoyable stories to children around the world. A few pointers for rating a story...</p>
    <ul>
      <li>DO pick a story based on Reading Level, Story Type, No. of Pages etc…We have put these in for you to be able to choose the kind of story you would like to rate. This will help you select a story as per your convenience.</li>
      <li>DO read the story to be rated more than once.</li>
      <li>DO read the original version of the story carefully if you're rating a translated or re-levelled story.</li>
      <li> DO pay attention to the nuances of the language and story. This matters hugely in children's stories. E.g.: ‘Manikantan' in English is ‘Manikanthan or मणिकंठन' in Hindi and Marathi based on the phonetic vocabulary of the specific language.</li>
      <li> DO get familiar with our Reading Levels (you can read more about them <a href="https://storyweaver.org.in/reading_levels">here</a>).</li>
      <li>DO keep the reader in mind. Always. This will make the story rating process relevant and meaningful.</li>
      <li>DO leave comments when you rate a fantastic story that deserves a big audience. We will be including the best rated stories by you in StoryWeaver's Editor’s Picks.</li>
      <li>DO add your open comments if you feel the rating questions don’t cover enough ground.</li>
      <li> DO write in to us at <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a>, if you have any specific queries.</li>
      </ul>
      <ul>
      <li>DON'T hesitate to highlight stories or images that are unfit for children to consume or do not comply with our open-licensing guidelines. You can read more about them <a href="https://creativecommons.org/licenses/by/4.0/">here</a>.</li>
      <li>DON'T take spelling errors or factual misrepresentations in the stories lightly. We don’t. Alert us.</li>
      <li>DON'T be very harsh with your ratings. It's not easy to pour out one’s heart and imagination in colours and words.</li>
      <li>DON'T forget to pat yourself on the back. You are helping us take quality stories to children around the world.</li>
    </ul>

    <p>Thanks for rating these stories for us! StoryWeaver needs and appreciates your support.</p>
   
   <p>Click <a href="<%= reviewer_un_reviewed_stories_path %>">here</a> to start right away!</p>
</div>
