<%= render :partial => "errors" %>
<%= render :partial => "translator_tabs" %>
<div class="col-md-12 col-sm-12">
   <h3 class="review_guidelines">A few Don’ts, and very many Dos:</h3>
   <p>A few pointers for translating well...</p>
    <ul>
      <li>DO read the original story more than once.</li>

      <li>DO get familiar with our Reading Levels (read more about them <a href="https://storyweaver.org.in/reading_levels">here</a>) to get to know the child-reader of your story better.</li>

      <li>DO maintain the flavour and essence of the original story in your translation.</li>

      <li>DO pay attention to the nuances of the story and the language you have chosen for translation. This matters hugely in children's stories.</li>

      <li>DO feel free to make edits in the auto-translated draft to ensure that your translation is error-free, nuanced and child-friendly.</li>

      <li>DO read your translation in the preview mode (without the reference text) to see if the text flows naturally.</li>

      <li>DO write in to us at <a href="mailto:storyweaver@example.com">storyweaver@example.com</a>, if you have any specific queries.</li>

      <li>DON’T translate puns and idioms that do not work in the language you have chosen for translation. On the flip side, if a pun or idiom can be used afresh in the translation, you are most welcome.</li>

      <li>DON’T forget to add the story title and synopsis in the language you have chosen for translation in the publish form.</li>

      <li>DON'T forget to pat yourself on the back for a job well done. By translating a story, you are helping a story fly higher and farther.</li>
      </ul>
      
    <%#=
    <div class="col-md-12 col-sm-12">
      <h3>Watch this short tutorial below to see how this works</h3>
      <div class="embed-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sxKoOii6BmQ" frameborder="0" width="100%" height="100%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" title="Video player"></iframe>
      </div>
    </div>
    %>

  <p>To know more about the translation process, read <a href="https://storyweaver.org.in/faqs#faq3">Frequently Asked Questions</a> about translation.</p>

  <p>Happy translating!</p>

</div>
